<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Calificar Función',~{::style})">
        <style>
            .card__cover {
                overflow-x: hidden;
            }

            .card__cover img {
                display: block;
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                margin-top: 0;
                aspect-ratio: 9 / 15;
            }

            input[type="radio"] {
                display: none;
            }

            label {
                color: grey;
            }

            .clasificacion {
                direction: rtl;
                unicode-bidi: bidi-override;
            }

            .clasificacion label{
                font-size: 40px;
            }

            label:hover,
            label:hover ~ label {
                color: #ff5860;
            }

            input[type="radio"]:checked ~ label {
                color: #ff5860;
            }

            @media(max-width: 576px){
                .clasificacion label{
                    font-size: 20px;
                }
            }

        </style>
    </head>
    <body class="body" style="background: #2b2b31;">
        <div th:replace="fragments/navbar :: usuario('')"></div>

        <section class="inicio" style="background: url(../../img/section/section.jpg) center center / cover no-repeat; height: 15rem">
            <div class="col-12" th:if="${mensajeadvertencia != null}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    <strong th:text="${mensajeadvertencia}"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </section>

        <section class="content" style="background-color: #2b2b31; padding:0; padding-bottom: 50px">

            <div class="content__head">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- content title -->
                            <h2 class="content__title">Reseñas</h2>
                            <!-- end content title -->

                            <!-- content tabs nav -->
                            <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tab-1"
                                       role="tab" aria-controls="tab-1" aria-selected="true">Obra</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-2"
                                       role="tab" aria-controls="tab-2" aria-selected="false">Sede</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-3"
                                       role="tab" aria-controls="tab-3" aria-selected="false">Actores</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-4"
                                       role="tab" aria-controls="tab-4" aria-selected="false">Directores</a>
                                </li>
                            </ul>
                            <!-- end content tabs nav -->

                            <!-- content mobile tabs nav -->
                            <div class="content__mobile-tabs" id="content__mobile-tabs">
                                <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation"
                                     id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="Obra">
                                    <span></span>
                                </div>

                                <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1"
                                               role="tab" aria-controls="tab-1" aria-selected="true">Obra</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2"
                                               role="tab" aria-controls="tab-2" aria-selected="false">Sede</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3"
                                               role="tab" aria-controls="tab-3" aria-selected="false">Actores</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="4-tab" data-toggle="tab" href="#tab-4"
                                               role="tab" aria-controls="tab-4" aria-selected="false">Directores</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <!-- end content mobile tabs nav -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- content tabs -->

                        <form method="post" th:action="@{/guardarCalificacion}">

                            <div class="tab-content" id="myTabContent" style="margin-bottom: 10px">
                                <!-- Obra -->
                                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-12" style="padding-inline: 50px">
                                            <div class="card__cover">
                                                <img th:src="${caratula.getRuta()}" alt="portada">
                                                <a class="card__play" th:href="@{'/cartelera/DetallesObra?id=' + ${caratula.idobra.id}}">
                                                    <i class="icon ion-ios-play"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-sm-6 col-12">
                                            <div class="card__content">
                                                <h3 class="card__title">
                                                    <a th:href="@{'/cartelera/DetallesObra?id=' + ${caratula.idobra.id}}"
                                                       th:text="${obra.nombre}"></a>
                                                </h3>
                                                <span class="card__category">
                                                        <a href="#" th:each="obraGenero : ${listaObraGenero}"
                                                           th:if="${obraGenero.idobra.id == obra.id }"
                                                           th:text="${obraGenero.idgenero.nombre}"></a>
                                                    </span>

                                                <div class="card__wrap">
                                                     <span class="card__rate">
                                                         <i class="icon ion-ios-star"></i>
                                                         <span th:text="${obra.calificacion == null ? '--': obra.calificacion}"></span>
                                                     </span>

                                                    <ul class="card__list">
                                                        <li th:text="${obra.restriccionedad == 1 ? '16+': 'Todo Público'}"></li>
                                                    </ul>
                                                </div>

                                                <div class="card__description">
                                                    <p th:text="${obra.descripcion}"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <input name="idobra" th:value="${obra.id}" hidden>
                                        <input name="id" th:value="${id}" hidden>

                                        <div class="col-lg-6 col-12 form mt-4" th:unless="${listaObrasCalificadas.contains(obra)}">

                                            <input id="estrellasObra" name="obra" value="0" hidden>

                                            <div class="clasificacion" style="text-align: center">
                                                <input th:id="|raadio1${obra.id}|" type="radio" name="radioObra" value="5" onclick="calificarObra(this.id)">
                                                <label th:for="|raadio1${obra.id}|">★</label>
                                                <input th:id="|raadio2${obra.id}|" type="radio" name="radioObra" value="4" onclick="calificarObra(this.id)">
                                                <label th:for="|raadio2${obra.id}|">★</label>
                                                <input th:id="|raadio3${obra.id}|" type="radio" name="radioObra" value="3" onclick="calificarObra(this.id)">
                                                <label th:for="|raadio3${obra.id}|">★</label>
                                                <input th:id="|raadio4${obra.id}|" type="radio" name="radioObra" value="2" onclick="calificarObra(this.id)">
                                                <label th:for="|raadio4${obra.id}|">★</label>
                                                <input th:id="|raadio5${obra.id}|" type="radio" name="radioObra" value="1" onclick="calificarObra(this.id)">
                                                <label th:for="|raadio5${obra.id}|">★</label>
                                            </div>

                                            <label>Comentario</label>
                                            <textarea class="sign__input" id="descripcion" rows="4" maxlength="500" name="descripcion"
                                                      placeholder="Deje un Comentario sobre la Obra" style="width: 100%; height: calc(100% - 100px); resize: none"></textarea>
                                        </div>

                                        <div class="col-md-6 col-12" th:if="${listaObrasCalificadas.contains(obra)}" style="display: flex; align-items: center; justify-content: center;">
                                                <input id="estrellasObra" name="obra" value="0" hidden>
                                                <textarea id="descripcion" maxlength="500" name="descripcion" hidden></textarea>
                                                <h3 class="card__title"><b>Usted ya ha calificado esta obra</b></h3>
                                        </div>
                                    </div>
                                </div>

                                <!-- Sede -->
                                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-12" style="padding-inline: 40px">
                                            <div class="card__cover">
                                                <img th:src="${fotosede.ruta}" alt="sede">
                                                <a class="card__play" th:href="@{'/sedes/DetallesSede?id=' + ${fotosede.idsede.id}}">
                                                    <i class="icon ion-ios-play"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-sm-6 col-12">
                                            <div class="card__content">
                                                <h3 class="card__title">
                                                    <a th:href="@{'/sedes/DetallesSede?id=' + ${fotosede.idsede.id}}"
                                                       th:text="${fotosede.idsede.nombre}"></a>
                                                </h3>

                                                <div class="card__wrap">
                                                     <span class="card__rate">
                                                         <i class="icon ion-ios-star"></i>
                                                         <span th:text="${fotosede.idsede.calificacion == null ? '--': fotosede.idsede.calificacion}"></span>
                                                     </span>
                                                </div>

                                                <div class="card__description">
                                                    <p th:text="${fotosede.idsede.descripcion}"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <input name="idsede" th:value="${sede.id}" hidden>

                                        <div class="col-lg-5 col-12 form mt-4" th:unless="${listaSedesCalificadas.contains(sede))}">

                                            <input id="estrellasSede" name="sede" value="0" hidden>

                                            <div class="clasificacion" style="text-align: center">
                                                <input th:id="|raaadio1${sede.id}|" type="radio" name="radioSede" value="5" onclick="calificarSede(this.id)">
                                                <label th:for="|raaadio1${sede.id}|">★</label>
                                                <input th:id="|raaadio2${sede.id}|" type="radio" name="radioSede" value="4" onclick="calificarSede(this.id)">
                                                <label th:for="|raaadio2${sede.id}|">★</label>
                                                <input th:id="|raaadio3${sede.id}|" type="radio" name="radioSede" value="3" onclick="calificarSede(this.id)">
                                                <label th:for="|raaadio3${sede.id}|">★</label>
                                                <input th:id="|raaadio4${sede.id}|" type="radio" name="radioSede" value="2" onclick="calificarSede(this.id)">
                                                <label th:for="|raaadio4${sede.id}|">★</label>
                                                <input th:id="|raaadio5${sede.id}|" type="radio" name="radioSede" value="1" onclick="calificarSede(this.id)">
                                                <label th:for="|raaadio5${sede.id}|">★</label>
                                            </div>

                                            <label>Comentario</label>
                                            <textarea class="sign__input" id="descripcionsede" rows="4" maxlength="500" name="descripcionsede"
                                                      placeholder="Deje un Comentario sobre la Sede" style="width: 100%; height: calc(100% - 100px); resize: none"></textarea>
                                        </div>

                                        <div class="col-md-5 col-12" th:if="${listaSedesCalificadas.contains(sede)}" style="display: flex; align-items: center; justify-content: center;">
                                            <input id="estrellasSede" name="sede" value="0" hidden>
                                            <textarea id="descripcionsede" maxlength="500" name="descripcionsede" hidden></textarea>
                                            <h3 class="card__title"><b>Usted ya ha calificado a esta sede</b></h3>
                                        </div>
                                    </div>
                                </div>

                                <!-- Actores -->
                                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                                    <div class="row">
                                        <div class="col-6 col-md-4 col-lg-3" th:each=" actor : ${listaActores}">
                                            <div class="card card--list" style="text-align: center; margin-bottom: 20px">
                                                <div class="card__cover">
                                                    <img th:each="foto : ${fotosPersonas}"
                                                         th:if="${(foto.idpersona != null) && (foto.idpersona.id == actor.id) && (foto.numero == 0)}"
                                                         th:src="${foto.ruta}" alt="portada">
                                                    <a href="#" class="card__play">
                                                        <i class="icon ion-ios-play"></i>
                                                    </a>
                                                </div>
                                                <h3 class="card__title mt-2" style="font-size: 15px">
                                                    <a href="#"
                                                       th:text="${actor.nombres}"></a>
                                                </h3>
                                                <h3 class="card__title" style="font-size: 15px">
                                                    <a href="#"
                                                       th:text="${actor.apellidos}"></a>
                                                </h3>
                                                <div th:unless="${listaPersonasCalificadas.contains(actor)}">
                                                    <input th:id="|estrellasActor${actor.id}|" name="actores" value="0" hidden>
                                                    <p class="clasificacion mt-2">
                                                        <input th:id="|radio1${actor.id}|" th:name="|radio${actor.id}|" type="radio" value="5" onclick="calificarActor(this.id)">
                                                        <label th:for="|radio1${actor.id}|">★</label>
                                                        <input th:id="|radio2${actor.id}|" th:name="|radio${actor.id}|" type="radio" value="4" onclick="calificarActor(this.id)">
                                                        <label th:for="|radio2${actor.id}|">★</label>
                                                        <input th:id="|radio3${actor.id}|" th:name="|radio${actor.id}|" type="radio" value="3" onclick="calificarActor(this.id)">
                                                        <label th:for="|radio3${actor.id}|">★</label>
                                                        <input th:id="|radio4${actor.id}|" th:name="|radio${actor.id}|" type="radio" value="2" onclick="calificarActor(this.id)">
                                                        <label th:for="|radio4${actor.id}|">★</label>
                                                        <input th:id="|radio5${actor.id}|" th:name="|radio${actor.id}|" type="radio" value="1" onclick="calificarActor(this.id)">
                                                        <label th:for="|radio5${actor.id}|">★</label>
                                                    </p>
                                                </div>
                                                <div th:if="${listaPersonasCalificadas.contains(actor)}">
                                                    <div class="row" style="text-align: center">
                                                        <input th:id="|estrellasActor${actor.id}|" name="actores" value="0" hidden>
                                                        <h3 class="card__title" style="font-size: 15px"><b>Usted ya ha calificado a este actor</b></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Directores -->
                                <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="4-tab">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-6" th:each=" director : ${listaDirectores}">
                                            <div class="card card--list" style="text-align: center; margin-bottom: 20px">
                                                <div class="card__cover">
                                                    <img th:each="foto : ${fotosPersonas}"
                                                         th:if="${(foto.idpersona != null) && (foto.idpersona.id == director.id) && (foto.numero == 0)}"
                                                         th:src="${foto.ruta}" alt="portada">
                                                    <a href="#" class="card__play">
                                                        <i class="icon ion-ios-play"></i>
                                                    </a>
                                                </div>
                                                <h3 class="card__title mt-2" style="font-size: 15px">
                                                    <a href="#"
                                                       th:text="${director.nombres}"></a>
                                                </h3>
                                                <h3 class="card__title" style="font-size: 15px">
                                                    <a href="#"
                                                       th:text="${director.apellidos}"></a>
                                                </h3>
                                                <div th:unless="${listaPersonasCalificadas.contains(director)}">
                                                    <input th:id="|estrellasDirector${director.id}|" name="directores" value="0" hidden>
                                                    <div class="clasificacion mt-2">
                                                        <input th:id="|radio1${director.id}|" th:name="|radio${director.id}|" type="radio" value="5" onclick="calificarDirector(this.id)">
                                                        <label th:for="|radio1${director.id}|">★</label>
                                                        <input th:id="|radio2${director.id}|" th:name="|radio${director.id}|" type="radio" value="4" onclick="calificarDirector(this.id)">
                                                        <label th:for="|radio2${director.id}|">★</label>
                                                        <input th:id="|radio3${director.id}|" th:name="|radio${director.id}|" type="radio" value="3" onclick="calificarDirector(this.id)">
                                                        <label th:for="|radio3${director.id}|">★</label>
                                                        <input th:id="|radio4${director.id}|" th:name="|radio${director.id}|" type="radio" value="2" onclick="calificarDirector(this.id)">
                                                        <label th:for="|radio4${director.id}|">★</label>
                                                        <input th:id="|radio5${director.id}|" th:name="|radio${director.id}|" type="radio" value="1" onclick="calificarDirector(this.id)">
                                                        <label th:for="|radio5${director.id}|">★</label>
                                                    </div>
                                                </div>
                                                <div th:if="${listaPersonasCalificadas.contains(director)}">
                                                    <div class="row" style="text-align: center">
                                                        <input th:id="|estrellasDirector${director.id}|" name="directores" value="0" hidden>
                                                        <h3 class="card__title" style="font-size: 15px"><b>Usted ya ha calificado a este director</b></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--style="margin-inline: auto"-->
                            <div style="text-align: center;">
                                <a class="cancel__btn" style="display:inline; padding-right: 20px;" th:href="@{/historial}">Cancelar</a>
                                <button type="submit" class="form__btn" style="display:inline;" >Calificar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <div th:replace="fragments/footer :: js(~{::script})">
            <script>
                function calificarObra(calificacionObra) {
                    console.log(document.getElementById(calificacionObra).value);
                    document.getElementById("estrellasObra").value = document.getElementById(calificacionObra).value;
                }

                function calificarActor(calificacionActor) {
                    console.log(document.getElementById(calificacionActor).value);
                    // console.log(calificacionActor);
                    let id = calificacionActor.substr(6);
                    // console.log(id);
                    // console.log("estrellasActor"+id);
                    document.getElementById("estrellasActor"+id).value = document.getElementById(calificacionActor).value;
                }

                function calificarDirector(calificacionDirector) {
                    console.log(document.getElementById(calificacionDirector).value);
                    // console.log(calificacionDirector);
                    let id = calificacionDirector.substr(6);
                    // console.log(id);
                    // console.log("estrellasDirector"+id);
                    document.getElementById("estrellasDirector"+id).value = document.getElementById(calificacionDirector).value;
                }

                function calificarSede(calificacionSede) {
                    console.log(document.getElementById(calificacionSede).value);
                    document.getElementById("estrellasSede").value = document.getElementById(calificacionSede).value;
                }

            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
        </div>
    </body>
</html>