<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Crear Funcion',~{::style})">
        <style>
            input::placeholder {
                color: #000000;
            }
            div.card__cover img {
                margin-inline: auto;
                max-height: 150px;
                max-width: fit-content;
            }
            #images{
                width: 90%;
                position: relative;
                margin: auto;
                display: flex;
            }
            .owl-dots{
                height: 0;
            }
        </style>
    </head>
<!--
<body style="; background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">-->
<body >
<!-- header -->
    <div th:replace="fragments/navbar :: operador('crear')"></div>
<!-- end header -->
<div class="content">
    <div class="container" style="margin-bottom: 30px;opacity: 200%">
        <div class="row">
            <form method="post" th:action="@{'/operador/funciones/guardar'}" th:object="${funcion}" enctype="multipart/form-data">

                <div class="card" style="margin-left: 3%;background-color:#e64166">
                    <div class="card-header" style="text-align: center;color: #FFFFFF">
                        <span style="font-family: 'Barlow', sans-serif; font-size: xx-large"
                              th:text="${funcion.id == 0 ? 'Crear función' : 'Editar función'}"></span>
                    </div>
                    <div class="card-body" style="background-color:#e64166">
                        <div class="row">
                            <div class="col-5">

                                    <select id="fotos-para-eliminar" name="eliminar" hidden multiple>

                                        <!--Aqui cada opcion tendria el id de una imagen del actor almacenada en DB-->
                                        <option th:each="imagen : ${imagenes}"
                                                th:id="|img-${imagen.id}|"
                                                th:value="${imagen.id}"></option>
                                    </select>

                                    <div class="form-group row" style="padding-top: 5%">
                                        <input type="hidden" th:field="*{id}">
                                        <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;margin-left: 10%;padding-bottom: 2%">
                                            <u>Información de la función</u></h5>
                                        <label  class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Nombre de la
                                            función: </label>
                                        <div class="col-sm-8">
                                            <input type="text" style="text-align: center" class="form-control" th:field="*{nombre}"
                                                   placeholder="Nombre">
                                            <div class="text-danger" th:if="${#fields.hasErrors('nombre')}"
                                                 th:errors="*{nombre}"></div>
                                        </div>
                                        <label  class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Fecha-hora de la
                                            función: </label>
                                        <div class='col-sm-8' th:if="${val==null}">
                                            <input id="fecha" type="datetime-local" th:value="|${funcion.getFecha()}T${funcion.getInicio()}|" name="fechamasinicio"
                                                   th:min="${fechaactual}" max="2022-06-14T00:00"
                                                   style="width: 100%;height: 80%;text-align: center;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px" required>
                                            <div class="text-danger" th:if="${#fields.hasErrors('fecha')}"
                                                 th:errors="*{fecha}"></div>

                                        </div>
                                        <div class='col-sm-8' th:if="${val!=null}">
                                            <input id="fecha1" type="datetime-local" th:value="${fechamasinicio}" name="fechamasinicio"
                                                   th:min="${fechaactual}" max="2022-06-14T00:00"
                                                   style="width: 100%;height: 80%;text-align: center;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px" required>
                                            <div class="text-danger" th:if="${msgfecha!=null}" th:text="${msgfecha}"></div>

                                        </div>


                                        <label  class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Restricción de
                                            edad</label>
                                        <div class="col-sm-8" style="padding-top: 30px;padding-bottom: 30px">
                                            <div class="col-sm-10" id="restriccion">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="restriccionedad"
                                                           id="1" value="1" th:checked="${funcion.getRestriccionedad() == 1}">
                                                    <label class="form-check-label" for="1"
                                                           style="color: #FFFFFF;font-size: large">
                                                        Sí
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="restriccionedad"
                                                           id="0" value="0" th:checked="${funcion.getRestriccionedad() == 0}">
                                                    <label class="form-check-label" for="0"
                                                           style="color: #FFFFFF;font-size: large">
                                                        No
                                                    </label>
                                                </div>
                                                <div class="text-danger" th:if="${#fields.hasErrors('restriccionedad')}"
                                                     th:errors="*{restriccionedad}"></div>
                                            </div>
                                        </div>
                                        <label for="duracion" class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Duracion(en
                                            minutos):
                                        </label>
                                        <div class='col-sm-8'>
                                            <input id="duracion" th:value="|${funcion.id==0 ? '' : duracion}|" name="duracion" type="number"
                                                   style="width: 100%;height: 80%;text-align: center;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px">
                                            <div class="text-danger" th:if="${msgduracion!=null}" th:text="${msgduracion}"></div>
                                        </div>
                                        <label  class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Precio por
                                            entrada:
                                        </label>
                                        <div class='col-sm-8' style="padding-top: 10px;">
                                            <input  type="number" min="5"  step="0.5" th:field="*{precioentrada}"
                                                   style="width: 100%;height: 80%;text-align: center;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px">
                                            <div class="text-danger" th:if="${#fields.hasErrors('precioentrada')}"
                                                 th:errors="*{precioentrada}"></div>
                                        </div>
                                        <label for="Sede" class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Sede:
                                        </label>
                                        <div class='col-sm-8' style="padding-top: 10px;">
                                            <input id="Sede" type="text"  disabled th:value="${session.usuario.getIdsede().getNombre()}"
                                                   style="width: 100%;height: 80%;text-align: center;background-color: #FFFFFF;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px">
                                        </div>

                                        <label  class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Sala:
                                        </label>
                                        <div class='col-sm-8' style="padding-top: 10px;">

                                            <select th:field="*{sala}" class="col-12" style="display: block;width: 100%;height: calc(1.5em + 0.75rem + 2px);padding: 0.375rem 0.75rem;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #495057;background-color: #fff; background-clip: padding-box;border: 1px solid #ced4da;border-radius: 0.25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
                                                <option th:each="sala : ${listaSalasporSede}"
                                                        th:text="|Sala-${sala.getNumero()}|"
                                                        th:value="${sala.getId()}" >></option>
                                            </select>

                                        </div>
                                        <label for="stock" class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Stock:
                                        </label>
                                        <div class='col-sm-8' style="padding-top: 3px;">
                                            <input id="stock" type="number" min="1" max="100" th:field="*{stockentradas}"
                                                   style="width: 100%;height: 80%;text-align: center;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px">
                                            <div class="text-danger" th:if="${#fields.hasErrors('stockentradas')}"
                                                 th:errors="*{stockentradas}"></div>
                                        </div>

                                        <label for="descripcion" class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Descripcion
                                        </label>
                                        <div class='col-sm-8' style="padding-top: 10px;">
                                            <textarea id="descripcion" class="form-control" rows="4" maxlength="500" th:field="*{descripcion}"
                                                      style="width: 100%;height: 80%;text-align: center;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px">
                                            </textarea>
                                            <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}"
                                                 th:errors="*{descripcion}"></div>
                                        </div>
                                    </div>


                            </div>
                            <div class="col-1" style="text-align: center">

                            </div>
<!--                            <div class="col-5" style="margin-top: 2%">-->
<!--                                <div class="col-4">-->
<!--                                    <h1 class="details__title" style="font-size: 1.5rem; margin-bottom: 5px">Imágenes</h1>-->
<!--                                </div>-->
<!--                                <div class="col-1">-->
<!--                                    <button class="home__nav home__nav&#45;&#45;next" type="button" style="margin-right: 2px">-->
<!--                                        <i class="icon ion-ios-arrow-round-forward"></i>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="image-upload" style="align-content: center;margin-top: 2%">-->
<!--                                    <label for="file-input" style="margin-left: 15%">-->
<!--                                        <img src="https://cdn-icons-png.flaticon.com/512/56/56887.png"-->
<!--                                             style="background-color: #FFFFFF;width: 50%;height: 50%;position: center;border-radius: 10px"-->
<!--                                             alt="imagenes">-->
<!--                                    </label>-->
<!--                                    <input id="file-input" type="file" multiple/>-->
<!--                                </div>-->
<!--                                <br>-->
<!--                                <h5 style="color: #FFFFFF;margin-left: 12%"><b>Seleccione dando click</b></h5>-->
<!--                            </div>-->

                            <!--Selector Imagenes-->
                            <div class="col-md-6 col-8" style="padding-left: 10px">

                                <!--Encabezado-->
                                <section class="section section--first" style="margin: 0; padding:10px">
                                    <div class="row">
                                        <div class="col-md-9 col-6">
                                            <h1 class="details__title" style="font-size: 1.5rem; margin-bottom: 5px">Imágenes</h1>
                                        </div>
                                        <div class="col-md-3 col-2">
                                            <button class="home__nav home__nav--prev" type="button" style="margin-right: 2px">
                                                <i class="icon ion-ios-arrow-round-back"></i>
                                            </button>
                                            <button class="home__nav home__nav--next" type="button" style="margin-right: 2px">
                                                <i class="icon ion-ios-arrow-round-forward"></i>
                                            </button>
                                        </div>
                                    </div>
                                </section>

                                <div>
                                    <div class="row align-items-center">
                                        <div class="col-8 col-sm-8">

                                            <!--Visor de Imagenes-->
                                            <div class="owl-carousel photo__carousel" id="img_container">

                                                <div class="item" th:each="foto : ${imagenes}">
                                                    <div th:id="|old-${foto.numero-1}|" class="card__cover">

                                                        <img th:src="${foto.ruta}" style="margin-inline: auto;max-height: 150px;max-width: fit-content;">

                                                        <a class="card__play" style="cursor: pointer" th:onclick="|eliminarEnDB(${foto.id})|">
                                                            <i class="bi bi-x" style="color: white"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Boton para agregar imagenes -->
                                            <div class="card__wrap">
                                                <label class="input__btn" for="file-input" style="margin: auto;margin-top: 5px;">
                                                    Nueva Foto
                                                </label>
                                                <input name="imagenes" type="file" id="file-input" accept="image/png, image/jpeg, image/jpg"
                                                       style="display: none" onchange="preview()" multiple>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;justify-content: center">
                            <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;padding-bottom: 0.5%">
                                <u>Genero</u></h5>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;margin-left: 20%;padding-bottom: 0.5%">
                                    <u>Generos</u></h5>
                                <label style="color: #FFFFFF"><b>Seleccione los generos</b></label>
                                <br>
                                <select class="form-select" name="idgenero" size="3" multiple
                                        aria-label="multiple select example" th:if="${sval==1}">
                                    <option disabled>Seleccione los generos con (+Ctrl)</option>
                                    <option th:each="genero : ${listGeneros}"
                                            th:text="|${genero.nombre}|"
                                            th:value="${genero.id}"
                                            th:selected="${#arrays.contains(generosFuncion,genero.id)}"></option>
                                </select>


                                <select class="form-select" name="idgenero" size="3" multiple
                                         aria-label="multiple select example" th:unless="${sval==1}">
                                    <option disabled>Seleccione los generos con (+Ctrl)</option>
                                    <option th:each="genero : ${listGeneros}"
                                            th:text="|${genero.nombre}|"
                                            th:value="${genero.id}"></option>
                                </select>
                            </div>

                        </div>

                        <div style="display: flex;justify-content: center">
                            <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;padding-bottom: 0.5%">
                                <u>Elenco de artistas</u></h5>
                        </div>

                        <div class="row">
                            <div class="col-5">
                                <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;margin-left: 20%;padding-bottom: 0.5%">
                                    <u>Actores</u></h5>
                                <label style="color: #FFFFFF"><b>Seleccione los actores</b></label>
                                <br>
                                <select class="form-select" name="idactor" size="3" multiple
                                        aria-label="multiple select example" th:if="${sval==1}">
                                    <option disabled>Seleccione los actores con (+Ctrl)</option>
                                    <option th:each="actores,indice : ${listActores}"
                                            th:text="|${actores.nombres} ${actores.apellidos}|"
                                            th:value="${actores.id}"
                                            th:selected="${#arrays.contains(actoresFuncion,actores.id)}"></option>></option>
                                </select>

                                <select class="form-select" name="idactor" size="3" multiple
                                        aria-label="multiple select example" th:unless="${sval==1}">
                                    <option disabled>Seleccione los actores con (+Ctrl)</option>
                                    <option th:each="actores,indice : ${listActores}"
                                            th:text="|${actores.nombres} ${actores.apellidos}|"
                                            th:value="${actores.id}"></option>
                                </select>
                            </div>
                            <div class="col-2">

                            </div>
                            <div class="col-5">
                                <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;margin-left: 20%;padding-bottom: 2%">
                                    <u>Directores</u></h5>


                                <label  style="color: #FFFFFF"><b>Seleccione los directores</b></label>
                                <br>
                                <select class="form-select" name="iddirector" size="3" multiple
                                        aria-label="multiple select example" th:if="${sval==1}">
                                    <option disabled>Seleccione los Directores con (+Ctrl)</option>
                                    <option th:each="directores : ${listDirectores}"
                                            th:text="|${directores.nombres} ${directores.apellidos}|"
                                            th:value="${directores.id}"
                                    th:selected="${#arrays.contains(directoresFuncion,directores.id)}"></option>
                                </select>

                                <select class="form-select" name="iddirector" size="3" multiple
                                        aria-label="multiple select example" th:unless="${sval==1}">
                                    <option disabled>Seleccione los Directores con (+Ctrl)</option>
                                    <option th:each="directores : ${listDirectores}"
                                            th:text="|${directores.nombres} ${directores.apellidos}|"
                                            th:value="${directores.id}"></option>
                                </select>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <a class="sign__btn" type="submit" th:href="@{/operador/funciones/lista}" >
                            Regresar
                        </a>


                    </div>
                    <div class="col-6">

                    </div>

                    <div class="col-3">
                        <button class="sign__btn" type="submit"
                        >Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <br>

    </div>
</div>
    <div th:replace="fragments/footer :: js(~{::script})">


        <script>
            // El input donde se agregan las imágenes
            let fileInput = document.getElementById("file-input");
            // Donde se muestran las vistas previas
            let imgContainer = document.getElementById("img_container");

            // Agrega y quita imagenes de la vista previa e input
            function preview(){

                for(i of fileInput.files){

                    let reader = new FileReader();

                    // Contenedor de la imagen + botones
                    let item = document.createElement("div");
                    item.className="item";

                    // Overlay para eliminar
                    let cover = document.createElement("div");
                    cover.className="card__cover";

                    // Botón de eliminar
                    let button = document.createElement("a");
                    button.className = "card__play new";
                    button.setAttribute("style","cursor: pointer")
                    cover.appendChild(button)

                    // Activar la opción de borrar imagen
                    button.onclick = function (){

                        const dt = new DataTransfer()

                        //lista con todas las fotos NUEVAS (Agregadas al editar) en el imgContainer
                        let items = document.querySelectorAll('div.owl-item:not( .cloned) > div > div > a.new');

                        // console.log("Antes", fileInput.files)

                        // Se quita del input la imagen mostrada
                        for (let i = 0; i < items.length; i++) {
                            let item = items[i].parentElement.parentElement.parentElement;

                            if (item.className !== "owl-item active") {
                                let file = fileInput.files[i];
                                // console.log(file, item.className)
                                dt.items.add(file);
                            }
                        }
                        // Se actualiza el input
                        fileInput.files = dt.files;
                        // console.log("Despues",fileInput.files)

                        // Se elimina la imagen en la vista previa
                        cover.parentElement.parentElement.remove();
                        refresh()
                    };

                    // Icono de la cruz
                    let close = document.createElement("i");
                    close.className = "bi bi-x";
                    close.setAttribute("style","color: white")

                    button.appendChild(close)

                    // Crea las imágenes de la vista previa
                    reader.onload=()=>{
                        let img = document.createElement("img");
                        img.setAttribute("src",reader.result);

                        cover.appendChild(img);
                    }
                    item.appendChild(cover)

                    imgContainer.appendChild(item);
                    reader.readAsDataURL(i);
                }

                // Vuelve a cargar el deslizador
                refresh()
            }

            // Actualiza la vista previa, despues de agregar o quitar imágenes
            function refresh() {
                $('.owl-carousel').trigger('destroy.owl.carousel');
                var $owl = $('.owl-carousel').owlCarousel({
                    loop: true,
                    smartSpeed: 600,
                    margin: 60,
                    items: 1
                });
                $owl.trigger('refresh.owl.carousel');
            }

            // Marca una de las imágenes ya en la DB para ser eliminada
            function eliminarEnDB(id){

                // Se busca en un select la opción correspondiente a la imagen clickeada
                let opcion = document.getElementById("img-"+id);
                opcion.selected = "selected";

                // Se busca la imagen en la vista previa y se elimina
                let item = imgContainer.getElementsByClassName("active").item(0);
                //console.log(item)
                item.remove();

                refresh()
            }

        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous">
        </script>
    </div>
</body>
</html>