<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Crear Funcion',~{::style})">
        <style>
            input::placeholder {
                color: #000000;
            }
        </style>
    </head>
<!--
<body style="; background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">-->
<body >
<!-- header -->
    <div th:replace="fragments/navbar :: operador('crear')"></div>
<!-- end header -->
<div class="content">
    <div class="container" style="margin-bottom: 30px;opacity: 200%">
        <div class="row">
            <form method="post" th:action="@{'/operador/funciones/guardar'}" th:object="${funcion}" enctype="multipart/form-data">
                <div class="card" style="margin-left: 3%;background-color:#e64166">
                    <div class="card-header" style="text-align: center;color: #FFFFFF">
                        <span style="font-family: 'Barlow', sans-serif; font-size: xx-large">Añada una función</span>
                    </div>
                    <div class="card-body" style="background-color:#e64166">
                        <div class="row">
                            <div class="col-5">

                                    <div class="form-group row" style="padding-top: 5%">
                                        <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;margin-left: 10%;padding-bottom: 2%">
                                            <u>Información de la función</u></h5>
                                        <label  class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Nombre de la
                                            función: </label>
                                        <div class="col-sm-8">
                                            <input type="text" style="text-align: center" class="form-control" th:field="*{nombre}"
                                                   placeholder="Nombre">
                                        </div>
                                        <label  class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Fecha-hora de la
                                            función: </label>
                                        <div class='col-sm-8'>
                                            <input id="fecha" type="datetime-local" th:value="|${funcion.getFecha()}T${funcion.getInicio()}|" name="fechamasinicio"
                                                   min="2022-06-07T00:00" max="2022-06-14T00:00"
                                                   style="width: 100%;height: 80%;text-align: center;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px" required>
                                        </div>
                                        <label  class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Restricción de
                                            edad</label>
                                        <div class="col-sm-8">
                                            <div class="col-sm-10" id="restriccion">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="restriccionedad"
                                                           id="1" value="1" th:checked="${funcion.getRestriccionedad() == 1}">
                                                    <label class="form-check-label" for="1"
                                                           style="color: #FFFFFF;font-size: large">
                                                        Sí
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="restriccionedad"
                                                           id="0" value="0" th:checked="${funcion.getRestriccionedad() == 0}">
                                                    <label class="form-check-label" for="0"
                                                           style="color: #FFFFFF;font-size: large">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <label for="duracion" class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Duracion(en
                                            minutos):
                                        </label>
                                        <div class='col-sm-8'>
                                            <input id="duracion" th:value="|${funcion.id==0 ? '' : duracion}|" name="duracion" type="number"
                                                   style="width: 100%;height: 80%;text-align: center;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px">
                                        </div>
                                        <label  class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Precio por
                                            entrada:
                                        </label>
                                        <div class='col-sm-8'>
                                            <input  type="number" min="10" max="180" step="0.5" th:field="*{precioentrada}"
                                                   style="width: 100%;height: 80%;text-align: center;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px">
                                        </div>
                                        <label for="Sede" class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Sede:
                                        </label>
                                        <div class='col-sm-8'>
                                            <input id="Sede" type="text"  disabled th:value="${session.usuario.getIdsede().getNombre()}"
                                                   style="width: 100%;height: 80%;text-align: center;background-color: #FFFFFF;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px">
                                        </div>

                                        <label  class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Sala:
                                        </label>
                                        <div class='col-sm-8'>

                                            <select th:field="*{sala}" class="col-12" style="display: block;width: 100%;height: calc(1.5em + 0.75rem + 2px);padding: 0.375rem 0.75rem;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #495057;background-color: #fff; background-clip: padding-box;border: 1px solid #ced4da;border-radius: 0.25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
                                                <option th:each="sala : ${listaSalasporSede}"
                                                        th:text="|Sala-${sala.getNumero()}|"
                                                        th:value="${sala.getId()}"></option>
                                            </select>

                                        </div>
                                        <label for="stock" class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Stock:
                                        </label>
                                        <div class='col-sm-8'>
                                            <input id="stock" type="number" min="1" max="100" th:field="*{stockentradas}"
                                                   style="width: 100%;height: 80%;text-align: center;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px">
                                        </div>

                                        <label for="descripcion" class="col-sm-4"
                                               style="font-family:'Barlow';color: #FFFFFF;font-size: large">•Descripcion
                                        </label>
                                        <div class='col-sm-8'>
                                            <textarea id="descripcion" class="form-control" rows="4" maxlength="500" th:field="*{descripcion}"
                                                      style="width: 100%;height: 80%;text-align: center;border-color: #FFFFFF;color: #9d9d9d;border-radius: 7px">
                                            </textarea>
                                        </div>
                                    </div>


                            </div>
                            <div class="col-1" style="text-align: center">

                            </div>
<!--                            <div class="col-5" style="margin-top: 2%">-->
<!--                                <div class="col-4">-->
<!--                                    <h1 class="details__title" style="font-size: 1.5rem; margin-bottom: 5px">Imágenes</h1>-->
<!--                                </div>-->
<!--                                <div class="col-1">-->
<!--                                    <button class="home__nav home__nav&#45;&#45;next" type="button" style="margin-right: 2px">-->
<!--                                        <i class="icon ion-ios-arrow-round-forward"></i>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="image-upload" style="align-content: center;margin-top: 2%">-->
<!--                                    <label for="file-input" style="margin-left: 15%">-->
<!--                                        <img src="https://cdn-icons-png.flaticon.com/512/56/56887.png"-->
<!--                                             style="background-color: #FFFFFF;width: 50%;height: 50%;position: center;border-radius: 10px"-->
<!--                                             alt="imagenes">-->
<!--                                    </label>-->
<!--                                    <input id="file-input" type="file" multiple/>-->
<!--                                </div>-->
<!--                                <br>-->
<!--                                <h5 style="color: #FFFFFF;margin-left: 12%"><b>Seleccione dando click</b></h5>-->
<!--                            </div>-->

                            <!--Selector Imagenes-->
                            <div class="col-md-6 col-8" style="padding-left: 10px">

                                <!--Encabezado-->
                                <section class="section section--first" style="margin: 0; padding:10px">
                                    <div class="row">
                                        <div class="col-md-9 col-6">
                                            <h1 class="details__title" style="font-size: 1.5rem; margin-bottom: 5px">Imágenes</h1>
                                        </div>
                                        <div class="col-md-3 col-2">
                                            <button class="home__nav home__nav--next" type="button" style="margin-right: 2px">
                                                <i class="icon ion-ios-arrow-round-forward"></i>
                                            </button>
                                        </div>
                                    </div>
                                </section>

                                <div>
                                    <div class="row align-items-center">
                                        <div class="col-8 col-sm-8">

                                            <!--Visor de Imagenes-->
                                            <div class="owl-carousel photo__carousel" id="img_container">

                                                <div class="item" th:each="foto : ${imagenes}">
                                                    <div th:id="|old-${foto.numero-1}|" class="card__cover">

                                                        <img th:src="${foto.ruta}" style="margin-inline: auto;max-height: 150px;max-width: fit-content;">

                                                        <a class="card__play" th:onclick="|eliminarEnDB(${foto.numero-1})|">
                                                            <i class="bi bi-x" style="color: white"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Boton para agregar imagenes -->
                                            <div class="card__wrap">
                                                <label class="input__btn" for="file-input" style="margin: auto;margin-top: 5px;">
                                                    Nueva Foto
                                                </label>
                                                <input name="imagenes" type="file" id="file-input" accept="image/png, image/jpeg, image/jpg"
                                                       style="display: none" onchange="preview()" multiple>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;justify-content: center">
                            <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;padding-bottom: 0.5%">
                                <u>Genero</u></h5>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;margin-left: 20%;padding-bottom: 0.5%">
                                    <u>Generos</u></h5>
                                <label style="color: #FFFFFF"><b>Seleccione los generos</b></label>
                                <br>
                                <select class="form-select" name="idgenero" size="3" multiple
                                         aria-label="multiple select example">
                                    <option disabled>Seleccione los generos con (+Ctrl)</option>
                                    <option th:each="genero : ${listGeneros}"
                                            th:text="|${genero.nombre}|"
                                            th:value="${genero.id}"></option>
                                </select>
                            </div>

                        </div>

                        <div style="display: flex;justify-content: center">
                            <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;padding-bottom: 0.5%">
                                <u>Elenco de artistas</u></h5>
                        </div>

                        <div class="row">
                            <div class="col-5">
                                <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;margin-left: 20%;padding-bottom: 0.5%">
                                    <u>Actores</u></h5>
                                <label style="color: #FFFFFF"><b>Seleccione los actores</b></label>
                                <br>
                                <select class="form-select" name="idactor" size="3" multiple
                                        aria-label="multiple select example">
                                    <option disabled>Seleccione los actores con (+Ctrl)</option>
                                    <option th:each="actores,indice : ${listActores}"
                                            th:text="|${actores.getNombres()} ${actores.getApellidos()}|"
                                            th:value="${actores.getId()}"></option>
                                </select>
                            </div>
                            <div class="col-2">

                            </div>
                            <div class="col-5">
                                <h5 style="color: #FFFFFF;font-family:'Barlow';font-size: xx-large;margin-left: 20%;padding-bottom: 2%">
                                    <u>Directores</u></h5>


                                <label  style="color: #FFFFFF"><b>Seleccione los directores</b></label>
                                <br>
                                <select class="form-select" name="iddirector" size="3" multiple
                                        aria-label="multiple select example">
                                    <option disabled>Seleccione los Directores con (+Ctrl)</option>
                                    <option th:each="directores : ${listDirectores}"
                                            th:text="|${directores.getNombres()} ${directores.getApellidos()}|"
                                            th:value="${directores.getId()}"></option>
                                </select>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="sign__btn" type="submit"
                        >Guardar
                        </button>
                    </div>
                    <div class="col-6">

                    </div>
                    <div class="col-3">
                        <a class="sign__btn" type="submit" th:href="@{/operador/funciones/lista}" >
                            Regresar
                        </a>


                    </div>
                </div>
            </form>
        </div>
        <br>

    </div>
</div>
    <div th:replace="fragments/footer :: js(~{::script})">
        <script>
            let fileInput = document.getElementById("file-input");
            let imgContainer = document.getElementById("img_container");

            function preview(){

                let j=0;
                for(i of fileInput.files){

                    let reader = new FileReader();

                    let item = document.createElement("div");
                    item.className="item";

                    // Boton de Eliminar
                    let cover = document.createElement("div");
                    cover.id="new-"+j.toString();
                    cover.className="card__cover";

                    // Activar la opción de borrar imagen
                    cover.onclick = function (){

                        const dt = new DataTransfer()

                        for (let i = 0; i < fileInput.files.length; i++) {
                            const file = fileInput.files[i];

                            if (this.id !== "new-"+i.toString()) {
                                dt.items.add(file);
                            }
                        }
                        fileInput.files = dt.files;

                        cover.parentElement.parentElement.remove();
                        refresh()
                    };

                    let button = document.createElement("a");
                    button.className = "card__play";
                    let close = document.createElement("i");
                    close.className = "bi bi-x";
                    close.setAttribute("style","color: white")

                    button.appendChild(close)
                    cover.appendChild(button)

                    reader.onload=()=>{
                        let img = document.createElement("img");
                        img.setAttribute("src",reader.result);
                        img.setAttribute("style","margin-inline: auto;max-height: 150px;max-width: fit-content;")

                        cover.appendChild(img);
                        item.appendChild(cover)
                    }
                    imgContainer.appendChild(item);
                    reader.readAsDataURL(i);
                    j++;
                }

                // Vuelve a cargar el deslizador
                refresh()
            }

            function refresh() {
                $('.owl-carousel').trigger('destroy.owl.carousel');
                var $owl = $('.owl-carousel').owlCarousel({
                    loop: true,
                    smartSpeed: 600,
                    margin: 60,
                    items: 1
                });
                $owl.trigger('refresh.owl.carousel');
            }

            function eliminarEnDB(id){

                let select = document.getElementById("fotos-para-eliminar");
                select.getElementsByTagName("option")[id].selected = "selected";

                let item = imgContainer.getElementsByClassName("active").item(0);
                console.log(item)

                item.remove();

                refresh()
            }

        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous">
        </script>
    </div>
</body>
</html>