<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Crear Funcion',~{::style})">
        <style>
            .select-label, .select2-results__option, .select2-search__field, .select2-selection__choice__display{
                color: white;
                width: 100%;
            }
            .select2-container .select2-search--inline .select2-search__field{
                height: 1.25rem;
                vertical-align: unset;
            }
            .select2-container--default .select2-selection--multiple{
                background-color: #2b2b31;
                border: none;
                height: auto;
                border-radius: 0;
                padding-block: 5px;
                transition: box-shadow 0.25s ease-out;
            }
            .select2-container--default.select2-container--focus .select2-selection--multiple {
                border: solid #ff55a5 1px;
                box-shadow: 0 0 20px 0 rgba(255,88,96,0.5);
            }

            .select2-dropdown {
                background-color: #2b2b31;
                border: none;
                font-size: 15px;
                box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
                border-radius: 0;
                padding-inline: 0;
            }

            .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
                background-color: #28282d;
                color: #ff55a5
            }
            .select2-container--default .select2-results__option--selected {
                background-color: #424247;
                color: white;
            }
            .select2-container--default .select2-selection--multiple .select2-selection__choice {
                background-color: #424247;
                border: none;
                vertical-align: unset;
            }
        </style>

        <style>
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }

            div.card__cover img {
                margin-inline: auto;
                max-height: 150px;
                max-width: fit-content;
            }
            #images{
                width: 90%;
                position: relative;
                margin: auto;
                display: flex;
            }
            .owl-dots{
                height: 0;
            }
            .sign__input{
                width: 100%;
            }
            textarea.sign__input{
                height: 8em;
                resize: none;
                padding: 10px 10px;
            }
            .error-form{
                margin-top: 0.25rem;
                font-size: .875em;
                color: #dc3545;
                width: 100%
            }
            .sign__form, .sign__form .row {
                width: 100%;
            }
        </style>
    </head>
<!--
<body style="; background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">-->
<body class="body">
<!-- header -->
    <div th:replace="fragments/navbar :: operador('funciones')"></div>
<!-- end header -->
    <div class="content" style="padding: 0">

        <div class="sign">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="sign__content" style="margin-top: 70px">

                            <!-- authorization form -->
                            <form class="sign__form" method="post" th:object="${funcion}" th:action="@{/operador/funciones/guardar}" enctype="multipart/form-data">
                                <h3 style="text-align: center; color: #FFFFFF; font-size: 3rem; font-family: 'Open Sans', sans-serif;"
                                    th:text="${funcion.id == 0 ? 'Crear función' : 'Editar función'}"></h3>

                                <div class="row">
                                    <div class="col-12" style="width: fit-content">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${err != null}">
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                            <strong th:text="${err}"></strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-12">

                                        <input hidden th:field="*{id}">

                                        <div class="sign__group">
                                            <label for="obra">Obra</label>
                                            <input class="sign__input" name="idobra" placeholder="Obra"
                                                   list="listaObras" required>
                                            <div class="error-form" th:if="${msgObra != null}" th:text="${msgObra}"></div>

                                            <datalist id="listaObras">
                                                <option th:each="obra : ${listObras}"
                                                th:value="${obra.id}" th:text="${obra.nombre}"></option>
                                            </datalist>
                                        </div>

                                        <div class="sign__group">
                                            <label for="fecha">Fecha y Hora</label>
                                            <input class="sign__input" id="fecha" type="datetime-local" name="fechamasinicio"
                                                   th:value="${fechamasinicio != null ? fechamasinicio : ''}"
                                                   th:classappend="${#fields.hasErrors('fecha')? 'is-invalid':''}"
                                                   placeholder="Fecha y Hora" th:min="${fechaactual}" required>
                                            <div class="error-form" th:if="${msgfecha != null}" th:text="${msgfecha}"></div>
                                        </div>

                                        <div class="sign__group">
                                            <label for="precioentrada">Precio de Entrada</label>
                                            <input th:field="*{precioentrada}" class="sign__input"
                                                   th:classappend="${#fields.hasErrors('precioentrada')? 'is-invalid':''}"
                                                   placeholder="Precio" type="number" min="5" step="0.01" required>
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('precioentrada')}"
                                                 th:errors="*{precioentrada}"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-12">

                                        <div class="sign__group">
                                            <label for="duracion">Duración (minutos)</label>
                                            <input name="duracion" id="duracion" class="sign__input"
                                                   th:value="${duracion != null ? duracion : ''}"
                                                   placeholder="Duración" type="number" min="0" required>
                                            <div class="error-form" th:if="${msgduracion!=null}" th:text="${msgduracion}"></div>
                                        </div>

                                        <div class="sign__group">
                                            <label for="genero">Géneros</label>
                                            <select class="select2 genero" id="genero" name="idgenero" style="width: 100%" required multiple>
                                                <option th:each="genero : ${listGeneros}"
                                                        th:text="|${genero.nombre}|"
                                                        th:value="${genero.id}"
                                                        th:selected="${#arrays.contains(generosFuncion,genero.id.toString())}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="sign__group">
                                            <label for="sede">Sede</label>
                                            <input class="sign__input"
                                                   id="sede" th:value="${session.usuario.idsede.nombre}" disabled>
                                        </div>

                                        <div class="sign__group">
                                            <label for="sala">Sala</label>
                                            <select class="sign__input" th:field="*{sala}" onchange="getAforoMax()" required>
                                                <option th:each="sala : ${listaSalasporSede}"
                                                        th:text="|Sala-${sala.numero}|"
                                                        th:value="${sala.id}"
                                                        th:data-aforo="${sala.aforo}"></option>
                                            </select>
                                            <div class="error-form" th:if="${msgsala!=null}" th:text="${msgsala}"></div>
                                        </div>

                                        <div class="sign__group">
                                            <label for="stockentradas">Número de Entradas</label>
                                            <input class="sign__input" th:field="*{stockentradas}" style="width: 100%"
                                                   th:classappend="${#fields.hasErrors('stockentradas')? 'is-invalid':''}"
                                                   placeholder="Número de Entradas" type="number" min="0" required>
                                            <label><b id="aforofuncion_obra_span">Aforo máx: </b></label>
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('stockentradas')}"
                                                 th:errors="*{stockentradas}"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="sign__group">
                                            <label for="actor">Actores</label>
                                            <select class="select2 actor" id="actor" name="idactor" style="width: 100%" required multiple>
                                                <option th:each="actores,indice : ${listActores}"
                                                        th:text="|${actores.nombres} ${actores.apellidos}|"
                                                        th:value="${actores.id}"
                                                        th:selected="${#arrays.contains(actoresFuncion,actores.id.toString())}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="sign__group">
                                            <label for="director">Directores</label>
                                            <select class="select2 director" id="director" name="iddirector" style="width: 100%" required multiple>
                                                <option th:each="directores : ${listDirectores}"
                                                        th:text="|${directores.nombres} ${directores.apellidos}|"
                                                        th:value="${directores.id}"
                                                        th:selected="${#arrays.contains(directoresFuncion,directores.id.toString())}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-6" style="justify-content: center">
                                        <a th:href="@{/operador/funciones/lista}" class="cancel__btn">Cancelar</a>
                                    </div>

                                    <div class="col-6" style="justify-content: center">
                                        <button class="sign__btn" type="submit">Guardar
                                        </button>
                                    </div>

                                </div>
                            </form>
                            <!-- end authorization form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: js(~{::script})">

        <script>
            $(document).ready(function() {
                $('.select2.genero').select2({
                    placeholder: 'Géneros',
                    closeOnSelect: false
                });
                $('.select2.actor').select2({
                    placeholder: 'Actores',
                    closeOnSelect: false
                });
                $('.select2.director').select2({
                    placeholder: 'Directores',
                    closeOnSelect: false
                });
                getAforoMax()
            });
        </script>

        <script>
            // El input donde se agregan las imágenes
            let fileInput = document.getElementById("file-input");
            // Donde se muestran las vistas previas
            let imgContainer = document.getElementById("img_container");

            // Agrega y quita imagenes de la vista previa e input
            function preview(){

                // Se conservan las fotos almacenadas en DB y las nuevas fotos
                // se reemplazan cada vez que se sube un grupo de fotos
                let itemsAntiguos = imgContainer.querySelectorAll(".owl-item:not(.cloned) > .old")
                console.log(itemsAntiguos)

                let contenido = "";

                if(itemsAntiguos != null) {
                    for (let ii = 0; ii<itemsAntiguos.length; ii++) {
                        contenido += itemsAntiguos[ii].outerHTML;
                        //console.log(contenido)
                    }
                }

                // Deja solo las imágenes de la DB, para posteriormente agregar las nuevas
                imgContainer.innerHTML = contenido

                for(i of fileInput.files){

                    let reader = new FileReader();

                    // Contenedor de la imagen + botones
                    let item = document.createElement("div");
                    item.className="item";

                    // Overlay para eliminar
                    let cover = document.createElement("div");
                    cover.className="card__cover";

                    // Botón de eliminar
                    let button = document.createElement("a");
                    button.className = "card__play new";
                    button.setAttribute("style","cursor: pointer")
                    cover.appendChild(button)

                    // Activar la opción de borrar imagen
                    button.onclick = function (){

                        const dt = new DataTransfer()

                        //lista con todas las fotos NUEVAS (Agregadas al editar) en el imgContainer
                        let items = document.querySelectorAll('div.owl-item:not( .cloned) > div > div > a.new');

                        // console.log("Antes", fileInput.files)

                        // Se quita del input la imagen mostrada
                        for (let i = 0; i < items.length; i++) {
                            let item = items[i].parentElement.parentElement.parentElement;

                            if (item.className !== "owl-item active") {
                                let file = fileInput.files[i];
                                // console.log(file, item.className)
                                dt.items.add(file);
                            }
                        }
                        // Se actualiza el input
                        fileInput.files = dt.files;
                        // console.log("Despues",fileInput.files)

                        // Se elimina la imagen en la vista previa
                        cover.parentElement.parentElement.remove();
                        refresh()
                    };

                    // Icono de la cruz
                    let close = document.createElement("i");
                    close.className = "bi bi-x";
                    close.setAttribute("style","color: white")

                    button.appendChild(close)

                    // Crea las imágenes de la vista previa
                    reader.onload=()=>{
                        let img = document.createElement("img");
                        img.setAttribute("src",reader.result);

                        cover.appendChild(img);
                    }
                    item.appendChild(cover)

                    imgContainer.appendChild(item);
                    reader.readAsDataURL(i);
                }

                // Vuelve a cargar el deslizador
                refresh()
            }

            // Actualiza la vista previa, despues de agregar o quitar imágenes
            function refresh() {
                $('.owl-carousel').trigger('destroy.owl.carousel');
                var $owl = $('.owl-carousel').owlCarousel({
                    loop: true,
                    smartSpeed: 600,
                    margin: 60,
                    items: 1
                });
                $owl.trigger('refresh.owl.carousel');
            }

            // Marca una de las imágenes ya en la DB para ser eliminada
            function eliminarEnDB(id){

                // Se busca en un select la opción correspondiente a la imagen clickeada
                let opcion = document.getElementById("img-"+id);
                opcion.selected = "selected";

                // Se busca la imagen en la vista previa y se elimina
                let item = imgContainer.getElementsByClassName("active").item(0);
                //console.log(item)
                item.remove();

                refresh()
            }

            function getAforoMax() {
                var aforo = $('#sala').find(":selected").attr("data-aforo");
                document.getElementById("aforofuncion_obra_span").innerText = "Aforo max: " + aforo;
                document.getElementById("stockentradas").max = aforo;
                $("#aforofuncion_obra").prop("disabled", false);
            }

        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous">
        </script>
    </div>
</body>
</html>