<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/header :: head('Funciones',~{::style})">
        <style>
            input::placeholder {
                color: #000000;
            }
        </style>
    </head>

<body class="body">
    <div th:replace="fragments/navbar :: operador('funciones')"></div>
<div class="content">
    <div class="container" style="margin-bottom: 30px;opacity: 200%">
        <div class="row">
            <div class="col-12" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-5">
                        <h1 class="details__title"
                            style="text-align: center;margin-bottom: 30px;margin-top: 10px;font-size: x-large">
                            Programacion de funciones
                        </h1>
                    </div>
                    <div class="col-2"></div>
                    <form style="display: contents;" method="post" th:action="@{'/operador/funciones/buscar'}">
                        <div class="col-3"><div class="input-group" style="padding-top: 10px">
                            <input name="parametro" class="form-control text-light" type="text"
                                   style="text-align: center; height: auto ;background-color: transparent; border-radius: 5px; border-color: #7c7676"
                                   placeholder="Buscar por Nombre de Funcion" th:value="${parametro == null ? '' : parametro}">
                        </div></div>
                        <div class="col-2">

                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="filter__btn" style="margin-top:6px;">
                                    <a>Buscar</a>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${(msg != null)}">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <strong th:text="${msg}">Mensaje</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${(msg1 != null)}">
                        <i class="bi bi-check-circle-fill"></i>
                        <strong th:text="${msg1}"></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" >

            <div class="col-2" th:each="foto : ${listfunc1}" style="margin-right: 190px">
                <div class="card" style="width: 18rem;margin-right: 20px;background-color: #DD4063;opacity: 80%;color: #FFFFFF">


                    <img class="card-img-top" th:src="${foto.ruta}" alt="Card image cap"
                         style="width: 270px;height: 240px;margin-left: 7px;">
<!--                    <div class="card__cover" >-->

<!--&lt;!&ndash;                        <img th:src="${foto.ruta}" style="margin-inline: auto;max-height: 150px;max-width: fit-content;">&ndash;&gt;-->
<!--                        <img class="card-img-top" th:src="${foto.ruta}" alt="Card image cap"-->
<!--                             style="width: 270px;height: 240px;margin-left: 7px;">-->
<!--                        <a class="card__play" style="border:none" href="#">-->
<!--                            <i style="color: white">Ver mas fotos</i>-->
<!--                        </a>-->
<!--                    </div>-->

                    <div class="card-body">
                        <h5 class="card-title" style="color: #FFFFFF; font-size: 150%;margin-bottom: 8%"  ><u><b th:text="${foto.getFuncion().getNombre()}">Independencia</b></u></h5>
                        <p class="card-text" style="font-size: 130%" ><b>Hora:</b > <p th:text="${foto.getFuncion().getInicio()}"> 11:00 p.m</p></p>
                        <p class="card-text" style="font-size: 130%" ><b>Sala:</b><p th:text="${foto.getFuncion().getSala().getNumero()}"> 5</p></p>
                        <a href="#" style="margin-left: 25%;margin-right: 25%"><i class="icon-pencil icon-2x" style="color: #FFFFFF;"></i></a>
                        <a href="#"><i class="icon-trash icon-2x" style="color: #FFFFFF;"></i></a>
                    </div>
                    <div style="display: flex;justify-content: center">
                        <button>
                            <a class="circulo_botones" th:href="@{'/operador/funciones/editar' + '?idfuncion=' + ${foto.getFuncion().getId()}}">
                                <img style="height: 33px;margin-left: 9px;margin-top: 9px;" th:src="@{/img/iconEdit2.png}">
                            </a>
                        </button>
                        <button>
                            <a class="circulo_botones" href="#popup">
                                <img style="height: 27px;margin-left: 11px;margin-top: 11px;" th:onclick="|advertencia(${foto.getFuncion().getId()})|" th:src="@{/img/iconTrash2.png}">
                            </a>
                        </button>
                    </div>

                </div>

            </div>
<!--            <div class="col-3"></div>-->
<!--            <div class="col-2">-->
<!--                <div class="card" style="width: 18rem;background-color: #DD4063;opacity: 80%;color: #FFFFFF">-->
<!--                    <img class="card-img-top" th:src="@{/img/covers/LaTernura.png}" alt="Card image cap"-->
<!--                         style="width: 300px;height: 250px">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title" style="color: #FFFFFF; font-size: 150%;margin-bottom: 8%" ><u><b>Independencia</b></u></h5>-->
<!--                        <p class="card-text" style="font-size: 130%"><b>Hora:</b> 11:00 p.m</p>-->
<!--                        <p class="card-text" style="font-size: 130%"><b>Sala:</b> 5</p>-->
<!--                        <a href="#" style="margin-left: 25%;margin-right: 25%"><i class="icon-pencil icon-2x" style="color: #FFFFFF;"></i></a>-->
<!--                        <a href="#"><i class="icon-trash icon-2x" style="color: #FFFFFF;"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-3"></div>-->
<!--            <div class="col-2">-->
<!--                <div class="card" style="width: 18rem;background-color: #DD4063;opacity: 80%;color: #FFFFFF">-->
<!--                    <img class="card-img-top" th:src="@{/img/covers/Independencia.png}" alt="Card image cap"-->
<!--                         style="width: 300px;height: 250px">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title" style="color: #FFFFFF; font-size: 150%;margin-bottom: 8%" ><u><b>Independicia</b></u></h5>-->
<!--                        <p class="card-text" style="font-size: 130%"><b>Hora:</b> 11:00 p.m</p>-->
<!--                        <p class="card-text" style="font-size: 130%"><b>Sala:</b> 5</p>-->
<!--                        <a href="#" style="margin-left: 25%;margin-right: 25%"><i class="icon-pencil icon-2x" style="color: #FFFFFF;"></i></a>-->
<!--                        <a href="#"><i class="icon-trash icon-2x" style="color: #FFFFFF;"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-3"></div>-->
        </div>
        <br>
        <div class="row">
            <div class="col-2" th:each="foto : ${listfunc2}" style="margin-right: 190px">
                <div class="card" style="width: 18rem;margin-right: 20px;background-color: #DD4063;opacity: 80%;color: #FFFFFF">

<!--                    <div class="card__cover" >-->

<!--                        &lt;!&ndash;                        <img th:src="${foto.ruta}" style="margin-inline: auto;max-height: 150px;max-width: fit-content;">&ndash;&gt;-->
<!--                        <img class="card-img-top" th:src="${foto.ruta}" alt="Card image cap"-->
<!--                             style="width: 270px;height: 240px;margin-left: 7px;">-->
<!--                        <a class="card__play" style="border:none" href="#">-->
<!--                            <i style="color: white">Ver mas fotos</i>-->
<!--                        </a>-->
<!--                    </div>-->


                    <img class="card-img-top" th:src="${foto.ruta}" alt="Card image cap"
                         style="width: 270px;height: 240px;margin-left: 7px;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #FFFFFF; font-size: 150%;margin-bottom: 8%"  ><u><b th:text="${foto.getFuncion().getNombre()}">Independencia</b></u></h5>
                        <p class="card-text" style="font-size: 130%" ><b>Hora:</b > <p th:text="${foto.getFuncion().getInicio()}"> 11:00 p.m</p></p>
                        <p class="card-text" style="font-size: 130%" ><b>Sala:</b><p th:text="${foto.getFuncion().getSala().getNumero()}"> 5</p></p>
                        <a href="#" style="margin-left: 25%;margin-right: 25%"><i class="icon-pencil icon-2x" style="color: #FFFFFF;"></i></a>
                        <a href="#"><i class="icon-trash icon-2x" style="color: #FFFFFF;"></i></a>
                    </div>
                    <div style="display: flex;justify-content: center">
                        <button>
                            <a class="circulo_botones" th:href="@{'/operador/funciones/editar' + '?idfuncion=' + ${foto.getFuncion().getId()}}">
                                <img style="height: 33px;margin-left: 9px;margin-top: 9px;" th:src="@{/img/iconEdit2.png}">
                            </a>
                        </button>
                        <button>
                            <a class="circulo_botones" href="#popup">
                                <img style="height: 27px;margin-left: 11px;margin-top: 11px;" th:onclick="|advertencia(${foto.getFuncion().getId()})|" th:src="@{/img/iconTrash2.png}">
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-3">
            <a class="btn btn-primary" style="display: table-cell;background-color: #DD4063FF;text-align: center;width: 350%;color: #FFFFFF;margin-top: 10px" th:href="@{/operador/funciones/crear}">Programar función</a>
        </div>
        <div th:replace="fragments/paginacion :: paginacion(${pagActual},${pagTotal},'/operador/funciones/lista?')"></div>
        <div style="height: 10px"></div>
    </div>
</div>

    <div id="popup" class="overlay">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <form action="#" class="sign__form">
                        <a class="sign__logo">
                            <img th:src="@{/img/tele.png}" alt="logo">
                        </a>
                        <div class="sign__group">
                            <h5 style="color: white;font-size: 5rem;font-size: 25px;font-family: 'Open Sans';font-weight: 900;">
                                ¿Estás seguro de querer borrar esta Funcion?</h5>
                        </div>
                        <a style="color: white;cursor: pointer" onclick="document.getElementById('popup').style.display = 'none'" class="sign__btn">Cancelar</a>
                        <a id="borrar" class="sign__btn">Borrar Funcion</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: js(~{::script})">
        <script th:inline="javascript">
            function advertencia(idfuncion) {
                let popup = document.getElementById('popup');

                popup.getElementsByTagName("a").item(2).href = [[@{'/operador/funciones/borrar?idfuncion='}]] + idfuncion;
                popup.style.display = 'block';
            }

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous">
        </script>
    </div>
</body>
</html>