<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Reportes',~{::style})">
        <style>
            .price__item--first span:first-child{
                max-width: 100%;
            }

            .price{
                max-height: 500px;
                height: 500px;
            }

            .price img {
                margin-inline: auto;
                aspect-ratio: 9 / 14;
                max-height: 300px;
                object-fit: cover;
                object-position: 50% 50%;
            }
            .owl-dots{
                height: 0;
            }
        </style>
    </head>

    <body class="body">

        <div th:replace="fragments/navbar :: operador('reportes')"></div>

        <div class="content" >
            <div class="container my-3">

                <div class="row">

                    <div class="col-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${msg != null}">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            <strong th:text="${msg}"></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>

                    <div class="col-12">
                        <h1 class="home__title">ESTADÍSTICAS</h1>
                    </div>

                    <!--<div class="col-12">-->
                    <div class="col-12 mt-5">
                        <form id="form-reporte" method="get" th:action="@{/operador/reportes}">
                            <div class="row justify-content-center">

                                <div class="col-md-4 col-6 sign__group">
                                    <select id="periodicidad" class="search_input" name="periodicidad">
                                        <option value="" th:selected="${periodicidad != null && periodicidad.equals('')}">Todo</option>
                                        <option value="Mensual" th:selected="${periodicidad != null && periodicidad.equals('Mensual')}">Mensual</option>
                                        <option value="Anual" th:selected="${periodicidad != null && periodicidad.equals('Anual')}">Anual</option>
                                    </select>
                                </div>

                                <div class="col-md-4 col-6 sign__group">
                                    <select id="periodo" class="search_input" name="periodo" th:data-periodo="${periodo != null ? periodo : ''}">
                                    </select>
                                </div>

                                <div class="col-md-4 col-12" style="display: flex;justify-content: space-around">
                                    <button type="submit" class="form__btn" style="width: 40%; margin: 0; font-size: 1.1rem;">
                                        <i class="bi bi-search"></i>
                                    </button>
                                    <button id="btn-reporte" type="button" class="form__btn" style="width: 40%; margin: 0; font-size: 1.1rem;">
                                        <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-12 col-md-6 col-lg-4 my-2" th:object="${funcionMasVista}">

                        <div class="price price--premium">
                            <div class="price__item price__item--first">
                                <span>Función Más Vista</span>
                            </div>

                            <div class="price__item price__item--first">
                                <span th:text="*{nombre}"></span>
                                <span></span>
                            </div>

                            <img class="card-img-top mt-3" th:src="*{url}" th:alt="*{nombre}">

                            <div class="price__item">
                                <span th:text="|Porcentaje de Asistencia: ${funcionMasVista.pasistencia != null ? funcionMasVista.pasistencia : '0'}%|"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 my-2" th:object="${funcionMejorCalificada}">

                        <div class="price price--premium">
                            <div class="price__item price__item--first">
                                <span>Función Mejor Calificada</span>
                            </div>

                            <div class="price__item price__item--first">
                                <span th:text="*{nombre}"></span>
                                <span></span>
                            </div>

                            <img class="card-img-top mt-3" th:src="*{url}" th:alt="*{nombre}">

                            <div class="price__item">
                                <span th:text="|Calificación Promedio: *{calificacion}|"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 my-2" th:object="${funcionMenosVista}">

                        <div class="price price--premium">
                            <div class="price__item price__item--first">
                                <span>Función Menos Vista</span>
                            </div>

                            <div class="price__item price__item--first">
                                <span th:text="*{nombre}"></span>
                                <span></span>
                            </div>

                            <img class="card-img-top mt-3" th:src="*{url}" th:alt="*{nombre}">

                            <div class="price__item">
                                <span th:text="|Porcentaje de Asistencia: ${funcionMenosVista.pasistencia != null ? funcionMenosVista.pasistencia : '0'}%|"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Actores más vistos -->
                    <div class="col-12 col-md-6 col-lg-4 my-2">

                        <div class="price price--premium">

                            <div class="price__item price__item--first">
                                <button class="home__nav home__nav--prev" type="button">
                                    <i class="icon ion-ios-arrow-round-back"></i>
                                </button>

                                <button class="home__nav home__nav--next" type="button">
                                    <i class="icon ion-ios-arrow-round-forward"></i>
                                </button>
                                <span>Mejores Actores</span>
                            </div>

                            <div class="owl-carousel photo__carousel mt-3">

                                <div class="item" th:each="actor : ${actoresMejorCalificados}">
                                    <div class="card__cover">

                                        <img th:src="${actor.url}">

                                        <a class="card__play" href="#">
                                            <i class="ion ion-ios-play" style="color: white"></i>
                                        </a>
                                    </div>

                                    <div class="card__content">
                                        <h3 class="card__title">
                                            <a href="#" th:text="${actor.nombres + ' ' + (funcionMasVista.pasistencia != null ? funcionMasVista.pasistencia : '0')}"></a>
                                        </h3>
                                        <span class="card__rate">
                                            <i class="icon ion-ios-star"></i>
                                            <span th:text="${actor.calificacion != null ? actor.calificacion : '--'}"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Porcentajes de Asistencia por Función -->
                    <div class="col-12 col-md-6 col-lg-4 my-2">

                        <div class="price price--premium">
                            <div class="price__item price__item--first">
                                <span>Porcentajes de Asistencia</span>
                            </div>

                            <div class="mt-3" style="max-height: 100%; width: 100%; overflow-y: auto">
                                <div class="price__item" th:each="funcion : ${funcionesPorcentajeAsistencia}">
                                    <span th:text="|${funcion.nombre}: ${funcion.pasistencia}%|"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Directores más vistos -->
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                        <div class="price price--premium">

                            <div class="price__item price__item--first">
                                <button class="home__nav home__nav2--prev" type="button">
                                    <i class="icon ion-ios-arrow-round-back"></i>
                                </button>

                                <button class="home__nav home__nav2--next" type="button">
                                    <i class="icon ion-ios-arrow-round-forward"></i>
                                </button>
                                <span style="max-width: 71%">Mejores Directores</span>
                            </div>

                            <div class="owl-carousel photo__carousel2 mt-3">

                                <div class="item" th:each="director : ${directoresMejorCalificados}">
                                    <div class="card__cover">

                                        <img th:src="${director.url}">

                                        <a class="card__play" href="#">
                                            <i class="ion ion-ios-play" style="color: white"></i>
                                        </a>
                                    </div>

                                    <div class="card__content">
                                        <h3 class="card__title">
                                            <a href="#" th:text="${director.nombres + ' ' + director.apellidos}"></a>
                                        </h3>
                                        <span class="card__rate">
                                            <i class="icon ion-ios-star"></i>
                                            <span th:text="${director.calificacion != null ? director.calificacion : '--'}"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: js(~{::script})">

            <script>
                // Elementos Importantes
                const form = document.getElementById("form-reporte");
                const periodicidad = document.getElementById("periodicidad")
                const periodo = document.getElementById("periodo")
                const btnReporte = document.getElementById("btn-reporte")

                // Se rellenan los periodos
                rellenarPeriodo(true)
                periodicidad.addEventListener("change", function (){
                    rellenarPeriodo(false)
                })

                // Habilita la opción de exportar
                btnReporte.addEventListener("click", function (){
                    form.action = "/operador/reportes/exportar"
                    form.submit()
                })


                // Función que rellena los select
                function rellenarPeriodo(valorInicial){

                    // Se vacían los campos de periodo
                    periodo.innerHTML = ""

                    // Se rellenan según lo ingresado en periodicidad
                    switch (periodicidad.value) {
                        case "Anual":
                            for(let ii=2022; ii>=2020; ii--){
                                let opt = document.createElement('option')
                                opt.value = ii.toString()
                                opt.innerHTML = ii.toString()
                                periodo.appendChild(opt)
                            }
                            break;

                        case "Mensual":

                            const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                                'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];

                            const periodoElegido = periodo.dataset.periodo;

                            for(let ii=0; ii<12; ii++){
                                let opt = document.createElement('option')
                                opt.value = (ii+1).toString()
                                opt.innerHTML = meses[ii]

                                opt.selected = valorInicial && (ii+1) == periodoElegido

                                periodo.appendChild(opt)
                            }
                            break;

                        default:
                            let opt = document.createElement('option')
                                opt.value = ""
                            opt.innerHTML = "Todo"
                            periodo.appendChild(opt)
                    }
                }

            </script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>

        </div>
    </body>
</html>