<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="../../../static/css/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="../../../static/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="../../../static/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="../../../static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../../../static/css/nouislider.min.css">
        <link rel="stylesheet" href="../../../static/css/ionicons.min.css">
        <link rel="stylesheet" href="../../../static/css/plyr.css">
        <link rel="stylesheet" href="../../../static/css/photoswipe.css">
        <link rel="stylesheet" href="../../../static/css/default-skin.css">
        <link rel="stylesheet" href="../../../static/css/main.css">

        <!-- Favicons -->
        <link rel="icon" type="image/png" href="../../../static/icon/favicon-32x32.png" sizes="32x32">
        <link rel="apple-touch-icon" href="../../../static/icon/favicon-32x32.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../../../static/icon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../../../static/icon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../../../static/icon/apple-touch-icon-114x114.png">

        <title>Reseñas</title>
    </head>

    <body class="body" style="background-image: url('/static/img/home/telon-abierto.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%; ">

        <header class="header">
            <div class="header__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header__content">
                                <!-- header logo -->
                                <a href="#" class="header__logo">
                                    <img src="../../../static/img/tele.PNG" alt="logo">
                                </a>
                                <!-- end header logo -->

                                <!-- header nav -->
                                <ul class="header__nav" style="height: 100%">
                                    <li class="header__nav-item">
                                        <a href="#" class="header__nav-link">FUNCIONES</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a href="#" class="header__nav-link">REPORTES</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a href="#" class="header__nav-link header__nav-link--active">RESEÑAS</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a href="#" class="header__nav-link">SALAS</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </li>

                                    <li class="header__nav-item">
                                        <div style="size: 10px; color: white;white-space: nowrap;">
                                            <span>Percy De La Rosa</span>
                                        </div>

                                        <div style="size: 8px; color: rgba(255,255,255,0.5);white-space: nowrap;">
                                            <span href="#">Gran Teatro Nacional</span>
                                        </div>
                                    </li>
                                </ul>
                                <!-- end header nav -->

                                <!-- header auth -->
                                <div class="header__auth" style="margin-left: 3px">

                                    <div style="margin-bottom: 7px; margin-left: 3px">
                                        <a href="#"><img style="height: 50px;margin-top: 5px"
                                                         src="../../static/img/user.png"></a>
                                    </div>
                                    <a href="#" class="header__sign-in">
                                        <i class="icon ion-ios-log-in"></i>
                                        <span>Cerrar Sesión</span>
                                    </a>
                                    <!--
                                    <div>
                                        <a href="#" class="filter__btn" title="Cerrar Sesión" style="width: 40px">
                                            <i class="icon ion-ios-log-in"></i>
                                        </a>
                                    </div>
                                    -->
                                </div>
                                <!-- end header auth -->

                                <!-- header menu btn -->
                                <button class="header__btn" type="button">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <!-- end header menu btn -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header search -->
        </header>

        <section class="section section--first section--bg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section__wrap">
                            <h2 class="section__title">Reseñas</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <br>
            <br>

            <div class="row" >

                <!-- Teatro -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding-top: 20px;">
                    <div style="background-color: rgba(0,0,0,0.8); padding:10px">
                    <section class="section section--first" style="margin: 0; padding:10px">
                    <div>
                        <h1 class="details__title" style="font-size: 36px">Gran Teatro Nacional</h1>
                    </div>
                        </section>

                    <!-- content -->
                    <div>
                        <div class="card card--details card--series">
                            <div class="row align-items-center">
                                <!-- card cover -->
                                <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
                                    <div class="card__cover" style="text-align: center">
                                        <img src="../../../static/img/covers/cover.jpg" alt="">
                                    </div>
                                </div>
                                <!-- end card cover -->

                                <!-- card content -->
                                <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
                                    <div class="card__content">
                                        <h2 style="color: #ff3366;text-align: center">Resumen General</h2>

                                        <br>

                                        <div class="card__wrap" style="justify-content: center">
                                            <span class="card__rate"><i class="icon ion-ios-star"></i>8.4 (10.987 reseñas)</span>
                                        </div>
                                        <div class="card__wrap" style="justify-content: center">
                                            <span class="card__rate"><i class="icon ion-ios-star"></i>8502 reseñas positivas</span>
                                        </div>
                                        <div class="card__wrap" style="justify-content: center">
                                            <span class="card__rate"><i class="icon ion-ios-star"></i>2485 reseñas negativas</span>
                                        </div>

                                        <br>

                                        <div class="card__wrap justify-content-center">
                                            <a class="filter__btn" href="#">Ver Reseñas</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card content -->
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Fin Teatro -->

                <!-- Directores -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" style="background-color: rgba(0,0,0,0.8); padding-top: 20px; padding-left: 5px; padding-right: 5px">
                    <section class="section section--first" style="margin: 0; padding:10px">
                        <div>
                            <h1 class="details__title" style="font-size: 36px">Directores</h1>
                            <button class="home__nav home__nav--prev" type="button" style="margin-right: 2px">
                                <--
                            </button>
                            <button class="home__nav home__nav--next" type="button" style="margin-left: 2px">
                                -->
                            </button>
                        </div>
                    </section>

                    <!-- content -->
                    <div>
                        <div class="card card--details card--series">
                            <div class="row align-items-center">

                                <!--carousel-->
                                <div class="col-12 col-sm-12">
                                    <div class="owl-carousel photo__carousel">
                                        <div class="item">
                                            <!-- card -->
                                            <div class="card card--big">
                                                <div class="card__cover">
                                                    <img src="../../../static/img/covers/cover.jpg" alt="">
                                                    <a href="#" class="card__play">
                                                        <i class="icon ion-ios-play"></i>
                                                    </a>
                                                </div>
                                                <div class="card__content">
                                                    <h3 class="card__category">
                                                        <a style="font-size: 20px" href="#">Gustavo Puquio Cruzado</a></h3>
                                                    <span class="card__rate"><i class="icon ion-ios-star"></i>8.4 (103 reseñas)</span>
                                                </div>
                                            </div>
                                            <!-- end card -->
                                        </div>

                                        <div class="item">
                                            <!-- card -->
                                            <div class="card card--big">
                                                <div class="card__cover">
                                                    <img src="../../../static/img/covers/cover2.jpg" alt="">
                                                    <a href="#" class="card__play">
                                                        <i class="icon ion-ios-play"></i>
                                                    </a>
                                                </div>
                                                <div class="card__content">
                                                    <h3 class="card__category">
                                                        <a style="font-size: 20px" href="#">Ana Paula Dextre</a></h3>
                                                    <span class="card__rate"><i class="icon ion-ios-star"></i>6.7 (27 reseñas)</span>
                                                </div>
                                            </div>
                                            <!-- end card -->
                                        </div>
                                    </div>
                                <!-- end card content -->
                                    <div class="card__wrap justify-content-center">
                                        <a class="filter__btn" href="#">Ver Todos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Fin Directores -->
                </div>

                <!-- Actores -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" style="background-color: rgba(0,0,0,0.8); padding-top: 20px;">
                    <section class="section section--first" style="margin: 0; padding:10px">
                        <div>
                            <h1 class="details__title" style="font-size: 36px">Actores</h1>
                            <button class="home__nav home__nav--prev" type="button" style="margin-right: 2px">
                                <--
                            </button>
                            <button class="home__nav home__nav--next" type="button" style="margin-left: 2px">
                                -->
                            </button>
                        </div>
                    </section>

                    <!-- content -->
                    <div>
                        <div class="card card--details card--series">
                            <div class="row align-items-center">

                                <!--carousel-->
                                <div class="col-12 col-sm-12">
                                    <div class="owl-carousel photo__carousel">
                                        <div class="item">
                                            <!-- card -->
                                            <div class="card card--big">
                                                <div class="card__cover">
                                                    <img src="../../../static/img/covers/cover.jpg" alt="">
                                                    <a href="#" class="card__play">
                                                        <i class="icon ion-ios-play"></i>
                                                    </a>
                                                </div>
                                                <div class="card__content">
                                                    <h3 class="card__category">
                                                        <a style="font-size: 20px" href="#">Mitcheld Cadillo</a></h3>
                                                    <span class="card__rate"><i class="icon ion-ios-star"></i>8.4 (103 reseñas)</span>
                                                </div>
                                            </div>
                                            <!-- end card -->
                                        </div>

                                        <div class="item">
                                            <!-- card -->
                                            <div class="card card--big">
                                                <div class="card__cover">
                                                    <img src="../../../static/img/covers/cover2.jpg" alt="">
                                                    <a href="#" class="card__play">
                                                        <i class="icon ion-ios-play"></i>
                                                    </a>
                                                </div>
                                                <div class="card__content">
                                                    <h3 class="card__category">
                                                        <a style="font-size: 20px" href="#">Stephen Campos</a></h3>
                                                    <span class="card__rate"><i class="icon ion-ios-star"></i>6.7 (27 reseñas)</span>
                                                </div>
                                            </div>
                                            <!-- end card -->
                                        </div>
                                    </div>
                                    <!-- end card content -->
                                    <div class="card__wrap justify-content-center">
                                        <a class="filter__btn" href="#">Ver Todos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Actores -->
                </div>
            </div>
        </div>

        <section class="section section--first section--bg" style="margin-top: 0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section__wrap">

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- expected premiere -->
        <section class="section section--bg" data-bg="../../../static/img/section/section.jpg">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-12">
                        <h2 class="section__title">Funciones</h2>
                    </div>
                    <!-- end section title -->

                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="../../../static/img/covers/cover.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                                <span class="card__category">
								<a href="#">Action</a>
								<a href="#">Triler</a>
							</span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->

                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="../../../static/img/covers/cover3.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">Benched</a></h3>
                                <span class="card__category">
								<a href="#">Comedy</a>
							</span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->

                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="../../../static/img/covers/cover2.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">Whitney</a></h3>
                                <span class="card__category">
								<a href="#">Romance</a>
								<a href="#">Drama</a>
								<a href="#">Music</a>
							</span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->

                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="../../../static/img/covers/cover6.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">Blindspotting</a></h3>
                                <span class="card__category">
								<a href="#">Comedy</a>
								<a href="#">Drama</a>
							</span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->

                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="../../../static/img/covers/cover4.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                                <span class="card__category">
								<a href="#">Action</a>
								<a href="#">Triler</a>
							</span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->

                    <!-- card -->
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="../../../static/img/covers/cover5.jpg" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">Benched</a></h3>
                                <span class="card__category">
								<a href="#">Comedy</a>
							</span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->

                    <!-- section btn -->
                    <div class="col-12">
                        <a href="#" class="section__btn">Mostrar más</a>
                    </div>
                    <!-- end section btn -->
                </div>
            </div>
        </section>
        <!-- end expected premiere -->

        <div>
            <script src="../../../static/js/jquery.mCustomScrollbar.min.js"></script>
            <script src="../../../static/js/jquery-3.3.1.min.js"></script>
            <script src="../../../static/js/bootstrap.bundle.min.js"></script>
            <script src="../../../static/js/owl.carousel.min.js"></script>
            <script src="../../../static/js/jquery.mousewheel.min.js"></script>
            <script src="../../../static/js/wNumb.js"></script>
            <script src="../../../static/js/nouislider.min.js"></script>
            <script src="../../../static/js/plyr.min.js"></script>
            <script src="../../../static/js/jquery.morelines.min.js"></script>
            <script src="../../../static/js/photoswipe.min.js"></script>
            <script src="../../../static/js/photoswipe-ui-default.min.js"></script>
            <script src="../../../static/js/main.js"></script>
        </div>
    </body>
</html>