<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Salas',~{::style})">
        <style>
            input::placeholder {
                color: #000000;
            }
            .price img{
                object-fit: cover;
                object-position: 50% 50%;
                margin-top: 0;
                height: 240px;
            }
        </style>
    </head>

    <body class="body" onload="mueveReloj()">
        <div th:replace="fragments/navbar :: operador('salas')"></div>


        <section class="section section--first section--bg" data-bg="../../../static/img/home/telon-abierto-opaco.jpg" style="background: url(&quot;/static/img/home/telon-abierto-opaco.jpg&quot;) center center / cover no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section__wrap">

                            <h2 class="section__title">Administración de salas</h2>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="catalog">
            <div class="container">

                    <div class="row">
                        <div class="col-12">
                            <div style="margin-top: 30px;display: flex;justify-content: right" >
                                <h4 style="color: white;margin-top: 10px">Fecha actual:</h4>
                                <input  style="color: white;font-size: 20px;margin-bottom: 10px" class="sign__input" disabled id="fechaout" />


                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-4" th:each="sala : ${listadosalasconfunc}">
                            <div class="price price--premium mCustomScrollbar" style="text-align: center">
                                <div class="price__item price__item--first">
                                    <span>Sala</span> <span th:text="${sala.key.numero}"></span></div>

                                <table class="accordion__list" style="text-align: center">
                                    <thead>
                                        <tr>
                                            <th>Hora</th>
                                            <th>Obra</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="funcion :${sala.value}">
                                            <td th:text="${funcion.getInicio()}">9:00 am</td>
<!--                                            <td th:if="|${{funcion.getInicio()<#dates.format('12:00','HH:mm')}} am|">9:00 am</td>-->
                                            <td th:text="${funcion.getIdobra().getNombre()}">Los Tambores</td>
                                        </tr>
                                    </tbody>
                                </table>


                                <div class="price__item">
                                    <span th:text="|Aforo Máx: ${sala.key.getAforo()} personas|"></span>
                                </div>
                            </div>
                        </div>


                    </div>



                <!-- Fin Salas-->

                <!-- Paginacion-->
                <div th:replace="fragments/paginacion :: paginacion(${pagActual},${pagTotal},'/operador/salas/listar?')"></div>
                <!-- Fin Paginacion-->

            </div>
        </div>


        <div th:replace="fragments/footer :: js(~{::script})">

            <script>
                function mueveReloj(){

                    momentoActual = new Date()
                    dia = momentoActual.getDate()
                    año = momentoActual.getFullYear()
                    mes = momentoActual.getMonth() + 1
                    hora = momentoActual.getHours()
                    minuto = momentoActual.getMinutes()
                    segundo = momentoActual.getSeconds()

                    if (hora < 10 ){
                        hora = "0" + hora
                    }
                    if (minuto < 10 ){
                        minuto = "0" + minuto
                    }
                    if (segundo < 10 ){
                        segundo = "0" + segundo
                    }

                    if (dia < 10 ){
                        dia = "0" + dia
                    }
                    if (mes < 10 ){
                        mes = "0" + mes
                    }

                    horaImprimible = año + "-" + mes + "-" + dia + " " + hora + ":" + minuto + ":" + segundo

                    document.getElementById('fechaout').value = horaImprimible

                    timeout = setTimeout("mueveReloj()",1000)
                }
            </script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>

        </div>
    </body>
</html>