<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Resenias',~{::style})">
        <style>
            input::placeholder {
                color: #000000;
            }
            .price img{
                object-fit: cover;
                object-position: 50% 50%;
                margin-top: 0;
                height: 240px;
            }
        </style>
    </head>

    <body class="body">

        <div th:replace="fragments/navbar :: operador('resenias')"></div>


        <section class="section section--first section--bg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section__wrap">
                            <h2 class="section__title">Reseñas</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <br>
            <br>

            <div class="row" style="display: flex;justify-content: center" >

                <!-- Teatro -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding-top: 20px;">
                    <div style="background-color: rgba(0,0,0,0.8); padding:10px">
                        <section class="section section--first" style="margin: 0; padding:10px">
                        <div>
                            <h1 class="details__title" style="font-size: 36px" th:text="${session.usuario.idsede.getNombre()}">Gran </h1>
                        </div>
                            </section>

                        <!-- content -->
                        <div>
                            <div class="card card--details card--series">
                                <div class="row align-items-center">
                                    <!-- card cover -->
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
                                        <div class="card__cover" style="text-align: center">
                                            <img th:src="${fotosede.ruta}" th:alt="${fotosede.ruta}">
                                        </div>
                                    </div>
                                    <!-- end card cover -->

                                    <!-- card content -->
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
                                        <div class="card__content">
                                            <h2 style="color: #ff3366;text-align: center">Resumen General</h2>

                                            <br>

                                            <div class="card__wrap" style="justify-content: center">
                                                <i class="icon ion-ios-star" style="color: #e8bd3c"></i>
                                                <span class="card__rate" th:text="${califpromsede==null ? 'Aún no hay calificaciones': califpromsede}">8.4 (10.987 reseñas)</span>
                                            </div>
                                            <div class="card__wrap" style="justify-content: center">
                                                <i class="icon ion-ios-star" style="color: #e8bd3c"></i>
                                                <span class="card__rate" th:text="|${cantreseposi} reseñas positivas|">8502 reseñas positivas</span>
                                            </div>
                                            <div class="card__wrap" style="justify-content: center">
                                                <i class="icon ion-ios-star" style="color: #e8bd3c"></i>
                                                <span class="card__rate" th:text="|${cantresenega} reseñas negativas|">2485 reseñas negativas</span>
                                            </div>

                                            <br>

                                            <div class="card__wrap justify-content-center">
                                                <a class="filter__btn" th:href="@{/operador/resenias/sede}">Ver Reseñas</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Teatro -->


            </div>
        </div>





        <div th:replace="fragments/footer :: js(~{::script})">

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>

        </div>
    </body>
</html>