<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/header :: head('Sede Detalles',~{::style})">
        <style>
            input::placeholder {
                color: #000000;
            }
            #map0 {
                height: 450px;
            }
            /* ------------------------- */
            /* Estilos de Materialize */
            /* ------------------------- */
            .carousel {
                min-height: 500px;
            }

            .carousel .carousel-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                user-select: none;
                width: 500px;
                height: 500px;
            }

            .carousel .carousel-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: 15px;
            }

            .carousel .indicators .indicator-item {
                border-radius: 0;
                transform: rotate(45deg);
                margin: 0 15px;
                background: #36221c;
            }


        </style>
    </head>
    <body class="body">
        <div th:replace="fragments/navbar :: usuario('sede')"></div>


        <div class="container mt-5" style="margin-top: 100px">
            <div class="container pt-2 me-auto" style="margin-bottom: 45px;margin-top: 100px" >

                <div class="row">
                    <div class="col-sm-10">
                        <h1 style="font-family: 'Open Sans', sans-serif; color: #D9D9D9; font-size: 70px"><b>Gran Teatro Nacional</b></h1>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-10">
                        <h1 style="font-family: 'Open Sans', sans-serif; color: #D9D9D9;"><b>Fotos</b></h1>
                    </div>

<!--                    <div id="carouselExampleIndicators2" class="carousel slide mt-4" data-bs-ride="carousel">-->
<!--                        <div class="carousel-indicators">-->
<!--                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--&lt;!&ndash;                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="carousel-inner" style="padding-right: 50px; padding-left: 50px; height: 220px; margin-bottom: 45px">-->
<!--                            <div class="carousel-item active">-->
<!--                                <div class="row" th:each="foto : ${imagenes}">-->
<!--                                    <div class="col-sm-4" >-->
<!--                                        <a href="#">-->
<!--                                            <img th:src="${foto.ruta}" style="width: 380px; height: 320px; object-fit: scale-down; object-position: 4% 0;">-->
<!--                                        </a>-->
<!--                                    </div>-->

<!--                                </div>-->

<!--                            </div>-->
<!--                            <div class="carousel-item">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <a href="#">-->
<!--                                            <img src="/img/sedes/fotosGranTeatroNacional/imagen.png" style="width: 380px; height: 320px; object-fit: scale-down; object-position: 4% 0;">-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <a href="#">-->
<!--                                            <img src="/img/sedes/fotosGranTeatroNacional/imagen1.png" style="width: 380px; height: 320px; object-fit: scale-down; object-position: 0% 0">-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <a href="#">-->
<!--                                            <img src="/img/sedes/fotosGranTeatroNacional/imagen2.png" style="width: 380px; height: 320px; object-fit: scale-down; object-position: 0% 0;">-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="carousel-item">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <a href="#">-->
<!--                                            <img src="/static/img/sedes/fotosGranTeatroNacional/imagen.png" style="width: 380px; height: 320px; object-fit: scale-down; object-position: 4% 0;">-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <a href="#">-->
<!--                                            <img src="/static/img/sedes/fotosGranTeatroNacional/imagen1.png" style="width: 380px; height: 320px; object-fit: scale-down; object-position: 0% 0">-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <a href="#">-->
<!--                                            <img src="/static/img/sedes/fotosGranTeatroNacional/imagen2.png" style="width: 380px; height: 320px; object-fit: scale-down; object-position: 0% 0;">-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                    </div>-->
                    <div class="row">
                        <div class="col s12">
                            <div class="carousel center-align">
                                <div class="carousel-item" th:each="foto : ${imagenes}" >
                                    <img th:src="${foto.ruta}" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-sm-10">
                        <h1 style="font-family: 'Open Sans', sans-serif; color: #D9D9D9;"><b>Ubicación</b></h1>
                    </div>
                    <div th:data-latlong="${sede.getCoordenadas()}" id="map0"></div>
                </div>

                <div class="row mt-5">
                    <div class="col-sm-10">
                        <h1 style="font-family: 'Open Sans', sans-serif; color: #D9D9D9;"><b>Cartelera de la sede</b></h1>
                    </div>
                </div>
                <form method="post" th:action="@{'/sedes/sede/filtrar?idsede='+ ${idsede}}">
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input name="busqueda" class="form-control text-light" type="text" style="background-color: transparent; border-radius: 5px; border-color: #7c7676"
                                       th:value="${busqueda == null ? 'Busca por # sala' : busqueda}" placeholder="Buscar por nombre de la obra"/>
                            </div>


                        </div>

                        <div class="col-sm-3">
                            <select class="form-select" name="publico" aria-label="Default select example" style="color: #fff; background-color: #e64166; border-color: #e64166;">
                                <option value="">Restricción de Edad:</option>
                                <option th:selected="${publico eq 'todos'}" value="todos">Para todos los públicos</option>
                                <option th:selected="${publico eq 'mayores'}" value="mayores">Para mayores de 16 años edad</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-12 d-flex justify-content-center">
                            <button type="submit" class="filter__btn" style="margin-top:6px;">
                                <a>Buscar</a>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="container" style="height: 455px; margin-bottom: 45px">
                <div class="row mt-5">
                    <div class="col-sm-3" th:each="funcion: ${funcionessede}">
                        <a th:href="@{'/cartelera/DetallesObra'+'?id='+ ${funcion.getKey().getIdobra().id}}">
                            <img th:src="${funcion.value.getRuta()}" style="width: 207px; height: 320px; object-fit: cover;">
                        </a>
                        <div class="container" style="text-align: center; margin-top: 10px">
                            <h6><b th:text="${funcion.getKey().getIdobra().nombre}" style="font-family: 'Open Sans', sans-serif; color: #FFFFFF">Historias de Arena</b></h6>
                        </div>
<!--                        <div class="container" style="text-align: left; margin-top: 10px">-->
<!--                            <h6><b th:each="generos : ${foto.getValue()}"-->
<!--                                   th:text="|${generos.getIdgenero().getNombre()} |" style="font-family: 'Open Sans', sans-serif; color: #e64166"></b></h6>-->
<!--                        </div>-->
                        <div class="container" style="text-align: left; margin-top: 10px">
                            <h6><b th:text="${funcion.getKey().getIdobra().restriccionedad== 1 ? '+16' : 'Apta para todos'} " style="font-family: 'Open Sans', sans-serif; color: #e64166"></b></h6>
                        </div>
                        <div class="container" style="text-align: left; margin-top: 4px">
                            <h6><b style="font-family: 'Open Sans', sans-serif; color: #e64166"><i class="bi bi-star"></i> 5</b></h6>
                        </div>

                    </div>

                </div>



                <div th:replace="fragments/paginacion :: paginacion(${pagActual},${pagTotal},'/sedes/sede?busqueda='+${busqueda}+'&idsede='+${idsede}+'&')"></div>

            </div>

        </div>

        <div th:replace="fragments/footer :: js(~{::script})">
            <script th:inline="javascript">
                function advertencia(idsede) {
                    let popup = document.getElementById('popup');

                    popup.getElementsByTagName("a").item(2).href = [[@{'/admin/sedes/borrar?idsede='}]] + idsede;
                    popup.style.display = 'block';
                }
                function initMap() {
                    const geocoder = new google.maps.Geocoder();
                    const infowindow = new google.maps.InfoWindow();
                    if (document.getElementById("map0")) {
                        const map0 = new google.maps.Map(document.getElementById("map0"), {
                            zoom: 8,
                            center: {lat: -12.043644056140575, lng: -77.04265001225203},
                        });
                        var latlonga0=document.getElementById('map0').getAttribute("data-latlong")
                        geocodeLatLng(geocoder, map0, infowindow,latlonga0);
                    }


                }

                function geocodeLatLng(geocoder, map, infowindow,latlnga) {
                    const input = latlnga
                    const latlngStr = input.split(",", 2);
                    const latlng = {
                        lat: parseFloat(latlngStr[0]),
                        lng: parseFloat(latlngStr[1]),
                    };

                    geocoder
                        .geocode({ location: latlng })
                        .then((response) => {
                            if (response.results[0]) {
                                map.setZoom(10);

                                const marker = new google.maps.Marker({
                                    position: latlng,
                                    map: map,
                                });

                                infowindow.setContent(response.results[0].formatted_address);
                                infowindow.open(map, marker);
                            } else {
                                window.alert("No results found");
                            }
                        })
                        .catch((e) => window.alert("Geocoder failed due to: " + e));
                }

                window.initMap = initMap;

                document.addEventListener('DOMContentLoaded', () => {
                    const elementosCarousel = document.querySelectorAll('.carousel');
                    M.Carousel.init(elementosCarousel, {
                        duration: 150,
                        dist: -80,
                        shift: 5,
                        padding: 5,
                        numVisible: 3,
                        indicators: true,
                        noWrap: false
                    });
                });
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
            <!-- Materialize.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        </div>
    </body>
</html>