<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/header :: head('Detalles Obra',~{::style})">
        <style>
            .card__cover {
                overflow-x: hidden;
            }

            .card__cover img, .item img {
                display: block;
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                margin-top: 0;
                aspect-ratio: 9 / 13;
            }

            #accordion{
                height: 220px;
                max-height: 220px;
                overflow-y: auto;
                border: solid 2px rgba(0,0,0,0.05);
            }

            .funciones-header{
                padding-inline: 10px;
            }

            #divCompra{
                padding: 4rem 1rem;
                background-color: #28282d;
                box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
                position: relative;
            }
            #divCompra::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 2px;
                display: block;
                background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
                box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
            }
        </style>

    </head>
    <body class="body">
        <div th:replace="fragments/navbar :: usuario('cartelera')"></div>

        <div class="content" style="padding-bottom: 0">
            <div class="container my-5">
                <div class="row">

                    <div class="col-12">
                        <h1 class="details__title" th:text="${obra.nombre}"></h1>
                    </div>

                    <div class="col-12 col-xl-6">
                        <div class="card card--details">
                            <div class="row">
                                <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
                                    <div class="card__cover">
                                        <img th:src="${listaFotos.get(0).ruta}" alt="foto">
                                    </div>
                                </div>

                                <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                                    <div class="card__content">
                                        <div class="card__wrap">
                                            <span class="card__rate">
                                                <i class="icon ion-ios-star"></i>8.4
                                            </span>

                                            <ul class="card__list">
                                                <li th:text="${obra.getRestriccionedad() eq 1 ? '16+': 'Todo Público'}"></li>
                                            </ul>
                                        </div>

                                        <ul class="card__meta">
                                            <li><span>Géneros:</span>
                                                <a href="#" th:each="g : ${listaGeneros}"
                                                   th:text="${g.nombre}"></a>
                                            </li>
                                        </ul>

                                        <div class="card__description card__description--details"
                                            th:text="${obra.descripcion}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-6" style="padding: 10px; background-color: #28282d; box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%)">

                        <div class="funciones-header">
                            <div class="row">
                                <h1 class="content__title" style="color: rgba(255,255,255,0.7); margin-block: 5px;">
                                    Comprar Boletos
                                </h1>
                            </div>
                        </div>

                        <div class="accordion" id="accordion">
                            <div class="accordion__card" th:each="sede, i : ${funcionesDeLaSede}">
                                <div class="card-header" id="headingOne">
                                    <button type="button" th:data-target="|#funciones-${sede.key.id}|"
                                            data-toggle="collapse" aria-expanded="false" th:aria-controls="|funciones-${sede.key.id}|">
                                        <span th:text="${sede.key.nombre}"></span>
                                        <span th:text="|${sede.key.direccion}, ${sede.key.iddistrito.nombre}|"></span>
                                    </button>
                                </div>

                                <div th:id="|funciones-${sede.key.id}|" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <button type="button" class="form__btn" th:each="funcion : ${sede.value}" style="margin: 5px"
                                        th:text="|${funcion.fecha} ${funcion.inicio}|" th:onclick="|seleccionFuncion(${funcion.id})|">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <form id="form-compra" method="post" th:action="@{/reserva}">

                        <div sec:authorize="isAuthenticated()" class="row justify-content-center mt-3">
                            <select id="funcion-seleccionada" name="idFuncion" style="width: 0" hidden>
                                <th:block th:each="sede : ${funcionesDeLaSede}">
                                    <option th:each="funcion : ${sede.value}"
                                            th:text="${funcion.idobra.nombre}"
                                            th:data-precio="${funcion.precioentrada}"
                                            th:data-stock="${funcion.stockentradas}"
                                            th:value="${funcion.id}">
                                    </option>
                                </th:block>
                            </select>

                            <div class="col-12" id="divCompra" style="display: none">
                                <div class="row">
                                    <div class="col-md-4 col-6" style="color: white; text-align: center">
                                        <ul>
                                            <li id="boletosRestantes"></li>
                                            <li id="costo"></li>
                                            <li id="total"></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-4 col-6">
                                        <div class="sign__group" style="position: relative">
                                            <label for="entradas">Entradas</label>
                                            <div class="boletos-container">
                                                <input id="entradas" name="cantBoletos" class="sign__input" type="number" style="width: 100%;text-align: center"
                                                       placeholder="# Entradas" min="1" value="1" readonly required>

                                                <button type="button" class="boton-resta">
                                                    <i class="bi bi-dash-lg"></i>
                                                </button>
                                                <button type="button" class="boton-suma">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-6">
                                        <button type="submit" class="form__btn">
                                            <span>Agregar a carrito</span>
                                        </button>
                                    </div>
                                    <!--
                                    <div class="col-md-2 col-6">
                                        <button type="button" class="form__btn" onclick="comprar()">
                                            <span>Comprar Ahora</span>
                                        </button>
                                    </div>
                                    -->

                                </div>
                            </div>
                        </div>
                    </form>

                    <div sec:authorize="isAnonymous()" class="row justify-content-center my-5">
                        <span style="font-size: 20px; text-align: center; color: white">No está logueado</span>
                        <a th:href="@{/login}" class="filter__btn">
                            Iniciar Sesión
                        </a>
                    </div>
                </div>
            </div>

            <!-- FOTOS -->
            <section class="mt-5 pb-5" style="background-color: #2b2b31">
                <div class="content__head" style="margin-bottom: 0">
                    <div class="container">
                        <div class="row">
                            <div class="col-12  pt-2 pb-3">
                                <!-- content title -->
                                <h2 class="content__title">Fotos</h2>
                                <!-- end content title -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div class="owl-carousel home__carousel">
                                <div class="item" th:each="foto : ${listaFotos}" th:unless="${foto.numero == 0}">
                                    <img th:src="${foto.ruta}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div th:replace="fragments/footer :: js(~{::script})">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>

            <script>

                // Elementos del input (# Boletos)
                let inputTotal = document.getElementById("entradas")
                let btnSuma = document.getElementsByClassName("boton-suma")[0]
                let btnResta = document.getElementsByClassName("boton-resta")[0]

                // Elementos del Select (Funciones)
                let select = document.getElementById("funcion-seleccionada")
                let optElegida;

                function seleccionFuncion(id) {

                    let opciones = select.children;

                    for (let ii = 0; ii<opciones.length; ii++) {
                        console.log(opciones[ii].value, id)
                        if(opciones[ii].value == id){
                            optElegida = opciones[ii];
                            opciones[ii].selected = "selected";
                            break;
                        }
                    }

                    $("#divCompra").show()

                    $("#costo").html("Precio Por Entrada: S/" + optElegida.dataset.precio);
                    $("#boletosRestantes").html("Boletos restantes: " + optElegida.dataset.stock);

                    inputTotal.max = optElegida.dataset.stock;
                    hallarCosto();
                }

                // Disminuye la cantidad
                btnResta.addEventListener("click", function(){
                    if(inputTotal.value != 1){
                        inputTotal.value -= 1;
                    }
                    hallarCosto();
                })

                // Aumenta la cantidad
                btnSuma.addEventListener("click", function(){
                    inputTotal.value = parseInt(inputTotal.value)+1;
                    hallarCosto();
                })

                function hallarCosto(){
                    console.log(optElegida)
                    let numEntradas = inputTotal.value;
                    let costo = parseFloat(optElegida.dataset.precio);

                    console.log(numEntradas,costo)

                    $("#total").html("Total: S/" + costo*numEntradas);
                }

                function reservar(){
                    let form = document.getElementById("form-compra")
                    form.action = "/reserva"
                    form.submit()
                }

                function comprar(){
                    let form = document.getElementById("form-compra")
                    form.action = "/compra"
                    form.submit()
                }

                document.addEventListener("submit", function(event){
                    if(inputTotal.value == "" || inputTotal.value < 1){
                        event.preventDefault()
                    }
                })

            </script>

        </div>
    </body>
</html>