<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/header :: head('Detalles Obra',~{::style})">
        <style>
            .card__cover {
                overflow-x: hidden;
            }

            .card__cover img {
                object-fit: cover;
                object-position: 50% 50%;
                margin-top: 0;
                height: 20em;
            }

            @media (max-width: 720px) {
                .card__cover img {
                    height: 35vh;
                }
            }
        </style>

    </head>
    <body class="body">
        <div th:replace="fragments/navbar :: usuario('cartelera')"></div>

        <section class="home" style="padding-block: 1px">
            <div class="container my-5">
                <div class="row">

                    <div class="col-12">
                        <h1 class="home__title" style="text-transform: uppercase"><b
                                th:text="${obra.getNombre()}"></b></h1>
                    </div>

                    <div class="row mt-4">
                        <div class="col-3">
                            <div class="card__cover">
                                <img th:src="${listaFotos.get(0).getRuta()}" style="width: 400px; height: 450px;">
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-8" style="padding-left: 15px;">
                                    <span class="card__category">
                                                    <a href="#" th:each="g : ${listaGeneros}"
                                                       th:text="${g.nombre}" style="font-size: 16px;"></a>
                                                </span>

                                    <!--                                    <span class="card__category">-->
                                    <!--                                                    <a href="#"-->
                                    <!--                                                       style="background-color: #FFFFFF; background-image: none; font-size: 16px;"-->
                                    <!--                                                       th:text="${funcion.sala.idsede.nombre}"></a>-->
                                    <!--                                                </span>-->

                                    <div class="card__wrap">
                                <span class="card__rate" style="font-size: 16px;"><i
                                        class="icon ion-ios-star"></i>8.4</span>

                                        <ul class="card__list">
                                            <li th:text="${obra.getRestriccionedad() eq 1 ? '16+': 'Todo Público'}"
                                                style="border: 3px solid rgba(255,255,255,0.1); padding: 5px 5px 4px; line-height: 100%; -webkit-border-radius: 4px; border-radius: 4px; margin-right: 10px; font-size: 16px; font-weight: 700; color: rgba(255,255,255,0.65);"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class=" col-4">
                                    <form method="post" action="#">
                                        <div class="header__auth" style="margin-left: 0">


                                            <!--Boton de numero de boletos (DEBE CAMBIARSE AHORA QUE SE ESTA MOSTRANDO LOS DETALLES DE LAS OBRAS)-->
                                            <!--                                            <div sec:authorize="isAuthenticated()">-->
                                            <!--                                                <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>-->
                                            <!--                                                <input type="number" name="cantidadBoletos" id="number" value="0" min="0" max="${boletosrestantes}"/>-->
                                            <!--                                                <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>-->
                                            <!--                                            </div>-->

                                            <!--                                            <input sec:authorize="isAuthenticated()" th:value="${funcion.precioentrada}" name="precio a pagar">-->
                                            <!--                                            <button sec:authorize="isAuthenticated()" href="#" class="header__sign-in" type="submit">-->
                                            <!--                                                <span style="font-size: 11px">Comprar boletos</span>-->
                                            <!--                                            </button>-->
                                        </div>
                                    </form>
                                </div>
                            </div>


                            <div class="card__description">
                                <p th:text="${obra.descripcion}" style="font-size: 16px;"></p>
                            </div>
                            <div class="card__description mt-4"
                                 th:each="directoresActores : ${listaDirectoresYActores}">

                                <p style="font-size: 16px;">Director:
                                    <span class="card__category">
                                        <a href="#"
                                           style="background-color: #FFFFFF; background-image: none; font-size: 16px;"
                                           th:each="director : ${directoresActores.key}"
                                           th:text="${director.nombres} + ' ' + ${director.apellidos}"></a>
                                </span>
                                </p>
                                <p style="font-size: 16px;">Actores:
                                    <span class="card__category">
                                        <a href="#"
                                           style="background-color: #FFFFFF; background-image: none; font-size: 16px;"
                                           th:each="actor : ${directoresActores.value}"
                                           th:text="${actor.nombres} + ' ' + ${actor.apellidos}"></a>
                                </span>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-4">
                        <h1 class="home__title" style="text-transform: uppercase; font-size: 30px">Fotos</h1>
                    </div>

                    <div class="col-12">
                        <div class="owl-carousel home__carousel">
                            <div class="item" th:each="foto : ${listaFotos}">
                                <!-- card -->
                                <div class="card card--big" style="cursor: pointer">
                                    <div class="card__cover">
                                        <img th:unless="${foto.getNumero() == 0}" th:src="${foto.ruta}">
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                        </div>
                    </div>

                    <!--Apartado de compra de boletos-->
                    <div class="col-12 mt-4">
                        <h1 class="home__title" style="text-transform: uppercase; font-size: 30px">Comprar boletos</h1>
                    </div>

                    <!--col 7 y 5-->
                    <div sec:authorize="isAuthenticated()" class="row justify-content-center mt-3">
                        <form method="post"> <!--Estoy enviando la id de la funcion y la cantidad de boletos a comprar-->
                            <div class="col-lg-7 col-md-5 col-6 sign__group">
                                <div class="row">
                                    <select class="sign__input" id="sedes" onchange="seleccionSede(this)">
                                        <option value="" selected>Seleccione una sede</option>
                                        <option th:each="sede, i : ${listaSedesConObra}"
                                                th:text="${sede.nombre}" th:value="'sede'+${sede.id}"></option>
                                    </select>
                                </div>
                                <div class="row" id="selectDefecto">
                                    <select class="sign__input">
                                        <option value="" selected>Seleccione una función de la sede</option>
                                    </select>
                                </div>
                                <div class="row" id="mostrarSelect" style="display: none">
                                    <select class="sign__input" name="funcion" th:each="a, i : ${funcionesDeLaSede}"
                                            th:id="'sede'+${a.key.id}" style="display: none"
                                            onchange="seleccionFuncion(this)"> <!--Aqui se elige la funcion a asistir-->
                                        <option value="" selected>Seleccione una función de la sede</option>
                                        <option th:each="l, i : ${a.value}" th:value="${l.key.id}"
                                                th:text="${l.value}"
                                                th:id="'funcion'+${i.index + 1}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12 sign__group">

                                <div th:each="a : ${funcionesDeLaSede}" id="funcionesDeLaSede" style="display: none">
                                    <div th:each="l, i : ${a.value}" th:id="${l.key.id}" style="display: none">
                                        <input type="number" th:value="${l.key.cantidadasistentes}"
                                               th:id="'cantidadasistentes'+${l.key.id}" hidden>
                                        <input type="number" th:value="${l.key.stockentradas}"
                                               th:id="'stockentradas'+${l.key.id}" hidden>
                                        <h1 class="home__title" style="text-transform: none; font-size: 30px"
                                            th:id="'boletosRestantes'+${l.key.id}"></h1>

                                        <td class="ps-0 pt-0">
                                            <div class="d-flex">
                                                <div>
                                                    <div class="value-button" th:id="'decrease'+${l.key.id}" th:onclick="|decreaseValue(${l.key.id})|"
                                                         value="Decrease Value"><i class="bi bi-dash"></i></div>
                                                    <input type="number" name="cantidadBoletos" th:id="'number'+${l.key.id}" value="1"
                                                           min="1" disabled/> <!--Aqui se elige la cantidad de boletos a comprar, con minimo 1 boleto y maximo el stock disponible-->
                                                    <div class="value-button" th:id="'increase'+${l.key.id}" th:onclick="|increaseValue(${l.key.id})|"
                                                         value="Increase Value"><i class="bi bi-plus-lg"></i></div>
                                                </div>
                                            </div>
                                        </td>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="row justify-content-center mt-3">
                        <a sec:authorize="isAnonymous()" th:href="@{/cartelera/carritoPrueba}"
                           class="header__sign-in"> <!--th:href="@{/login}"-->
                            <i class="icon ion-ios-log-in"></i>
                            <span style="font-size: 8px; text-align: center;">Inicie sesión para comprar sus boletos</span>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <div th:replace="fragments/footer :: js(~{::script})">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>

            <script>
                function increaseValue(id) {
                    var id = id.value;
                    var value = parseInt(document.getElementById('number'+id).value, 10);
                    value = isNaN(value) ? 0 : value;

                    var maximo = document.getElementById("number"+id).max;
                    if (value < maximo) {
                        value++;
                    }
                    document.getElementById('number').value = value;
                }

                function decreaseValue(id) {
                    var id = id.value;
                    var value = parseInt(document.getElementById('number'+id).value, 10);
                    value = isNaN(value) ? 0 : value;
                    value < 1 ? value = 1 : '';
                    var maximo = document.getElementById("number"+id).min;
                    if (value > maximo) {
                        value--;
                    }
                    document.getElementById('number').value = value;
                }

                function seleccionSede(selectObject) {
                    var value = selectObject.value;

                    if (value == "") {
                        document.getElementById("mostrarSelect").style.display = 'none';
                        document.getElementById("selectDefecto").style.display = 'block';
                    } else {
                        document.getElementById("mostrarSelect").style.display = 'block';
                        document.getElementById(value).style.display = 'block';
                        document.getElementById("selectDefecto").style.display = 'none';
                    }

                }

                function seleccionFuncion(ifFuncion) {
                    var id = ifFuncion.value;

                    if (id == "") {
                        document.getElementById("funcionesDeLaSede").style.display = 'none';
                    } else {
                        document.getElementById("funcionesDeLaSede").style.display = 'block';
                        document.getElementById(id).style.display = 'block';

                        var cantidadasistentes = document.getElementById("cantidadasistentes" + id).value;
                        var stockentradas = document.getElementById("stockentradas" + id).value;
                        var boletosrestantes = stockentradas - cantidadasistentes;
                        document.getElementById("number"+id).max = boletosrestantes;
                        document.getElementById("number"+id).removeAttribute('disabled');
                        document.getElementById("boletosRestantes" + value1).innerHTML = "<h1 class=\"home__title\" style=\"text-transform: none; font-size: 20px\">Boletos restantes: " + boletosrestantes + " </h1>";

                        // <h1 className="home__title" style="text-transform: none; font-size: 30px">Boletos restantes: </h1>

                    }

                }

            </script>

        </div>
    </body>
</html>