<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Detalles obra</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=Open+Sans&display=swap"
              rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#sede").change(function () {
                    var val = $(this).val();
                    if (val == "item1") {
                        $("#sala").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Sala</option><option value='test' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">A113</option><option value='test2' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">A112</option>");
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\"> --- </option>");
                    } else if (val == "item2") {
                        $("#sala").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Sala</option><option value='test3' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">B113</option>");
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\"> --- </option>");
                    } else if (val == "item3") {
                        $("#sala").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Sala</option><option value='test4' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">C113</option><option value='test5' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">C112</option>");
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\"> --- </option>");
                    } else if (val == "item4") {
                        $("#sala").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Sala</option><option value='test6' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">D113</option><option value='test7' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">D112</option>");
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\"> --- </option>");
                    } else if (val == "") {
                        $("#sala").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\"> --- </option>");
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\"> --- </option>");
                        $("#a").html("<h2 style=\"font-family: 'Open Sans', sans-serif;\" class=\"text-light\"> --- </h2>")
                        $("#b").html("<h2 style=\"font-family: 'Open Sans', sans-serif;\" --- </h2>")
                        $("#boletosRestantes").html("<b style=\"font-family: 'Open Sans', sans-serif; color: #fff\"\n" +
                            "                                       id=\"boletosRestantes\"> --- </b>")
                    }
                });
            });

            $(document).ready(function () {
                $("#sala").change(function () {
                    var val = $(this).val();
                    if (val == "test") {
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Horario</option><option value='horario' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Vie 30 Agosto 2023 16:00h</option>");
                    } else if (val == "test2") {
                        $("#horario").html("<option value=''>Horario</option><option value='horario'>SAB 31 AGOSTO 2023 14:00h</option>");

                    } else if (val == "test3") {
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Horario</option><option value='horario' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Dom 01 Septiembre 2023 16:00h</option>");
                    } else if (val == "test4") {
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Horario</option><option value='horario' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Lun 01 Septiembre 2023 20:00h</option>");
                    } else if (val == "test5") {
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Horario</option><option value='horario' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Mar 01 Septiembre 2023 12:00h</option>");
                    } else if (val == "test6") {
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Horario</option><option value='horario' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Jue 01 Septiembre 2023 13:00h</option>");
                    } else if (val == "test7") {
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Horario</option><option value='horario' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\">Mie 01 Septiembre 2023 10:00h</option>");
                    } else if (val == "") {
                        $("#horario").html("<option value='' style=\"font-family: 'Open Sans', sans-serif; color:#ffffff\"> --- </option>");
                    }
                });
            });

            $(document).ready(function () {
                $("#horario").change(function () {
                    var val = $(this).val();
                    if (val == "horario") {
                        $("#a").html("<li class=\"page-item\" disabled=\"\"><h5 class=\"page-link text-black\" id='counting'>--</h5></li>")
                        $("#b").html("<h2 class='text-light' style=\"font-family: 'Open Sans', sans-serif; padding-left: 0px\" id='costototal'></h2>")
                        $("#boletosRestantes").html("<b style=\"font-family: 'Open Sans', sans-serif; color:#ffffff; font-size: 20px;\" id='boletosResstantes'>23</b>")
                    }
                });
            });
        </script>

    </head>
    <body style="background-image: url('/static/img/home/telon-abierto-opaco.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: sticky; top: 0; z-index: 100;">
            <div class="container mt-2">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <h1 style="margin-right: 20px">
                            <span style="font-family: 'Barlow', sans-serif; color:#ffffff">Tele </span>
                            <span style="font-family: 'Barlow', sans-serif; color:#e64166">Millonario</span>
                        </h1>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item text-light">
                                <a class="nav-link text-light" aria-current="page"
                                   style="font-family: 'Open Sans', sans-serif;  opacity: 0.6;" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-light"
                                   style="font-family: 'Open Sans', sans-serif;" href="#">Cartelera</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light"
                                   style="font-family: 'Open Sans', sans-serif; opacity: 0.6;" href="#">Sedes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled text-light"
                                   style="font-family: 'Open Sans', sans-serif; opacity: 0.6;">Actores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled text-light"
                                   style="font-family: 'Open Sans', sans-serif; opacity: 0.6;">Directores</a>
                            </li>
                        </ul>
                        <i class="bi bi-cart4 mb-2 me-md-4 mt-1" style="color:#e64166; font-size: 30px"></i>
                        <b class="mb-2 text-light me-md-2 mt-2" style="font-family: 'Open Sans', sans-serif;">Luna</b>
                        <a role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                           aria-controls="offcanvasRight">
                            <img src="../static/img/home/images-profile.jpg" width="50" style="border-radius: 50%;">
                        </a>

                    </div>
                </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
             style="width: 18%; background-color: #000000;">
            <div class="offcanvas-header">
                <div class="container mt-5">
                    <div class="container" style="display: flex; justify-content: center">
                        <img src="../static/img/home/images-profile.jpg" width="100" style="border-radius: 50%;">
                    </div>
                    <div class="container mt-3" style="display: flex; justify-content: center">
                        <h5 id="offcanvasRightLabel" class="text-light">
                            <b class="mb-2 text-light mt-2" style="font-family: 'Open Sans', sans-serif;">Luna
                                Adanson</b>
                        </h5>
                    </div>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
            </div>
            <div class="offcanvas-body">
                <div class="container mt-1 mb-5">
                    <div class="container" style="display: flex; justify-content: center">
                        <h6>
                            <a class="nav-link" style="font-family: 'Open Sans', sans-serif; color: #FFFFFF"
                               href="#"><b>Ver perfil</b></a>
                        </h6>
                    </div>
                    <div class="container" style="display: flex; justify-content: center">
                        <h6>
                            <a class="nav-link" style="font-family: 'Open Sans', sans-serif; color: #FFFFFF"
                               href="#"><b>Historial de compras</b></a>
                        </h6>
                    </div>
                </div>
                <div class="container mt-5" style="position: relative; top: 225px;">
                    <hr style="margin: 1rem 0; color:#e64166; background-color: currentColor; border: 0; opacity: 0.9">
                    <div class="container">
                        <div class="container mt-2 mt-lg-0" style="display: flex; justify-content: center">
                            <h6>
                                <a class="nav-link" style="font-family: 'Open Sans', sans-serif; color: #e64166"
                                   href="/templates/vistaPrincipal.html"><b><i
                                        class="bi bi-box-arrow-in-left"></i> Cerrar sesión</b></a>
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container mt-5">
            <div class="container pt-2 me-auto" style="margin-bottom: 45px">

                <div class="row mb-4">
                    <div class="col-sm-10">
                        <h1 style="font-family: 'Open Sans', sans-serif; color: #D9D9D9; font-size: 65px"><b>Historias
                            de Arena</b></h1>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-3">
                        <img src="/static/img/covers/HistoriasDeArena.png"
                             style="width: 350px; height: 520px;object-fit: cover;">
                    </div>
                    <div class="col-sm-5" style="padding-right: 40px; padding-left: 60px">
                        <br>
                        <h6 class="text-light"><b>Género: Tragedia</b></h6>
                        <h6 class="text-light"><b>Restricción de edad: Para mayores de 18 años</b></h6>
                        <h6 class="text-light"><b>Duración: 2hrs 10min</b></h6>
                        <h6 class="text-light"><b>Aforo: 50</b></h6>
                        <br>
                        <h6 class="text-light" style="text-align: justify"><b>Historias de Arena nos cuenta que no nos
                            podemos proteger del
                            daño que produce el amor. Que si queremos amar nos tenemos que arriesgar a sufrir. Y que
                            tampoco los padres pueden proteger a los hijos del sufrimiento de la vida porque eso pone en
                            peligro la vivencia de una vida plena.</b></h6>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h6 class="text-light"><b>Director: Paco Fernandez</b></h6>
                        <h6 class="text-light" style="text-align: justify"><b>Actores: Pedro Saldarriaga, Aquiles
                            García, Enrique Carranza, Armando
                            Curth, Martha Noceda</b></h6>
                    </div>
                    <div class="col-sm-4" style="padding-left: 100px">
                        <h4 style="font-family: 'Open Sans', sans-serif; color:#ffffff; text-align: center; font-size: 24px"><b>Compre sus entradas aqui</b></h4>
                        <div class="row mt-3 justify-content-center">
                            <label style="font-family: 'Open Sans', sans-serif; color:#ffffff; font-size: 18px; text-align: center"><b>Sede</b></label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    style="color: #fff; background-color: #800000; border-color: #800000; height: 45px"
                                    id="sede">
                                <option value="" selected><b>Sede</b></option>
                                <option value="item1"><b>Gran Teatro Nacional</b></option>
                                <option value="item2"><b>Teatro Municipal de Lima</b></option>
                                <option value="item3"><b>Microteatro de Lima</b></option>
                                <option value="item4"><b>Teatro Municipal de Tacna</b></option>
                            </select>
                        </div>
                        <div class="row mt-2 justify-content-center">
                            <label style="font-family: 'Open Sans', sans-serif; color:#ffffff; font-size: 18px; text-align: center"><b>Sala</b></label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    style="color: #fff; background-color: #800000; border-color: #800000; height: 45px"
                                    id="sala">
                                <option value="" style="font-family: 'Open Sans', sans-serif; color: #fff"> ---</option>
                            </select>
                        </div>
                        <div class="row mt-2 justify-content-center">
                            <label style="font-family: 'Open Sans', sans-serif; color:#ffffff; font-size: 18px; text-align: center"><b>Fecha y hora</b></label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    style="color: #fff; background-color: #800000; border-color: #800000; height: 45px"
                                    id="horario">
                                <option value="" style="font-family: 'Open Sans', sans-serif; color: #fff"> ---</option>
                            </select>
                        </div>
                        <div class="row mt-4">
                            <label style="font-family: 'Open Sans', sans-serif; color:#ffffff; font-size: 22px; padding-left: 0px"><b>Costo</b></label>
                            <div class="mt-2 text-light" id="b" style="padding-left: 0px">
                                <h2 style="font-family: 'Open Sans', sans-serif; color: #fff"> --- </h2>
                            </div>
                            <div class="col-sm-4" style="padding-left: 20px;">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <button type="button" class="btn btn-secondary"
                                                onclick="increment(); multiplicate()"><i class="bi bi-plus"></i></button>
                                    </li>
                                    <div id="a">
                                        <li class="page-item" disabled=""><h5 class="page-link text-black">--</h5></li>
                                    </div>
                                    <li class="page-item">
                                        <button type="button" class="btn btn-secondary"
                                                onclick="decrement(); multiplicate()"><i class="bi bi-dash"></i></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-8" style="padding-top: 10px; padding-left: 29px;padding-right: 0px;">
                                <h6 class="text-light"
                                    style="text-align: center; font-family: 'Open Sans', sans-serif; color: #fff">
                                    <b style="font-family: 'Open Sans', sans-serif; color: #fff"
                                       id="boletosRestantes"> --- </b> <b>BOLETOS RESTANTES</b>
                                </h6>
                            </div>
                            <!--width: 500px; height: 46px-->
                            <a class="btn btn-primary" style="background-color: #e64166; border-color: #e64166; font-family: 'Open Sans', sans-serif; padding-top: 11px; padding-bottom: 10px;"
                               th:href="@{/compra}"role="button"><i class="bi bi-ticket-perforated-fill"></i> Comprar
                                boletos</a>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- JavaScript code-->
                    <script>
                        //initialising a variable name data
                        var data = 1;
                        var costoBoletos = 15.00;

                        //printing default value of data that is 0 in h2 tag
                        document.getElementById("counting").innerText = data;
                        document.getElementById("costototal").innerText = 'S/' + costoBoletos + '.00';

                        //creation of increment function
                        function increment() {
                            data = data + 1;
                            document.getElementById("counting").innerText = data;
                        }

                        //creation of decrement function
                        function decrement() {
                            data = data - 1;
                            document.getElementById("counting").innerText = data;
                        }

                        //Funcion multiplicacion
                        function multiplicate() {
                            document.getElementById("costototal").innerText = 'S/' + data * costoBoletos + '.00';
                        }
                    </script>
                </div>

            </div>
            <div class="row mt-3" style="margin-bottom: 50px">
                <div class="col-sm-10">
                    <h1 style="font-family: 'Open Sans', sans-serif; color: #D9D9D9;"><b>Fotos</b></h1>
                </div>

                <div id="carouselExampleIndicators2" class="carousel slide mt-4" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner"
                         style="padding-right: 50px; padding-left: 50px; height: 220px; margin-bottom: 45px">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="#">
                                        <img src="/static/img/covers/fotosHistoriasDeArena/imagen.png"
                                             style="width: 380px; height: 320px; object-fit: scale-down; object-position: 4% 0;">
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#">
                                        <img src="/static/img/covers/fotosHistoriasDeArena/imagen1.png"
                                             style="width: 380px; height: 320px; object-fit: scale-down; object-position: 0% 0">
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#">
                                        <img src="/static/img/covers/fotosHistoriasDeArena/imagen2.png"
                                             style="width: 380px; height: 320px; object-fit: scale-down; object-position: 0% 0;">
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="#">
                                        <img src="/static/img/covers/fotosHistoriasDeArena/imagen.png"
                                             style="width: 380px; height: 320px; object-fit: scale-down; object-position: 4% 0;">
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#">
                                        <img src="/static/img/covers/fotosHistoriasDeArena/imagen1.png"
                                             style="width: 380px; height: 320px; object-fit: scale-down; object-position: 0% 0">
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#">
                                        <img src="/static/img/covers/fotosHistoriasDeArena/imagen2.png"
                                             style="width: 380px; height: 320px; object-fit: scale-down; object-position: 0% 0;">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="#">
                                        <img src="/static/img/covers/fotosHistoriasDeArena/imagen.png"
                                             style="width: 380px; height: 320px; object-fit: scale-down; object-position: 4% 0;">
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#">
                                        <img src="/static/img/covers/fotosHistoriasDeArena/imagen1.png"
                                             style="width: 380px; height: 320px; object-fit: scale-down; object-position: 0% 0">
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#">
                                        <img src="/static/img/covers/fotosHistoriasDeArena/imagen2.png"
                                             style="width: 380px; height: 320px; object-fit: scale-down; object-position: 0% 0;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
    </body>
</html>