<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Directores',~{::style})">
        <style>
            .card__cover {
                overflow-x: hidden;
            }

            .card__cover img {
                display: block;
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                margin-top: 0;
                aspect-ratio: 9 / 15;
            }

            .sign__group{
                padding-inline: 5px;
            }
            .sign__input{
                border: solid 1px #61616c;
                width: 100%;
                border-radius: 5px;
            }

        </style>
    </head>
    <body class="body">
        <div th:replace="fragments/navbar :: usuario('directores')"></div>

        <section class="home" style="padding-block: 1px">
            <div class="container my-5">
                <div class="row">

                    <div class="alert alert-danger alert-dismissible fade show" role="alert"
                         th:if="${(msg != null) && (msg eq -1)}">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <strong>Ocurrio un error al momento de querer ver los detalles del director</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <div class="col-12">
                        <h1 class="home__title"><b>DIRECTORES</b></h1>
                    </div>

                    <!--<div class="col-12">-->
                    <div class="col-12 my-5">
                        <form method="post" th:action="@{/directores/BusquedaYFiltros}">
                            <div class="row justify-content-center">
                                <div class="col-lg-5 col-12 sign__group">

                                    <input type="text" class="sign__input"
                                           placeholder="Busque un director" name="busqueda"
                                           th:value="${busqueda}" maxlength="100">
                                </div>
                                <div class="col-lg-5 col-md-5 col-6 sign__group">
                                    <select class="sign__input" name="filtro">
                                        <option th:selected="${filtro == ''}" value="">Sin filtros</option>
                                        <option th:selected="${filtro == '1'}" value="1">Ordernar por nombre ascendentemente</option>
                                        <option th:selected="${filtro == '2'}" value="2">Ordernar por nombre descendentemente</option>
                                        <option th:selected="${filtro == '3'}" value="3">Ordenar por calificacion</option>
                                    </select>
                                </div>

                                <div class="col-md-2 col-12" style="display: flex;justify-content: center; margin: 0; padding: 0">
                                    <button type="submit" class="form__btn" style="width: 50%; margin: 0;">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="catalog">
                    <div class="container">
                        <div class="row">
                            <!-- card -->
                            <div class="col-6 col-sm-12 col-lg-3" style="padding-inline: 5px" th:each=" director : ${listaDirectores}">
                                <div class="card card--list">
                                    <div class="row">
                                        <div class="col-12 col-sm-10">
                                            <div class="card__cover">
                                                <img th:each="foto : ${listaFotos}"
                                                     th:if="${foto != null && foto.idpersona.id == director.id}"
                                                     th:src="${foto.ruta}" alt="portada">
                                                <a th:href="@{'/directores/DetallesDirector?id=' + ${director.id}}" class="card__play">
                                                    <i class="icon ion-ios-play"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-10 mt-3">
                                            <div class="card__content" style="padding: 1px; height: 100%; text-align: center">
                                                <h3 class="card__title" style="font-size: 15px">
                                                    <a th:href="@{'/directores/DetallesDirector?id=' + ${director.id}}"
                                                       th:text="|${director.nombres} ${director.apellidos}|"></a>
                                                </h3>
                                                <i class="icon ion-ios-star" style="color: #ff5860"></i>
                                                <span class="card__rate" th:text="${director.calificacion == null ? '-': director.calificacion}">
                                                        8.4
                                                    </span>
                                                <span class="card__category">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>
                    </div>
                </div>

                <div th:replace="fragments/paginacion :: paginacion(${pagActual},${pagTotal},'/directores?busqueda='+${busqueda}+'&filtro='+${filtro}+'&')"></div>
            </div>
        </section>


        <div th:replace="fragments/footer :: js(~{::script})">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
        </div>
    </body>
</html>