<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Actualizar Operador',~{::style})">
        <style>
            label{
                color: rgba(255,255,255,0.5);
            }
            input:read-only{
                opacity: 50%;
            }
        </style>
    </head>
    <body class="body">
        <header th:replace="fragments/navbar :: admin('operadores')"></header>

        <div class="sign content" style="padding: 0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="sign__content" style="margin-top: 70px">

                            <!-- authorization form -->
                            <form id="contactForm" class="sign__form" method="post" th:action="@{/admin/operadores/guardar}" th:object="${operador}">

                                <h3 style="text-align: center; color: #FFFFFF; font-size: 3rem; font-family: 'Open Sans', sans-serif;">Actualizar Operador</h3>

                                <div th:if="${msg != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <strong th:text="${msg}"></strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>

                                <div class="sign__group mt-3">
                                    <input hidden th:field="*{id}">
                                </div>

                                <div class="sign__group">
                                    <label for="dni">DNI&ensp;&ensp;&ensp;&ensp;&ensp;</label>
                                    <input class="sign__input" th:field="*{dni}"
                                           th:classappend="${#fields.hasErrors('dni')? 'is-invalid':''}"
                                           placeholder="DNI" readonly>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('dni')}"
                                         th:errors="*{dni}"></div>
                                </div>

                                <div class="sign__group">
                                    <label for="nombres">Nombres</label>
                                    <input class="sign__input" th:field="*{nombres}"
                                           th:classappend="${#fields.hasErrors('nombres')? 'is-invalid':''}"
                                           placeholder="Nombres" readonly>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('nombres')}"
                                         th:errors="*{nombres}"></div>
                                </div>

                                <div class="sign__group">
                                    <label for="apellidos">Apellidos</label>
                                    <input class="sign__input" th:field="*{apellidos}"
                                           th:classappend="${#fields.hasErrors('apellidos')? 'is-invalid':''}"
                                           placeholder="Apellidos" readonly>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('apellidos')}"
                                         th:errors="*{apellidos}"></div>
                                </div>

                                <div class="sign__group">
                                    <label for="correo">Correo&ensp;&ensp;</label>
                                    <input class="sign__input" th:field="*{correo}"
                                           th:classappend="${#fields.hasErrors('correo')? 'is-invalid':''}"
                                           placeholder="Apellidos" readonly>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('correo')}"
                                         th:errors="*{correo}"></div>
                                </div>

                                <div class="sign__group">
                                    <label for="idsede">Sede&ensp;&ensp;&ensp;&ensp;</label>
                                    <select class="sign__input" th:field="*{idsede}">
                                        <option th:each="sede : ${listaSedes}" th:value="${sede.id}"
                                                th:text="${sede.nombre}">
                                        </option>
                                    </select>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-6" style="justify-content: center">
                                        <a  class="cancel__btn" th:href="@{/admin/operadores}">Cancelar</a>
                                    </div>

                                    <div class="col-6" style="justify-content: center">
                                        <a  class="sign__btn" style="color: white;" type="button" onclick="showventanita();">Actualizar</a>
                                    </div>

                                </div>
                            </form>
                            <!-- end authorization form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="popup">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <div class="sign__form">
                            <a class="sign__logo">
                                <img th:src="@{/img/tele.PNG}" alt="">
                            </a>
                            <div class="sign__group">
                                <h5 style="color: white;font-size: 5rem;font-size: 25px;font-family: 'Open Sans';font-weight: 900;">¿Estás seguro de editar este Operador?</h5>
                            </div>
                            <a type="button" class="cancel__btn" onclick="cerrarventanita();">Cancelar</a>
                            <button class="sign__btn" type="submit" onclick="guardardatitos()"> Continuar</button>
                            <!--a type="submit" role="button" class="sign__btn" onclick="guardardatitos();">Continuar</a-->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="fragments/footer :: js(~{::script})">
            <script>
                function showventanita() {
                    document.getElementById('popup').style.display = 'block';
                }

                function cerrarventanita(){
                    document.getElementById('popup').style.display = 'none';
                }

                function guardardatitos(){
                    document.getElementById('contactForm').submit();
                }
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
        </div>
    </body>
</html>