<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Lista Operadores',~{::style})">
        <style>
            input::placeholder {
                color: #000000;
            }
        </style>
    </head>

    <body class="body">
        <div th:replace="fragments/navbar :: admin('operadores')"></div>

        <div class="content" style="margin-top: 15px">
            <div  class="container" style="margin-bottom: 30px">

                <div class="row">
                    <div class="col-12">
                        <div th:if="${msg != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <i class="bi bi-check-circle-fill"></i>
                            <strong th:text="${msg}"></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div th:if="${msg2 != null}" class="alert alert-success alert-dismissible fade show" role="alert">
                            <i class="bi bi-check-circle-fill"></i>
                            <strong th:text="${msg2}"></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-12" style="margin-top: 30px;">
                        <h1 class="details__title" style="text-align: center;margin-bottom: 30px;margin-top: 10px;font-size: 3.5rem">
                            Operadores
                        </h1>
                    </div>

                    <div class="col-md-2 col-12 d-flex justify-content-center">
                        <button style="cursor: pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Nuevo Operador">
                            <a th:href="@{/Operadores/crear}">
                                <img style="height: 55px;margin-top:6px;" th:src="@{/img/iconAdd.png}">
                            </a>
                        </button>
                    </div>
                </div>

                <form method="post" th:action="@{/Operadores/buscar}">
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-12">

                            <div class="input-group d-flex justify-content-center" style="margin-top: 50px">
                                <div class="box" style="margin-bottom: 30px">
                                    <input type="text" name="nombre" class="src" placeholder="Buscar por Nombre" style="width: auto;color: #000000">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12">
                            <div class="input-group" style="margin-top: 50px">

                                <select class="col-md-6 col-6 form-select" name="filtro" style="margin-top:9px;height: calc(1.5em + 0.75rem + 2px);padding: 0.375rem 0.75rem;color: #495057;border-radius: 0.25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
                                    <option value ="0">Selecionar sede:</option>
                                    <option th:each="sede : ${listaSede}"
                                            th:value="${sede.id}"
                                            th:text="${sede.nombre}"></option>
                                </select>

                                <div class="col-md-6 col-6 d-flex justify-content-center">
                                    <button type="submit" class="filter__btn" style="margin-top:6px;">
                                        <a>Buscar</a>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-12 col-12" style="margin-top: 50px; overflow-x: auto">
                        <table class="accordion__list" style="text-align: center;display: inline-table;">
                            <thead>
                                <tr>
                                    <th>DNI</th>

                                    <th>Nombre</th>

                                    <th>Apellido</th>

                                    <th>Sede</th>

                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="operador : ${listaOperadores}">
                                    <td th:text="${operador.dni}"></td>

                                    <td th:text="${operador.nombres}">Peter</td>

                                    <td th:text="${operador.apellidos}">Parker</td>

                                    <td th:text="${operador.idsede.nombre}">Gran Teatro Nacional</td>

                                    <td>
                                        <button>
                                            <a class="circulo_botones" th:href="@{'/Operadores/editar' + '?id=' + ${operador.id}}">
                                                <img style="height: 33px;margin-left: 9px;margin-top: 9px;" th:src="@{/img/iconEdit2.png}">
                                            </a>
                                        </button>
                                    </td>
                                    <td>
                                        <button>
                                            <a class="circulo_botones"  th:id="${operador.id}" type="button" th:onclick="'abrirPopUp('+${operador.id}+');'">
                                                <img style="height: 27px;margin-left: 11px;margin-top: 11px;" th:src="@{/img/iconTrash2.png}">
                                            </a>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div th:replace="fragments/paginacion :: paginacion(0,4,'/admin?')"></div>
            </div>
        </div>

        <div id="popup">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <form class="sign__form">
                            <a href="index.html" class="sign__logo">
                                <img src="img/tele.PNG" alt="">
                            </a>
                            <input  id="ids" value="0" hidden type="text" >
                            <div class="sign__group">
                                <h5 style="color: white;font-size: 5rem;font-size: 25px;font-family: 'Open Sans';font-weight: 900;">¿Estás seguro de borrar este Operador?</h5>
                            </div>
                            <a th:href="@{/Operadores}" onclick="cerrarPopUp();" class="sign__btn">Cancelar</a>
                            <a style="color: white"  onclick="borrar()" type="button" class="sign__btn">Continuar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: js(~{::script})">
            <script>
                function abrirPopUp(id){
                    document.getElementById("popup").style.display = 'block';
                    document.getElementById("ids").value = id;
                }

                function cerrarPopUp(){
                    document.getElementById("popup").style.display = 'none';
                }

                function borrar(){
                    var id = document.getElementById("ids").value;
                    var url = "/Operadores/borrar?id=" + id;
                    window.location.replace(url);
                }
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
        </div>
    </body>
</html>