<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Navbars</title>
    </head>
    <body>

        <header class="header" th:fragment="usuario(seccion)">
            <form id="form-logout" th:action="@{/logout}" method="post"></form>
            <div class="header__wrap" style="box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%)">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header__content">

                                <!-- header logo -->
                                <a sec:authorize="hasAuthority('Usuario') || isAnonymous()"
                                   th:href="@{/}" class="header__logo" style="width: 12rem">
                                    <img style="margin-top: 0;margin-inline: 5px;max-width: 11rem" th:src="@{/img/tele.png}" alt="logo">
                                </a>

                                <a sec:authorize="hasAuthority('Operador') || isAnonymous()"
                                   th:href="@{/operador/funciones}" class="header__logo" style="width: 12rem">
                                    <img style="margin-top: 0;margin-inline: 5px;max-width: 11rem" th:src="@{/img/tele.png}" alt="logo">
                                </a>

                                <a sec:authorize="hasAuthority('Administrador') || isAnonymous()"
                                   th:href="@{/admin}" class="header__logo" style="width: 12rem">
                                    <img style="margin-top: 0;margin-inline: 5px;max-width: 11rem" th:src="@{/img/tele.png}" alt="logo">
                                </a>
                                <!-- end header logo -->

                                <!-- header nav -->
                                <ul class="header__nav" style="height: auto;">
                                    <li class="header__nav-item">
                                        <a  th:href="@{/}" class="header__nav-link"
                                            th:classappend="${seccion=='inicio' ? 'header__nav-link--active' : ''}">Inicio</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a th:href="@{/cartelera}" class="header__nav-link"
                                           th:classappend="${seccion=='cartelera' ? 'header__nav-link--active' : ''}" >Cartelera</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a th:href="@{/sedes}" class="header__nav-link"
                                           th:classappend="${seccion=='sedes' ? 'header__nav-link--active' : ''}" >Sedes</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a th:href="@{/actores}" class="header__nav-link"
                                           th:classappend="${seccion=='actores' ? 'header__nav-link--active' : ''}" >Actores</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a th:href="@{/directores}" class="header__nav-link"
                                           th:classappend="${seccion=='directores' ? 'header__nav-link--active' : ''}" >Directores</a>
                                    </li>

                                    <li class="header__nav-item" style="margin-right: auto; margin-bottom: auto"></li>
                                </ul>
                                <!-- end header nav -->

                                <!-- Cuenta -->
                                <ul class="header__nav cuenta" style="height: auto;">
                                    <li sec:authorize="isAuthenticated()" class="header__nav-item" style="margin: 5px; margin-rigth: 10px">
                                        <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                            <img style="height: 50px; width: 50px; margin-top: 0;border-radius: 50%; object-fit:cover" th:src="${session.fotoPerfil}"></a>

                                        <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdown1">
                                            <li><a th:href="@{/perfil}">Perfil</a></li>
                                            <li><a th:href="@{/historial}">Historial</a></li>
                                            <li><a href="#" onclick="document.getElementById('form-logout').submit()">
                                                Cerrar Sesión</a></li>
                                        </ul>
                                    </li>

                                    <li sec:authorize="isAuthenticated()" class="header__nav-item" style="margin-bottom: 0">
                                        <a role="button" id="dropdown4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="cuenta" style="size: 10px;color: white">
                                                <span th:text="${session.usuario.nombres}"></span>
                                            </div>

                                            <div class="cuenta" style="size: 8px; color: rgba(255,255,255,0.5)">
                                                <span th:text="${session.usuario.apellidos}"></span>
                                            </div>
                                        </a>

                                        <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdown2">
                                            <li><a th:href="@{/perfil}">Perfil</a></li>
                                            <li><a th:href="@{/historial}">Historial</a></li>
                                            <li><a href="#" onclick="document.getElementById('form-logout').submit()">
                                                Cerrar Sesión</a></li>
                                        </ul>
                                    </li>
                                    <li class="header__nav-item" style="width: 0">
                                </ul>

                                <!-- header auth -->
                                <div class="header__auth" style="margin-left: 0">
                                    <a sec:authorize="isAnonymous()" th:href="@{/login}" class="header__sign-in">
                                        <i class="icon ion-ios-log-in"></i>
                                        <span>Iniciar Sesión</span>
                                    </a>
                                    <a sec:authorize="isAuthenticated()" th:href="@{/carrito}"
                                       class="header__sign-in" style="margin-left: auto">
                                        <i class="bi bi-cart2"></i>
                                        <span>Carrito</span>
                                    </a>
                                </div>
                                <!-- end header auth -->

                                <!-- header menu btn -->
                                <button class="header__btn" type="button">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <!-- end header menu btn -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <header class="header" th:fragment="operador(seccion)">
            <form id="form-logout" th:action="@{/logout}" method="post"></form>
            <div class="header__wrap" style="box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%)">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header__content">
                                <!-- header logo -->
                                <a th:href="@{/}" class="header__logo" style="width: 12rem">
                                    <img style="margin-top: 0;margin-inline: 5px;max-width: 11rem" th:src="@{/img/tele.png}" alt="logo">
                                </a>
                                <!-- end header logo -->

                                <!-- header nav -->
                                <ul class="header__nav" style="height: auto">
                                    <li class="header__nav-item">
                                        <a  th:href="@{/operador/funciones}" class="header__nav-link"
                                            th:classappend="${seccion=='funciones' ? 'header__nav-link--active' : ''}">Funciones</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a th:href="@{/operador/salas}" class="header__nav-link"
                                           th:classappend="${seccion=='salas' ? 'header__nav-link--active' : ''}">Salas</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a th:href="@{/operador/reportes}" class="header__nav-link"
                                           th:classappend="${seccion=='reportes' ? 'header__nav-link--active' : ''}">Reportes</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a th:href="@{/operador/resenas}" class="header__nav-link"
                                           th:classappend="${seccion=='reseñas' ? 'header__nav-link--active' : ''}">Reseñas</a>
                                    </li>

                                    <li class="header__nav-item" style="margin-right: auto; margin-bottom: auto"></li>
                                </ul>
                                <!-- end header nav -->

                                <!-- Cuenta -->
                                <ul class="header__nav cuenta" style="height: auto;">

                                    <li class="header__nav-item" style="margin: 5px">
                                        <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img style="height: 50px; margin-top: 0" th:src="@{/img/user.png}"></a>

                                        <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdown1">
                                            <li><a th:href="@{/operador/perfil}">Perfil</a></li>
                                            <li><a href="#" onclick="document.getElementById('form-logout').submit()">
                                                Cerrar Sesión</a></li>
                                        </ul>
                                    </li>

                                    <li class="header__nav-item" style="margin-bottom: 0">
                                        <a role="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="cuenta" style="size: 10px; color: white">
                                                <span th:text="${session.usuario.nombres + ' ' + session.usuario.apellidos}"></span>
                                            </div>

                                            <div class="cuenta" style="size: 8px; color: rgba(255,255,255,0.5)">
                                                <span th:text="${session.usuario.idsede.nombre}"></span>
                                            </div>
                                        </a>

                                        <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdown2">
                                            <li><a th:href="@{/operador/perfil}">Perfil</a></li>
                                            <li><a href="#" onclick="document.getElementById('form-logout').submit()">
                                                Cerrar Sesión</a></li>
                                        </ul>
                                    </li>
                                    <li class="header__nav-item" style="width: 0">
                                </ul>

                                <!-- header auth -->
                                <div class="header__auth" style="margin-left: 0">

                                    <a href="#" onclick="document.getElementById('form-logout').submit()"
                                       class="header__sign-in" style="margin-left: auto">
                                        <i class="icon ion-ios-log-out"></i>
                                        <span>Cerrar Sesión</span>
                                    </a>
                                </div>
                                <!-- end header auth -->

                                <!-- header menu btn -->
                                <button class="header__btn" type="button">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <!-- end header menu btn -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header search -->
        </header>

        <header class="header" th:fragment="admin(seccion)">
            <form id="form-logout" th:action="@{/logout}" method="post"></form>
            <div class="header__wrap" style="box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%)">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header__content">
                                <!-- header logo -->
                                <a th:href="@{/admin/sedes}" class="header__logo" style="width: 12rem">
                                    <img style="margin-top: 0;margin-inline: 5px;max-width: 11rem" th:src="@{/img/tele.png}" alt="logo">
                                </a>
                                <!-- end header logo -->

                                <!-- header nav -->
                                <ul class="header__nav" style="height: auto">
                                    <li class="header__nav-item">
                                        <a  th:href="@{/admin/sedes}" class="header__nav-link"
                                            th:classappend="${seccion=='sedes' ? 'header__nav-link--active' : ''}">Sedes</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a th:href="@{/admin/operadores}" class="header__nav-link"
                                           th:classappend="${seccion=='operadores' ? 'header__nav-link--active' : ''}" >Operadores</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a th:href="@{/admin/obras}" class="header__nav-link"
                                           th:classappend="${seccion=='obras' ? 'header__nav-link--active' : ''}" >Obras</a>
                                    </li>
                                    <li class="header__nav-item">
                                        <a th:href="@{/admin/actores}" class="header__nav-link"
                                           th:classappend="${seccion=='actores' ? 'header__nav-link--active' : ''}" >Actores</a>
                                    </li>

                                    <li class="header__nav-item">
                                        <a th:href="@{/admin/directores}" class="header__nav-link"
                                           th:classappend="${seccion=='directores' ? 'header__nav-link--active' : ''}" >Directores</a>
                                    </li>
                                    <li class="header__nav-item">
                                        <a th:href="@{/admin/clientes}" class="header__nav-link"
                                           th:classappend="${seccion=='clientes' ? 'header__nav-link--active' : ''}" >Clientes</a>
                                    </li>

                                    <li class="header__nav-item" style="margin-right: auto; margin-bottom: auto"></li>
                                </ul>
                                <!-- end header nav -->

                                <!-- Cuenta -->
                                <ul class="header__nav cuenta" style="height: auto;">
                                    <li class="header__nav-item" style="margin: 5px;">
                                        <img style="height: 50px;margin-top: 0" th:src="@{/img/user.png}">
                                    </li>

                                    <li class="header__nav-item" style="margin-bottom: 0">
                                        <div class="cuenta" style="size: 10px;color: white">
                                            <span th:text="${session.usuario.nombres + ' ' + session.usuario.apellidos}"></span>
                                        </div>

                                        <div class="cuenta" style="size: 8px; color: rgba(255,255,255,0.5)">
                                            <span>Administrador</span>
                                        </div>
                                    </li>
                                    <li class="header__nav-item" style="width: 0">
                                </ul>

                                <!-- header auth -->
                                <div class="header__auth" style="margin-left: 3px">

                                    <a href="#" onclick="document.getElementById('form-logout').submit()"
                                       class="header__sign-in" style="margin-left: auto">
                                        <i class="icon ion-ios-log-out"></i>
                                        <span>Cerrar Sesión</span>
                                    </a>
                                </div>
                                <!-- end header auth -->

                                <!-- header menu btn -->
                                <button class="header__btn" type="button">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <!-- end header menu btn -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header search -->
        </header>

    </body>
</html>