<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

<head th:replace="fragments/header :: head('Error',_)"></head>

<body class="body">

	<div class="content page-404" style="padding: 0">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="page-404__wrap">
						<div class="page-404__content">
							<h1 class="page-404__title" th:text="${status}"></h1>
							<p class="page-404__text" th:text="(${status} == 404) ? 'La página que buscas no está disponible' : ${error}"></p>

                            <a sec:authorize="hasAnyAuthority('Usuario','ROLE_USER') || isAnonymous()" th:href="@{/}" class="page-404__btn">Página Principal</a>
                            <a sec:authorize="hasAuthority('Operador')" th:href="@{/operador/funciones}" class="page-404__btn">Página Principal</a>
                            <a sec:authorize="hasAuthority('Administrador')" th:href="@{/admin}" class="page-404__btn">Página Principal</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JS -->
    <div th:replace="fragments/footer :: js(_)"></div>
</body>

</html>