<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="fragments/header :: head('Modelo',~{::style})">
    <style>
        .select-label, .select2-results__option, .select2-search__field, .select2-selection__choice__display{
            color: white;
            width: 100%;
        }
        .select2-container .select2-search--inline .select2-search__field{
            height: 1.25rem;
            vertical-align: unset;
        }
        .select2-container--default .select2-selection--multiple{
            background-color: #2b2b31;
            border: none;
            height: auto;
            border-radius: 0;
            padding-block: 5px;
        }
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border: solid #ff55a5 1px;
        }

        .select2-dropdown {
            background-color: #2b2b31;
            border: none;
            font-size: 15px;
            box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
            border-radius: 0;
            padding-inline: 0;
        }

        .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
            background-color: #2b2b31;
            color: #ff55a5
        }
        .select2-container--default .select2-results__option--selected {
            background-color: #424247;
            color: white;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: #424247;
            border: none;
            vertical-align: unset;
        }
		#map0 {
			height: 30%;
			width: 30%;
		}
		#map1 {
			height: 30%;
			width: 30%;
		}
		#map2 {
			height: 30%;
			width: 30%;
		}
		/*#mapa {*/
		/*	height: 30%;*/
		/*	width: 30%;*/
		/*}*/

		#map_canvas{
			height: 30%;
			width: 30%;
		}

		/*
         * Optional: Makes the sample page fill the window.
         */
		html,
		body {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		#latlng {
			width: 225px;
		}
    </style>
</head>

<body class="body">
	
	<!-- header -->
	<header th:replace="fragments/navbar :: usuario('inicio')"></header>


	<!-- home -->
	<section class="home home--bg">

		<div class="container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <strong> Prueba Botones (Aqui no funcionan)</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

			<div class="row">
				<div class="col-12">
					<h1 class="home__title"><b>NEW ITEMS</b> OF THIS SEASON</h1>

                    <button id="notificacion" class="form__btn">
                        Notificación
                    </button>

					<button class="home__nav home__nav--prev" type="button">
						<i class="icon ion-ios-arrow-round-back"></i>
					</button>
					<button class="home__nav home__nav--next" type="button">
						<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>

				<div class="col-12">
					<div class="owl-carousel home__carousel">
						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="img/covers/cover.jpg" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Triler</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="img/covers/cover2.jpg" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">Benched</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="img/covers/cover3.jpg" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">Whitney</a></h3>
									<span class="card__category">
										<a href="#">Romance</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="img/covers/cover4.jpg" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">Blindspotting</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>
								</div>
							</div>
							<!-- end card -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end home -->

	<div>
		<input id="latlng" type="text" value="40.714224,-73.961452" />
		<input id="submit" type="button" value="Reverse Geocode" />
	</div>
	<div id="map0"></div>
	<div id="map1"></div>
	<div id="map2"></div>
<!--	<div>-->
<!--		<input id="latlng1" type="text" value="40.714224,-73.961452" />-->
<!--		<input id="submit1" type="button" value="Reverse Geocode" />-->
<!--	</div>-->
<!--	<div id="mapa"></div>-->
<!--	<div id="map123" class="maps" data-gps="46.1461154,17.1580882"></div>-->
<!--	<div id="map456" class="maps" data-gps="45.1461154,13.1080882"></div>-->

<!--	<div id="map_canvas" style="width:30%; height:30%; margin-left:80px;"></div>-->
<!--	<div id="map_canvas2" style="width:30%; height:30%; margin-left:80px;"></div>-->

    <form method="post" th:action="@{/ejemplo/subir}" enctype="multipart/form-data">
        <label style="color: white" for="imagenes">Agregar</label>
        <input type="file" style="color: white" id="imagenes" name="imagenes" multiple>
        <button class="filter__btn" type="submit">Subir Imagenes</button>
    </form>

    <div class="col-6" style="width: 50%">
    <label class="select-label" for="estados">Seleccione Integrantes
        <select class="select2" style="width: 100%; background-color: #2b2b31" id="estados" name="estados" multiple="multiple">
            <option value="AL" selected>Percy</option>
            <option value="WY">Rodrigo</option>
            <option value="AL" selected>Joaquin</option>
            <option value="WY">Manuel</option>
            <option value="AL" selected>Alonso</option>
            <option value="WY">...</option>
        </select>
    </label>
    </div>

	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">
                <div th:replace="fragments/paginacion :: paginacion(0,10,'xd')"></div>
                <div th:replace="fragments/paginacion :: paginacion(9,10,'xd')"></div>
                <div th:replace="fragments/paginacion :: paginacion(5,10,'xd')"></div>
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title">New items</h2>
						<!-- end content title -->

						<!-- content tabs nav -->
						<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NEW RELEASES</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">MOVIES</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">TV SERIES</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">CARTOONS</a>
							</li>
						</ul>
						<!-- end content tabs nav -->

						<!-- content mobile tabs nav -->
						<div class="content__mobile-tabs" id="content__mobile-tabs">
							<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="New items">
								<span></span>
							</div>

							<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NEW RELEASES</a></li>

									<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">MOVIES</a></li>

									<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">TV SERIES</a></li>

									<li class="nav-item"><a class="nav-link" id="4-tab" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">CARTOONS</a></li>
								</ul>
							</div>
						</div>
						<!-- end content mobile tabs nav -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content -->

	<!-- expected premiere -->
	<section class="section section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title">Expected premiere</h2>
				</div>
				<!-- end section title -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="img/covers/cover.jpg" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
							<span class="card__category">
								<a href="#">Action</a>
								<a href="#">Triler</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="img/covers/cover3.jpg" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">Benched</a></h3>
							<span class="card__category">
								<a href="#">Comedy</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="img/covers/cover2.jpg" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">Whitney</a></h3>
							<span class="card__category">
								<a href="#">Romance</a>
								<a href="#">Drama</a>
								<a href="#">Music</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="img/covers/cover6.jpg" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">Blindspotting</a></h3>
							<span class="card__category">
								<a href="#">Comedy</a>
								<a href="#">Drama</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="img/covers/cover4.jpg" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
							<span class="card__category">
								<a href="#">Action</a>
								<a href="#">Triler</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="img/covers/cover5.jpg" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">Benched</a></h3>
							<span class="card__category">
								<a href="#">Comedy</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- section btn -->
				<div class="col-12">
					<a href="#" class="section__btn">Show more</a>
				</div>
				<!-- end section btn -->
			</div>
		</div>
	</section>
	<!-- end expected premiere -->


    <div th:replace="/fragments/footer :: js(~{::script})">
        <script>
            $(document).ready(function() {
                $('.select2').select2({
                    placeholder: 'Integrantes',
                    closeOnSelect: false
                });
            });
			function initMap() {
				const map0 = new google.maps.Map(document.getElementById("map0"), {
					zoom: 8,
					center: { lat: 40.731, lng: -73.997 },
				});
				const map1 = new google.maps.Map(document.getElementById("map1"), {
					zoom: 8,
					center: { lat: 40.731, lng: -73.997 },
				});
				const map2 = new google.maps.Map(document.getElementById("map2"), {
					zoom: 8,
					center: { lat: 40.731, lng: -73.997 },
				});

				const geocoder = new google.maps.Geocoder();
				const infowindow = new google.maps.InfoWindow();

				latlnga="40.714224,-73.961452";
				latlnga1="40.714224,-73.934413";
				geocodeLatLng(geocoder, map0, infowindow,latlnga);
				geocodeLatLng(geocoder, map1, infowindow,latlnga1);
				geocodeLatLng(geocoder, map2, infowindow,latlnga1);
			}

			function geocodeLatLng(geocoder, map, infowindow,latlnga) {
				const input = latlnga
				const latlngStr = input.split(",", 2);
				const latlng = {
					lat: parseFloat(latlngStr[0]),
					lng: parseFloat(latlngStr[1]),
				};

				geocoder
						.geocode({ location: latlng })
						.then((response) => {
							if (response.results[0]) {
								map.setZoom(11);

								const marker = new google.maps.Marker({
									position: latlng,
									map: map,
								});

								// infowindow.setContent(response.results[0].formatted_address);
								// infowindow.open(map, marker);
							} else {
								window.alert("No results found");
							}
						})
						.catch((e) => window.alert("Geocoder failed due to: " + e));
			}

			window.initMap = initMap;
			// var map;
			// function initialize() {
			// 	// Get all map canvas with ".maps" and store them to a variable.
			// 	var maps = document.getElementsByClassName("maps");
			//
			// 	var ids, gps, mapId = '';
			//
			// 	// Loop: Explore all elements with ".maps" and create a new Google Map object for them
			// 	for(var i=0; i<maps.length; i++) {
			//
			// 		// Get ID of single div
			// 		mapId = document.getElementById(maps[i].id);
			//
			// 		// Get LatLng stored in data attribute.
			// 		// !!! Make sure there is no space in data-attribute !!!
			// 		// !!! and the values are separated with comma !!!
			// 		gps = mapId.getAttribute('data-gps');
			//
			// 		// Convert LatLng to an array
			// 		gps = gps.split(",");
			//
			// 		// Create new Google Map object for single canvas
			// 		map = new google.maps.Map(mapId, {
			// 			zoom: 15,
			// 			// Use our LatLng array bellow
			// 			center: new google.maps.LatLng(parseFloat(gps[0]), parseFloat(gps[1])),
			// 			mapTypeId: 'roadmap',
			// 			mapTypeControl: true,
			// 			zoomControlOptions: {
			// 				position: google.maps.ControlPosition.RIGHT_TOP
			// 			}
			// 		});
			//
			// 		// Create new Google Marker object for new map
			// 		var marker = new google.maps.Marker({
			// 			// Use our LatLng array bellow
			// 			position: new google.maps.LatLng(parseFloat(gps[0]), parseFloat(gps[1])),
			// 			map: map
			// 		});
			// 	}
			// }
			// var map, map2;
			//
			// function initialize() {
			// 	// create the maps
			// 	var myOptions = {
			// 		zoom: 8,
			// 		center: { lat: 40.731, lng: -73.997 },
			// 	}
			// 	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			//
			// 	map2 = new google.maps.Map(document.getElementById("map_canvas2"), myOptions);
			// }

        </script>

    </div>
</body>

</html>