<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="fragments/header :: head('Actualización de Contraseña',_)"></head>
    <body class="body">
        <div class="content" style="padding: 0">
            <div class="sign">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="sign__content">
                                <form class="sign__form" th:action="@{/resetearContrasenia}" method="POST" th:if="${msgexitoso == null}">
                                    <a th:href="@{/}" class="sign__logo">
                                        <img th:src="@{/img/tele.png}" alt="logo">
                                    </a>
                                    <input type="hidden" name="token" th:value="${token}"/>
                                    <h1 style="font-size: 40px">
                                        <span style="font-family: 'Barlow', sans-serif; color:#ffffff">Actualización de </span>
                                        <span style="font-family: 'Barlow', sans-serif; color:#e64166">Contraseña</span>
                                    </h1>

                                    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${msgexitoso != null}" style="position: absolute; left: 800px; top: 550px">
                                        <i class="bi bi-check-circle-fill"></i>
                                        <strong th:text="${msgexitoso}"></strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>

                                    <h4 th:if="${msg != null}" th:text="${msg}" style="color:red;font-size: 18px;letter-spacing: 0.2px;font-family: 'Open Sans', sans-serif;"></h4>

                                    <div class="sign__group">
                                        <input type="password" autofocus style="text-align:center;width: 400px" name="password" class="sign__input" placeholder="Ingrese su nueva contraseña">
                                    </div>

                                    <div class="sign__group">
                                        <input type="password"style="text-align:center;width: 400px" name="repassword" class="sign__input" placeholder="Repita su nueva contraseña">
                                        <div class="invalid-feedback d'block" th:if="${(msg1 != null)}" th:text="${msg1}"></div>
                                        <div class="invalid-feedback d-block" th:if="${(msg2 != null)}" th:text="${msg2}"></div>
                                    </div>

                                    <button class="sign__btn" type="submit">Actualizar contraseña</button>

                                    <span class="sign__text"><a th:href="@{/login}"><span style="margin-right: 15px"></span><u>Iniciar Sesión</u></a></span>
                                </form>

                                <form class="sign__form" method="POST" th:if="${msgexitoso != null}">
                                    <a th:href="@{/}" class="sign__logo">
                                        <img th:src="@{/img/tele.png}" alt="logo">
                                    </a>
                                    <input type="hidden" name="token" th:value="${token}"/>
                                    <h1 style="font-size: 40px">
                                        <span style="font-family: 'Barlow', sans-serif; color:#ffffff">Actualización de </span>
                                        <span style="font-family: 'Barlow', sans-serif; color:#e64166">Contraseña</span>
                                    </h1>

                                    <h4 th:if="${msgexitoso != null}" th:text="${msgexitoso}" style="margin-top: 5px;color:#e64166;font-size: 18px;letter-spacing: 0.2px;font-family: 'Open Sans', sans-serif;"></h4>


                                    <a th:href="@{/login}" type="button" class="sign__btn"><span style="margin-right: 15px"></span>Iniciar Sesión</a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: js(_)"></div>
    </body>
</html>