<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Cambio de Contraseña',_)"></head>

    <body class="body">
        <div class="content" style="padding: 0">
            <div class="sign">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="sign__content">
                                <form class="sign__form" th:action="@{/cambioPassword}" method="POST">

                                    <a th:href="@{/}" class="sign__logo">
                                        <img th:src="@{/img/tele.png}" alt="logo">
                                    </a>

                                    <h1 style="font-size: 40px">
                                        <span style="font-family: 'Barlow', sans-serif; color:#ffffff">Cambio de </span>
                                        <span style="font-family: 'Barlow', sans-serif; color:#e64166">Contraseña</span>
                                    </h1>
                                    <h4 th:if="${msgexito != null}" th:text="${msgexito}" style="margin-top: 5px;color:#e64166;font-size: 18px;letter-spacing: 0.2px;font-family: 'Open Sans', sans-serif;"></h4>
                                    <h4 th:if="${msgexito != null}" style="margin-top: 5px;color:#e64166;font-size: 18px;letter-spacing: 0.2px;font-family: 'Open Sans', sans-serif;">
                                        Su enlace expirará en <span id="timer" style="margin-top: 5px;color:#e64166;font-size: 18px;letter-spacing: 0.2px;font-family: 'Open Sans', sans-serif;"></span> minutos, por lo que deberá cambiar su contraseña lo más pronto posible
                                    </h4>
                                    <h4 th:if="${msg != null}" th:text="${msg}" style="color:rgba(255,30,0,0.93);opacity:0.8;font-size: 18px;letter-spacing: 0.2px;font-family: 'Open Sans', sans-serif;"></h4>
                                    <div class="sign__group" style="margin-top: 15px" th:if="${msgexito == null}">
                                        <input type="text" class="sign__input" style="text-align:center;width: 380px;padding: 0px 48px" name="correo" placeholder="Ingrese su correo registrado" autofocus>
                                    </div>

                                    <button class="sign__btn" type="submit" th:if="${msgexito == null}">Recuperar contraseña</button>
                                    <span class="sign__text"><a th:href="@{/login}" type="button">Iniciar Sesión</a></span>
                                </form>
                                <!--a th:href="@{/prueba}">Prueba</a-->
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: js(~{::script})">
            <script>
                document.getElementById('timer').innerHTML =
                    14 + ":" + 01;
                startTimer();


                function startTimer() {
                    var presentTime = document.getElementById('timer').innerHTML;
                    var timeArray = presentTime.split(/[:]+/);
                    var m = timeArray[0];
                    var s = checkSecond((timeArray[1] - 1));
                    if (s === 59) {
                        m = m - 1
                    }
                    if (m < 0) {
                        return
                    }

                    document.getElementById('timer').innerHTML =
                        m + ":" + s;
                    console.log(m)
                    setTimeout(startTimer, 1000);

                }

                function checkSecond(sec) {
                    if (sec < 10 && sec >= 0) {
                        sec = "0" + sec
                    }
                    // add zero in front of numbers < 10
                    if (sec < 0) {
                        sec = "59"
                    }
                    return sec;
                }
            </script>
        </div>
    </body>
</html>