<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="fragments/header :: head('Cambio de Contraseña',_)"></head>

    <body class="body">
        <div class="content" style="padding: 0">
            <div class="sign">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="sign__content">
                                <form class="sign__form" th:action="@{/cambioPassword}" method="POST">
                                    <a th:href="@{/}" class="sign__logo">
                                        <img th:src="@{/img/tele.png}" alt="logo">
                                    </a>

                                    <h1 style="font-size: 40px">
                                        <span style="font-family: 'Barlow', sans-serif; color:#ffffff">Cambio de </span>
                                        <span style="font-family: 'Barlow', sans-serif; color:#e64166">Contraseña</span>
                                    </h1>
                                    <h4 th:if="${msgexito != null}" th:text="${msgexito}" style="margin-top: 5px;color:#e64166;font-size: 18px;letter-spacing: 0.2px;font-family: 'Open Sans', sans-serif;"></h4>
                                    <h4 th:if="${msg != null}" th:text="${msg}" style="color:red;font-size: 18px;letter-spacing: 0.2px;font-family: 'Open Sans', sans-serif;"></h4>
                                    <div class="sign__group" style="margin-top: 15px">
                                        <input type="text" class="sign__input" style="width: 380px;padding: 0px 48px" name="correo" placeholder="Ingrese el correo con el cual se registro" required autofocus>
                                    </div>

                                    <button class="sign__btn" type="submit">Recuperar contraseña</button>
                                    <br>
                                    <a th:href="@{/login}" type="button" style="color: #e64166">Iniciar Sesión</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: js(_)"></div>
    </body>
</html>