<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head th:replace="fragments/header :: head('Creación de Cuenta',_)"></head>

    <body class="body">

        <div class="sign section--bg" th:src="@{/img/section/section.jpg}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="sign__content">
                            <form th:action="@{/validacionSignUp}" class="sign__form" th:object="${usuario}">
                                <a th:href="@{/}" class="sign__logo">
                                    <img th:src="@{/img/tele.png}" alt="logo">
                                </a>
                                <div class="sign__group">
                                    <label class="sign__input" style="padding: 12px 20px" th:text="${usuario.getNombres()}"></label>
                                </div>
                                <div class="sign__group">
                                    <label class="sign__input" style="padding: 12px 20px" th:text="${usuario.getApellidos()}"></label>
                                </div>
                                <div class="sign__group">
                                    <input type="text" class="sign__input" placeholder="DNI" name = "dni" th:value="${usuario.getDni()}"
                                           th:classappend="${#fields.hasErrors('dni')?'is-invalid':''}">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('dni')}"
                                         th:errors="*{dni}"></div>
                                </div>
                                <div class="sign__group">
                                    <label class="sign__input" style="padding: 12px 20px" th:text="${usuario.getCorreo()}"></label>
                                </div>
                                <div class="sign__group">
                                    <input type="text" class="sign__input" placeholder="Teléfono" name="telefono" th:value="${usuario.getTelefono()}"
                                           th:classappend="${#fields.hasErrors('telefono')?'is-invalid':''}">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('telefono')}"
                                         th:errors="*{telefono}"></div>
                                </div>
                                <div class="sign__group">
                                    <input type="text" id="datePickerId" class="sign__input" placeholder="Fecha de Nacimiento" name="nacimiento" th:value="${usuario.getNacimiento()}" onfocus="(this.type='date')">
                                </div>

                                <div class="sign__group">
                                    <input type="text" class="sign__input" placeholder="Dirección" name="direccion" th:value="${usuario.getDireccion()}">
                                </div>

                                <div class="sign__group">
                                    <input type="password" class="sign__input" placeholder="Contraseña" name="contrasenia" <!--th:value="${usuario.getContrasenia()}"-->
                                           th:classappend="${#fields.hasErrors('contrasenia')?'is-invalid':''}">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('contrasenia')}"
                                         th:errors="*{contrasenia}"></div>
                                </div>
                                <div class="sign__group">
                                    <input type="password" class="sign__input" placeholder="Confirmar Contraseña" name="recontrasenia">
                                    <!--<div class="invalid-feedback" th:if="${#fields.hasErrors('contrasenia')}"
                                         th:errors="*{contrasenia}"></div>-->
                                </div>
                                <button class="sign__btn" type="submit">Registrarse</button>

                                <span class="sign__text">¿Ya tienes una cuenta?<a th:href="@{/login}"><span style="margin-right: 15px"></span>Ingresar</a></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: js(~{::script})">
            <script>
                var d = new Date()
                d.setDate(d.getDate() - 1)
                datePickerId.max = d.toISOString().split("T")[0] ;

                // Function to check Whether both passwords
                // is same or not.
                function checkPassword(form) {
                    password1 = form.contrasenia.value;
                    password2 = form.recontrasenia.value;

                    // If password not entered
                    if (contrasenia == '')
                        //Habilitar texto que indique su ingreso obligatorio

                    // If confirm password not entered
                    else if recontrasenia == '')
                        //Habilitar texto que indique su ingreso obligatorio

                    // If Not same return False.
                    else if (contrasenia != recontrasenia) {
                        //Habilitar texto que indique que ambas deben coincidir
                        return false;
                    }

                    // If same return True.
                    else{
                        //Dejar hacer el form
                        return true;
                    }
                }
            </script>
        </div>
    </body>

</html>