<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="fragments/header :: head('Inicio de Sesión',_)"></head>

<body class="body">
	<div class="content" style="padding: 0">
		<div class="sign">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="sign__content">
							<form class="sign__form" th:action="@{/processLogin}" method="POST">
								<a th:href="@{/}" class="sign__logo">
									<img th:src="@{/img/tele.png}" alt="logo">
								</a>
								<div class="sign__group">
									<input type="text" class="sign__input" name="username" placeholder="Correo" required autofocus>
								</div>
								<div class="sign__group">
									<input type="password" name="password" class="sign__input" placeholder="Contraseña">
								</div>
								<div class="sign__group sign__group--checkbox">
									<input id="remember" name="remember" type="checkbox" checked="checked">
									<label for="remember">Recuérdame</label>
								</div>
								<h4 th:if="${param.error}" style="color:red;font-size: 18px;letter-spacing: 0.2px;font-family: 'Open Sans', sans-serif;">Correo o contraseña incorrecto</h4>
								<button class="sign__btn" type="submit">Ingresar</button>

								<span class="sign__text">¿No tienes una cuenta?<a th:href="@{/crearCuenta}"><span style="margin-right: 15px"></span>Regístrate</a></span>

								<!--span class="sign__text"><a href="#">¿Olvidaste tu contraseña?</a></span-->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



    <div th:replace="fragments/footer :: js(_)"></div>
</body>

</html>