<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="fragments/header :: head('Logueo',_)"></head>

<body class="body">

	<div class="sign">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<form th:action="@{/processLogin}" method="POST" class="sign__form">
							<a th:href="@{/PaginaPrincipal}" class="sign__logo">
								<img th:src="@{/img/tele.png}" alt="logo">
							</a>
							<div class="sign__group">
								<input type="text" class="sign__input" name="correo" placeholder="Correo" required autofocus>
							</div>
							<div class="sign__group">
								<input type="password" name="password" class="sign__input" placeholder="Contraseña">
							</div>
							<!--div class="sign__group sign__group--checkbox">
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">Recuérdame</label>
							</div-->
							<h4 th:if="${param.error}" class="form-signin-heading" style="color:red">Acceso denegado</h4>
							<button class="sign__btn" type="submit">Ingresar</button>

							<span class="sign__text">¿No tienes una cuenta?<a th:href="@{/crearCuenta}"><span style="margin-right: 15px"></span>Regístrate</a></span>

							<!--span class="sign__text"><a href="#">¿Olvidaste tu contraseña?</a></span-->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div th:replace="fragments/footer :: js(_)"></div>
</body>

</html>