<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="fragments/header :: head('Creación de Cuenta',~{::style})">
    <style>
        .sign__input{
            width: 100%;
        }

        .mostrar {
            color: rgba(255,255,255,0.5);
            font-size: 20px;
            position: absolute;
            top: 20%;
            right: 20px;
            transition: 0.2s ease-in-out;
        }

        .mostrar:hover::before {
            color: #de5073;
            box-shadow:  0 0 10px 1px rgb(255 88 96 / 50%), inset 0 0 20px 3px rgb(184 89 94 / 38%);
        }

    </style>
</head>

<body class="body">

	<div class="sign" th:src="@{/img/section/section.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<form th:action="@{/validacionSignUp}" class="sign__form" th:object="${usuario}" method="post" style="max-width: 800px">

                            <a th:href="@{/}" class="sign__logo">
								<img th:src="@{/img/tele.png}" alt="logo">
							</a>

							<input type="number" name="google" th:value="${google}" hidden>
                            <input type="number" name="oauth2" th:value="${usuario.getOauth2()}" hidden>

                            <div class="row">
                               <div class="col-md-6 col-12">
                                   <div class="sign__group">
                                       <label for="nombres">Nombres</label>
                                       <input type="text" class="sign__input" placeholder="Nombres" id="nombres" name="nombres" th:value="${usuario.getNombres()}" required autofocus maxlength="100"
                                              th:classappend="${#fields.hasErrors('nombres')?'is-invalid':''}" th:hidden="${google eq 1}">
                                       <div th:unless="${google eq 1}" class="invalid-feedback" th:if="${#fields.hasErrors('nombres')}"
                                            th:errors="*{nombres}"></div>
                                       <!--div class="invalid-feedback d-block" th:if="${(errNombre != null) && (errNombre == true)}">Los nombres no pueden contener caracteres.</div-->
                                   </div>

                                   <div class="sign__group">
                                       <label for="dni">DNI</label>
                                       <input type="text" class="sign__input" placeholder="DNI" id="dni" name="dni" th:value="${usuario.getDni()}" required maxlength="8"
                                              th:classappend="${#fields.hasErrors('dni')?'is-invalid':''}">
                                       <div class="invalid-feedback" th:if="${#fields.hasErrors('dni')}"
                                            th:errors="*{dni}"></div>
                                       <div class="invalid-feedback d-block" th:if="${(errDni != null) && (errDni == true)}">Verifique el DNI ingresado</div>
                                   </div>

                                   <div class="sign__group">
                                       <label for="telefono">Teléfono</label>
                                       <input type="text" class="sign__input" placeholder="Teléfono" id="telefono" name="telefono" th:value="${usuario.getTelefono()}" required maxlength="9"
                                              th:classappend="${#fields.hasErrors('telefono')?'is-invalid':''}">
                                       <div class="invalid-feedback" th:if="${#fields.hasErrors('telefono')}"
                                            th:errors="*{telefono}"></div>
                                   </div>

                               </div>

                               <div class="col-md-6 col-12">
                                   <div class="sign__group">
                                       <label for="apellidos">Apellidos</label>
                                       <input type="text" class="sign__input" placeholder="Apellidos" id="apellidos" name="apellidos" th:value="${usuario.getApellidos()}" required maxlength="100"
                                              th:classappend="${#fields.hasErrors('apellidos')?'is-invalid':''}" th:hidden="${google eq 1}">
                                       <div th:unless="${google eq 1}" class="invalid-feedback" th:if="${#fields.hasErrors('apellidos')}"
                                            th:errors="*{apellidos}"></div>
                                       <!--div class="invalid-feedback d-block" th:if="${(errApellido != null) && (errApellido == true)}">Los apellidos no pueden contener caracteres.</div-->
                                   </div>

                                   <div class="sign__group">
                                       <label for="correo">Correo</label>
                                       <input type="email" class="sign__input" placeholder="Correo" id="correo" autocomplete="username" name="correo" th:value="${usuario.getCorreo()}" required maxlength="100"
                                              th:classappend="${#fields.hasErrors('correo')?'is-invalid':''}" th:hidden="${google eq 1}">
                                       <div th:unless="${google eq 1}" class="invalid-feedback" th:if="${#fields.hasErrors('correo')}"
                                            th:errors="*{correo}"></div>
                                       <div th:unless="${google eq 1}" class="invalid-feedback d-block" th:if="${(errCorreo != null) && (errCorreo eq 1)}">El correo ingresado ya está en uso</div>
                                   </div>

                                   <div class="sign__group">
                                       <label for="nacimiento">Fecha de Nacimiento</label>
                                       <input type="date" class="sign__input" placeholder="Fecha de Nacimiento" id="nacimiento" name="nacimiento" th:value="${usuario.getNacimiento()}" onfocus="(this.type='date')" required>
                                       <div class="invalid-feedback d-block" th:if="${(errDate != null) && (errDate eq -1)}">La fecha ingresada debe ser hasta un dia antes de la fecha actual</div>
                                   </div>
                               </div>

                                <div class="col-12">
                                    <div class="sign__group">
                                        <label for="direccion">Dirección</label>
                                        <input type="text" class="sign__input" placeholder="Dirección" id="direccion" name="direccion" th:value="${usuario.getDireccion()}" required maxlength="100">
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="sign__group">
                                        <label for="contrasenia">Contraseña</label>

                                        <div style="position: relative">
                                            <input type="password" class="sign__input" placeholder="Contraseña" name="contrasenia" th:hidden="${google eq 1}" autocomplete="new-password" id="contrasenia" required maxlength="200"
                                               th:classappend="${#fields.hasErrors('contrasenia')?'is-invalid':''}">
                                            <i class="mostrar bi bi-eye-fill"></i>
                                        </div>

                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('contrasenia')}"
                                             th:errors="*{contrasenia}"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="sign__group">
                                        <label for="recontrasenia">Confirmar Contraseña</label>

                                        <div style="position: relative">
                                            <input type="password" class="sign__input" placeholder="Confirmar Contraseña" id="recontrasenia" name="recontrasenia" required maxlength="200" autocomplete="new-password" th:hidden="${google eq 1}">
                                            <i class="mostrar bi bi-eye-fill"></i>
                                        </div>

                                        <div class="invalid-feedback" id="coindicencia">Las contraseñas no coinciden</div>
                                        <div class="invalid-feedback d-block" th:if="${(errRecontrasenia != null) && (errRecontrasenia eq 1)}">Ambos campos de contraseña deben ser llenados</div>
                                    </div>
                                </div>
                            </div>

							<button class="sign__btn" type="submit" id="btnSubmit" onclick="return Validate()">Registrarse</button>

							<span class="sign__text">¿Ya tienes una cuenta?<a th:href="@{/login}"><span style="margin-right: 15px"></span>Ingresar</a></span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: js(~{::script})">
		<script type="text/javascript">

			var d = new Date()
			d.setDate(d.getDate() - 1)
			document.getElementById('nacimiento').max = d.toISOString().split("T")[0] ;

			function Validate() {
				var password = document.getElementById("contrasenia").value;
				var confirmPassword = document.getElementById("recontrasenia").value;
				var x = document.getElementById("coindicencia");
				x.style.display = "none";

				if (password != confirmPassword) {
					x.style.display = "block";
					return false;
				}
				return true;
			}

		</script>

        <script>
            $('.mostrar').click(function (){
                if(this.classList.contains('bi-eye-fill')){
                    this.classList.replace('bi-eye-fill','bi-eye-slash-fill')
                    console.log(this.previousElementSibling)
                    this.previousElementSibling.type = 'text';
                } else{
                    this.classList.replace('bi-eye-slash-fill','bi-eye-fill')
                    console.log(this.previousElementSibling)
                    this.previousElementSibling.type = 'password';
                }
            })
        </script>

	</div>
</body>

</html>