<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="css/nouislider.min.css">
        <link rel="stylesheet" href="css/ionicons.min.css">
        <link rel="stylesheet" href="css/plyr.css">
        <link rel="stylesheet" href="css/photoswipe.css">
        <link rel="stylesheet" href="css/default-skin.css">
        <link rel="stylesheet" href="css/main.css">
        <!-- Favicons -->
        <link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
        <link rel="apple-touch-icon" href="icon/favicon-32x32.png">
        <link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Dmitry Volkov">
        <title>Lista de Sedes</title>

    </head>
    <body class="body">
        <header class="header">
            <div class="header__wrap">
                <div class="container">
                    <div class="row">
                        <div class="header__content" style="height: 50px" >
                            <img src="img/tele.png">
                            <ul class="header__nav">
                                <li class="header__nav-item">
                                    <a  href="#" class="header__nav-link">Sedes</a>
                                </li>

                                <li class="header__nav-item">
                                    <a href="#" class="header__nav-link">Operadores</a>
                                </li>

                                <li class="header__nav-item">
                                    <a href="pricing.html" class="header__nav-link">Actores</a>
                                </li>

                                <li class="header__nav-item">
                                    <a href="faq.html" class="header__nav-link">Directores</a>
                                </li>
                                <li class="header__nav-item">
                                    <a href="faq.html" class="header__nav-link">Clientes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <div class="container">
                <div class="row">
                    <div class="col-12" style="margin-top: 100px">
                        <h1 class="details__title" style="text-align: center">Sedes</h1>
                    </div>
                    <div class="col-12">
                        <table class="accordion__list" style="text-align: center">
                            <thead>
                                <tr>
                                    <th>Foto</th>
                                    <th>Nombre</th>
                                    <th>Distrito</th>
                                    <th>Dirección</th>
                                    <th>Distrito</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>Pilot</td>
                                    <td>Tuesday, November 16th, 2004</td>
                                    <td>Tuesday, November 16th, 2004</td>
                                    <td>Tuesday, November 16th, 2004</td>
                                    <td>(Boton info,editar,agregar)</td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td>Paternity</td>
                                    <td>Tuesday, November 23rd, 2004</td>
                                    <td>Tuesday, November 16th, 2004</td>
                                    <td>Tuesday, November 16th, 2004</td>
                                    <td>(Boton info,editar,agregar)</td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td>Occam's Razor</td>
                                    <td>Tuesday, November 30th, 2004</td>
                                    <td>Tuesday, November 16th, 2004</td>
                                    <td>Tuesday, November 16th, 2004</td>
                                    <td>(Boton info,editar,agregar)</td>
                                </tr>
                                <tr>
                                    <th>4</th>
                                    <td>Maternity</td>
                                    <td>Tuesday, December 7th, 2004</td>
                                    <td>Tuesday, November 16th, 2004</td>
                                    <td>Tuesday, November 16th, 2004</td>
                                    <td>(Boton info,editar,agregar)</td>
                                </tr>
                                <tr>
                                    <th>5</th>
                                    <td>Damned If You Do</td>
                                    <td>Tuesday, December 14th, 2004</td>
                                    <td>Tuesday, November 16th, 2004</td>
                                    <td>Tuesday, November 16th, 2004</td>
                                    <td>(Boton info,editar,agregar)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <!--/section-->
        <!-- content -->
        <footer class="footer">
            <div class="container">
            </div>
        </footer>
        <!-- JS -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.mousewheel.min.js"></script>
        <script src="js/jquery.mCustomScrollbar.min.js"></script>
        <script src="js/wNumb.js"></script>
        <script src="js/nouislider.min.js"></script>
        <script src="js/plyr.min.js"></script>
        <script src="js/jquery.morelines.min.js"></script>
        <script src="js/photoswipe.min.js"></script>
        <script src="js/photoswipe-ui-default.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>