<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Lista Sedes',~{::style})">
        <style>
            .mapa {
                height: 150px;
                width: 150px;
            }
        </style>
    </head>

    <body class="body">
        <div th:replace="fragments/navbar :: admin('sedes')"></div>

        <div class="content" style="margin-top: 15px">
            <div  class="container" style="margin-bottom: 30px">

                <div class="row">
                    <div class="col-md-10 col-12" style="margin-top: 30px;">
                        <h1 class="details__title" style="text-align: center;margin-bottom: 30px;margin-top: 10px;font-size: 3.5rem">
                            Sedes
                        </h1>
                    </div>

                    <div class="col-md-2 col-12 d-flex justify-content-center">
                        <button style="cursor: pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Nueva sala">
                            <a th:href="@{/admin/sedes/crear}">
                                <img style="height: 55px;margin-top:6px;" th:src="@{/img/iconAdd.png}">
                            </a>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${msg != null}">
                            <i class="bi bi-check-circle-fill"></i>
                            <strong th:text="${msg}"></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${err != null}">
                            <i class="bi bi-info-circle-fill"></i>
                            <strong th:text="${err}"></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

                <form method="post" th:action="@{/admin/sedes/buscar}">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-12 sign__group">
                            <input type="search" name="parametro" placeholder="Buscar Sede" class="search_input"
                                   th:value="${parametro == null ? 'Ingrese lo que desea buscar' : parametro}">

                        </div>
                        <div class="col-lg-4 col-md-6 col-12 sign__group">

                            <select class="search_input" name="buscador">
                                <option>Filtrar por:</option>
                                <option th:selected="${buscador eq 'nombre'}" value="nombre">Nombre</option>
                                <option th:selected="${buscador eq 'distrito'}" value="distrito">Distrito</option>
                            </select>
                        </div>

                        <div class="col-lg-2 col-6" style="margin: 0; padding: 0">
                            <button type="submit" class="form__btn" style="width: 80%; margin: 0;">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-12 col-12" style="margin-top: 50px; overflow-x: auto">
                        <table class="accordion__list" style="text-align: center;display: inline-table;">
                            <thead>
                                <tr>
                                    <th><b>Foto</b></th>
                                    <th><b>Nombre</b></th>
                                    <th><b>Distrito</b></th>
                                    <th><b>Dirección</b></th>
                                    <th><b>Coordenadas</b></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="foto,index: ${listaSedes}">
                                    <th ><center><img style="height: 80px;width: 90px;margin-top: 14px" th:src="${foto.ruta}"></center></th>
                                    <td th:text="${foto.getIdsede().getNombre()}">Gran Teatro Nacional</td>
                                    <td th:text="${foto.getIdsede().getIddistrito().getNombre()}">San Miguel</td>
                                    <td th:text="${foto.getIdsede().getDireccion()}">Av. Grau</td>
                                    <td>
<!--                                        <div th:data-latlong="${foto.getIdsede().getCoordenadas()}" th:id="|map${index.index}|"></div></td>-->
                                        <div style="width: 100%"><iframe width="250" height="200"  th:src="|https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=${foto.idsede.direccion}+(ubicacion)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed|"><a href="https://www.gps.ie/wearable-gps/">gps smartwatches</a></iframe></div>
                                    <td>
                                        <button style="cursor: pointer">
                                            <a class="circulo_botones" th:href="@{'/admin/salas'+'?idsede='+ ${foto.getIdsede().getId()}}">
                                                <img style="height: 34px;margin-left: 8px;margin-top:8px;" th:src="@{/img/iconInfo3.png}">
                                            </a>
                                        </button>
                                    </td>
                                    <td>
                                        <button>
                                            <a class="circulo_botones" th:href="@{'/admin/sedes/editar'+'?idsede='+ ${foto.getIdsede().getId()}}">
                                                <img style="height: 33px;margin-left: 9px;margin-top: 9px;" th:src="@{/img/iconEdit2.png}">
                                            </a>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="circulo_botones">
                                            <img style="height: 27px;margin-left: 11px;margin-top: 11px;" th:onclick="|advertencia(${foto.getIdsede().getId()})|" th:src="@{/img/iconTrash2.png}">
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div th:replace="fragments/paginacion :: paginacion(${pagActual},${pagTotal},'/admin/sedes?parametro='+${parametro}+'&buscador='+${buscador}+'&')"></div>

            </div>
        </div>


        <div id="popup" class="overlay">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <form action="#" class="sign__form">
                            <a class="sign__logo">
                                <img th:src="@{/img/tele.png}" alt="">
                            </a>
                            <div class="sign__group">
                                <h5 style="color: white;font-size: 5rem;font-size: 25px;font-family: 'Open Sans';font-weight: 900;">¿Estás seguro de borrar esta Sede?</h5>
                            </div>
                            <button type="button" th:onclick="document.getElementById('popup').style.display = 'none'" class="sign__btn">Cancelar</button>
                            <a href="#" class="sign__btn">Continuar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: js(~{::script})">
            <script th:inline="javascript">
                function advertencia(idsede) {
                    let popup = document.getElementById('popup');

                    popup.getElementsByTagName("a")[1].href = [[@{'/admin/sedes/borrar?idsede='}]] + idsede;
                    popup.style.display = 'block';
                }
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
        </div>
    </body>
</html>