<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Historial de Compras',~{::style})">
        <style>
            input::placeholder {
                color: #000000;
            }
        </style>
    </head>

    <body class="body">
        <!-- header -->
        <div th:replace="fragments/navbar :: usuario('')"></div>

        <div class="content" style="margin-top: 15px">
            <div class="container" style="margin-bottom: 30px">

                <div class="row">

                    <div class="col-12">
                        <h1 class="home__title" style="text-transform: none">Historial de compras</h1>
                    </div>

                    <div class="col-md-12 col-12" style="margin-top: 30px; overflow-x: auto">
                        <table class="accordion__list" style="text-align: center;display: inline-table;">
                            <thead>
                                <tr>
                                    <th>Sede</th>
                                    <th>Sala</th>
                                    <th>Fecha de la funcion</th>
                                    <th>Obra</th>
                                    <th>Estado</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <!--Aqui hacer el th:each. Agregar tmb en el i para el i.index-->
                            <tbody th:each="compras : ${historialCompras}">
                                <!--cambiar el id por heading${i.index+1}}-->
                                <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                    <td class="align-middle" style="padding-bottom: 9px;"
                                        th:text="${compras.getFuncion().getIdsala().getIdsede().getNombre()}"></td>
                                    <td class="align-middle" style="padding-bottom: 9px;"
                                        th:text="|Sala ${compras.getFuncion().getIdsala().getNumero()}|"></td>
                                    <td class="align-middle" style="padding-bottom: 9px;"
                                        th:text="${compras.getFuncion().getFecha()}"></td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <a th:href="@{'/cartelera/DetallesObra?id=' + ${compras.funcion.idobra.id}}" th:text="${compras.getFuncion().getIdobra().getNombre()}" style="color: #FFFFFF"></a>
                                    </td>

                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <span class="badge bg-warning text-dark"
                                              th:if="${compras.estado eq 'Asistido'}"
                                              th:text="${compras.estado}">Asistido</span>
                                        <span class="badge bg-danger" th:if="${compras.estado eq 'Cancelado'}"
                                              th:text="${compras.estado}">Cancelado</span>
                                        <span class="badge bg-success" th:if="${compras.estado eq 'Vigente'}"
                                              th:text="${compras.estado}">Vigente</span>
                                    </td>

                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <button type="button" class="btn btn-danger" style="text-align: center"
                                                th:disabled="${(compras.estado eq 'Cancelado') || (compras.estado eq 'Asistido')}">
                                            <a th:href="@{'/actualizarEstadoCompra?id='+${compras.id}}" style="color: #FFFFFF">
                                                Cancelar
                                            </a>
                                        </button>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <button type="submit" class="btn btn-info"
                                                th:disabled="${(compras.estado eq 'Cancelado') || (compras.estado eq 'Vigente')}">
                                            <a th:href="@{'/calificarObra?id='+${compras.funcion.id}}" style="color: #FFFFFF">
                                                Calificar
                                            </a>
                                        </button>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <a class="btn btn-link" style="color: #FFFFFF">
                                            <i style="font-size: 20px;" class="bi bi-three-dots"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="hiddenRow"
                                        style="padding-left: 0px;padding-right: 0px;padding-top: 0px; padding-bottom: 0px;">
                                        <div class="accordian-body collapse" id="demo1">
                                            <table class="table table-striped table-dark">
                                                <thead>
                                                    <tr>
                                                        <th style="padding-bottom: 9px;">Boletos comprados</th>
                                                        <th style="padding-bottom: 9px;">Costo total</th>
                                                        <th style="padding-bottom: 9px;">Hora de inicio</th>
                                                        <th style="padding-bottom: 9px;">Hora de fin</th>
                                                        <th style="padding-bottom: 9px;">Duracion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="${compras.cantidad}"></td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="|S/${compras.montoTotal}|"></td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="${compras.funcion.inicio}"></td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="${compras.funcion.fin}"></td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="${duracionFuncioncompra.get(compras)}"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!--                <div th:replace="fragments/paginacion :: paginacion(${pagActual},${pagTotal},'/admin/actores?busqueda='+${busqueda}+'&')"></div>-->
        <div th:replace="fragments/footer :: js(~{::script})">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
        </div>
    </body>
</html>