<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Historial de Compras',~{::style})">
        <style>
            input::placeholder {
                color: #000000;
            }
        </style>
    </head>

    <body class="body">
        <!-- header -->
        <div th:replace="fragments/navbar :: usuario('')"></div>

        <div class="content" style="margin-top: 15px">
            <div class="container" style="margin-bottom: 30px">

                <div class="row mb-3" style="width: 100%">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${mensajeExito != null}">
                        <i class="bi bi-check-circle-fill"></i>
                        <strong th:text="${mensajeExito}"></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${compraExitosa != null}">
                        <i class="bi bi-check-circle-fill"></i>
                        <strong th:text="${compraExitosa}"></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${exitoCancelar != null}">
                        <i class="bi bi-check-circle-fill"></i>
                        <strong th:text="${exitoCancelar}"></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${noDejarCalificar != null}">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <strong th:text="${noDejarCalificar}"></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${noDejarCancelar != null}">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <strong th:text="${noDejarCancelar}"></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${noCancelarPorHora != null}">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <strong th:text="${noCancelarPorHora}"></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12">
                        <h1 class="home__title" style="text-transform: none">Historial de compras</h1>
                        <h1 class="home__title" style="text-transform: none; font-size: 20px">*Podrá usted cancelar su compra hasta 1h antes de inicio de la función</h1>
                    </div>
                    <div class="col-12 mt-4">
                        <form method="post" th:action="@{/BusquedaYFiltros}">
                            <div class="row justify-content-center">
                                <div class="col-lg-10 col-md-5 col-6 sign__group">
                                    <select class="sign__input" name="filtro" style="width: 950px">
                                        <option th:selected="${filtro == 0}" value="0">Sin filtro</option>
                                        <option th:selected="${filtro == 1}" value="1">Compra realizada hace 1 dia</option>
                                        <option th:selected="${filtro == 2}" value="2">Compra realizada hace 2 dias</option>
                                        <option th:selected="${filtro == 3}" value="3">Compra realizada hace 1 semana</option>
                                        <option th:selected="${filtro == 4}" value="4">Compra realizada hace 1 mes</option>
                                    </select>
                                </div>

                                <div class="col-md-2 col-12" style="display: flex;justify-content: center; margin: 0; padding: 0">
                                    <button type="submit" class="form__btn" style="width: 50%; margin: 0;">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-12" style="margin-top: 2px; overflow-x: auto">
                        <table class="accordion__list" style="text-align: center;display: inline-table;">
                            <thead>
                                <tr>
                                    <th>Fecha y hora de pago</th>
                                    <th>Fecha de la funcion</th>
                                    <th>Obra</th>
                                    <th>Estado</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <!--Aqui hacer el th:each. Agregar tmb en el i para el i.index-->
                            <tbody th:each="compras : ${historialCompras}">
                                <!--cambiar el id por heading${i.index+1}}-->
                                <tr data-toggle="collapse" th:data-target="'#demo'+${compras.id}" class="accordion-toggle">
                                    <td class="align-middle" style="padding-bottom: 9px;" th:each="pago : ${listaPagos}" th:if="${pago.key.idcompra.id == compras.id}"
                                        th:text="${pago.value}"></td>
                                    <td class="align-middle" style="padding-bottom: 9px;"
                                        th:text="${compras.getFuncion().getFecha()}"></td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <a th:href="@{'/cartelera/DetallesObra?id=' + ${compras.funcion.idobra.id}}" th:text="${compras.getFuncion().getIdobra().getNombre()}" style="color: #FFFFFF"></a>
                                    </td>

                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <span class="badge bg-warning text-dark"
                                              th:if="${compras.estado eq 'Asistido'}"
                                              th:text="${compras.estado}">Asistido</span>
                                        <span class="badge bg-danger" th:if="${compras.estado eq 'Cancelado'}"
                                              th:text="${compras.estado}">Cancelado</span>
                                        <span class="badge bg-success" th:if="${compras.estado eq 'Vigente'}"
                                              th:text="${compras.estado}">Vigente</span>
                                    </td>

                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <button type="button" class="btn btn-danger" style="text-align: center"
                                                th:disabled="${(compras.estado eq 'Cancelado') || (compras.estado eq 'Asistido')}">
                                            <a th:href="@{'/actualizarEstadoCompra?id='+${compras.id}}" style="color: #FFFFFF">
                                                Cancelar
                                            </a>
                                        </button>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;" th:each="habilitado : ${calificacionHabilitada}" th:if="${compras.id eq habilitado.key.id}">
                                        <button type="submit" class="btn btn-info"
                                                th:disabled="${(compras.estado eq 'Cancelado') || (compras.estado eq 'Vigente') || !((compras.id eq habilitado.key.id) && habilitado.value)}">
                                            <a th:href="@{'/calificarObra?id='+${compras.funcion.id}+'&idCompra='+${compras.id}}" style="color: #FFFFFF">
                                                Calificar
                                            </a>
                                        </button>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <a class="btn btn-link" style="color: #FFFFFF">
                                            <i style="font-size: 20px;" class="bi bi-three-dots"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="hiddenRow"
                                        style="padding-left: 0px;padding-right: 0px;padding-top: 0px; padding-bottom: 0px;">
                                        <div class="accordian-body collapse" th:id="|demo${compras.id}|">
                                            <table class="table table-striped table-dark">
                                                <thead>
                                                    <tr>
                                                        <th style="padding-bottom: 9px;">Sede</th>
                                                        <th style="padding-bottom: 9px;">Sala</th>
                                                        <th style="padding-bottom: 9px;">Boletos comprados</th>
                                                        <th style="padding-bottom: 9px;">Costo total</th>
                                                        <th style="padding-bottom: 9px;">Hora de inicio</th>
                                                        <th style="padding-bottom: 9px;">Hora de fin</th>
                                                        <th style="padding-bottom: 9px;">Duracion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="${compras.getFuncion().getIdsala().getIdsede().getNombre()}"></td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="|Sala ${compras.getFuncion().getIdsala().getNumero()}|"></td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="${compras.cantidad}"></td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="|S/${compras.montoTotal}|"></td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="${compras.funcion.inicio}"></td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="${compras.funcion.fin}"></td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"
                                                            th:text="${duracionFuncioncompra.get(compras)}"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:replace="fragments/paginacion :: paginacion(${pagActual},${pagTotal},'/historialPrueba?filtro='+${filtro}+'&')"></div>
            </div>
        </div>
        <br>
        <!--                <div th:replace="fragments/paginacion :: paginacion(${pagActual},${pagTotal},'/admin/actores?busqueda='+${busqueda}+'&')"></div>-->
        <div th:replace="fragments/footer :: js(~{::script})">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
        </div>
    </body>
</html>