<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Historial de Compras',~{::style})">
        <style>
            input::placeholder {
                color: #000000;
            }
        </style>
    </head>

    <body class="body">
        <!-- header -->
        <div th:replace="fragments/navbar :: usuario('')"></div>

        <div class="content" style="margin-top: 15px">
            <div class="container" style="margin-bottom: 30px">

                <div class="row">

                    <div class="col-12">
                        <h1 class="home__title" style="text-transform: none">Historial de compras</h1>
                    </div>

                    <div class="col-md-12 col-12" style="margin-top: 30px; overflow-x: auto">
                        <table class="accordion__list" style="text-align: center;display: inline-table;">
                            <thead>
                                <tr>
                                    <th>Sede y sala</th>
                                    <th>Fecha y hora de inicio</th>
                                    <th>Obra</th>
                                    <th>Estado</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <!--Aqui hacer el th:each. Agregar tmb en el i para el i.index-->
                            <tbody>
                                <!--cambiar el id por heading${i.index+1}}-->

                                <!--A repetir-->
                                <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                    <td class="align-middle" style="padding-bottom: 9px;">Gran Teatro Nacional Sala 1
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">2022-08-01 17:00:00</td>
                                    <td class="align-middle" style="padding-bottom: 9px;">El mar fue primero, primero
                                        fue el mar
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;"><span
                                            class="badge text-bg-success">Vigente</span></td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <button type="button" class="btn btn-danger">Cancelar</button>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <button type="button" class="btn btn-info" disabled>Calificar
                                        </button>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <a class="btn btn-link" style="color: #FFFFFF">
                                            <!--cambiar el collapse por collapse${i.index+1}}-->
                                            <i style="font-size: 20px;" class="bi bi-three-dots"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="hiddenRow"
                                        style="padding-left: 0px;padding-right: 0px;padding-top: 0px; padding-bottom: 0px;">
                                        <div class="accordian-body collapse" id="demo1">
                                            <table class="table table-striped table-dark">
                                                <thead>
                                                    <tr>
                                                        <th style="padding-bottom: 9px;">Duración</th>
                                                        <th style="padding-bottom: 9px;">Restricción de Edad</th>
                                                        <th style="padding-bottom: 9px;">Géneros</th>
                                                        <th style="padding-bottom: 9px;">Calificación</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="align-middle" style="padding-bottom: 9px;">01:00h
                                                        </td>
                                                        <td class="align-middle" style="padding-bottom: 9px;">
                                                            <ul class="card__list">
                                                                <li>Todo Público</li>
                                                            </ul>
                                                        </td>
                                                        <td class="align-middle" style="padding-bottom: 9px;">Tragedia,
                                                            Drama
                                                        </td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"><span
                                                                class="card__rate"><i
                                                                class="icon ion-ios-star"></i>8.4</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!--A repetir-->

                                <!--A repetir-->
                                <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                                    <td class="align-middle" style="padding-bottom: 9px;">Gran Teatro Nacional Sala 1
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">2022-08-01 17:00:00</td>
                                    <td class="align-middle" style="padding-bottom: 9px;">El mar fue primero, primero
                                        fue el mar
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;"><span
                                            class="badge rounded-pill text-bg-danger">Cancelado</span>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <button type="button" class="btn btn-danger" disabled>Cancelar</button>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <button type="button" class="btn btn-info" disabled>Calificar
                                        </button>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <a class="btn btn-link" style="color: #FFFFFF">
                                            <!--cambiar el collapse por collapse${i.index+1}}-->
                                            <i style="font-size: 20px;" class="bi bi-three-dots"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="hiddenRow"
                                        style="padding-left: 0px;padding-right: 0px;padding-top: 0px; padding-bottom: 0px;">
                                        <div class="accordian-body collapse" id="demo2">
                                            <table class="table table-striped table-dark">
                                                <thead>
                                                    <tr>
                                                        <th style="padding-bottom: 9px;">Duración</th>
                                                        <th style="padding-bottom: 9px;">Restricción de Edad</th>
                                                        <th style="padding-bottom: 9px;">Géneros</th>
                                                        <th style="padding-bottom: 9px;">Calificación</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="align-middle" style="padding-bottom: 9px;">01:00h
                                                        </td>
                                                        <td class="align-middle" style="padding-bottom: 9px;">
                                                            <ul class="card__list">
                                                                <li>Todo Público</li>
                                                            </ul>
                                                        </td>
                                                        <td class="align-middle" style="padding-bottom: 9px;">Tragedia,
                                                            Drama
                                                        </td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"><span
                                                                class="card__rate"><i
                                                                class="icon ion-ios-star"></i>8.4</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!--A repetir-->

                                <!--A repetir-->
                                <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
                                    <td class="align-middle" style="padding-bottom: 9px;">Gran Teatro Nacional Sala 1
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">2022-08-01 17:00:00</td>
                                    <td class="align-middle" style="padding-bottom: 9px;">El mar fue primero, primero
                                        fue el mar
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <span class="badge rounded-pill text-bg-warning">Asistido</span>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <button type="button" class="btn btn-danger" disabled>Cancelar</button>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <button type="button" class="btn btn-info">Calificar
                                        </button>
                                    </td>
                                    <td class="align-middle" style="padding-bottom: 9px;">
                                        <a class="btn btn-link" style="color: #FFFFFF">
                                            <!--cambiar el collapse por collapse${i.index+1}}-->
                                            <i style="font-size: 20px;" class="bi bi-three-dots"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="hiddenRow"
                                        style="padding-left: 0px;padding-right: 0px;padding-top: 0px; padding-bottom: 0px;">
                                        <div class="accordian-body collapse" id="demo3">
                                            <table class="table table-striped table-dark">
                                                <thead>
                                                    <tr>
                                                        <th style="padding-bottom: 9px;">Duración</th>
                                                        <th style="padding-bottom: 9px;">Restricción de Edad</th>
                                                        <th style="padding-bottom: 9px;">Géneros</th>
                                                        <th style="padding-bottom: 9px;">Calificación</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="align-middle" style="padding-bottom: 9px;">01:00h
                                                        </td>
                                                        <td class="align-middle" style="padding-bottom: 9px;">
                                                            <ul class="card__list">
                                                                <li>Todo Público</li>
                                                            </ul>
                                                        </td>
                                                        <td class="align-middle" style="padding-bottom: 9px;">Tragedia,
                                                            Drama
                                                        </td>
                                                        <td class="align-middle" style="padding-bottom: 9px;"><span
                                                                class="card__rate"><i
                                                                class="icon ion-ios-star"></i>8.4</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!--A repetir-->

                                <!--A repetir-->
                                <div th:each="compras, i : ${listaCompras}">
                                    <tr data-toggle="collapse" th:data-target="'#demo'+${i.index+1}+${compras.id}"
                                        class="accordion-toggle">
                                        <td class="align-middle" style="padding-bottom: 9px;"
                                            th:text="${compras.funcion.idsala.idsede.nombre}+' Sala '+${compras.funcion.idsala.numero}">
                                            Gran Teatro Nacional Sala 1
                                        </td>
                                        <td class="align-middle" style="padding-bottom: 9px;"
                                            th:text="${compras.funcion.fecha}+' '+${compras.funcion.inicio}">
                                            2022-08-01
                                            17:00:00
                                        </td>
                                        <td class="align-middle" style="padding-bottom: 9px;"
                                            th:text="${compras.funcion.idobra.nombre}">El mar fue primero, primero
                                            fue el mar
                                        </td>
                                        <td class="align-middle" style="padding-bottom: 9px;">
                                        <span class="badge bg-warning text-dark"
                                              th:if="${compras.estado eq 'Asistido'}"
                                              th:text="${compras.estado}">Asistido</span>
                                            <span class="badge bg-danger" th:if="${compras.estado eq 'Cancelado'}"
                                                  th:text="${compras.estado}">Cancelado</span>
                                            <span class="badge bg-success" th:if="${compras.estado eq 'Vigente'}"
                                                  th:text="${compras.estado}">Vigente</span>
                                        </td>
                                        </td>
                                        <td class="align-middle" style="padding-bottom: 9px;">
                                            <button type="button" class="btn btn-danger"
                                                    th:disabled="${(compras.estado eq 'Cancelado') || (compras.estado eq 'Asistido')}">
                                                <a th:href="@{'/actualizarEstadoCompra?id='+${compras.id}}">Cancelar</a>
                                            </button>
                                        </td>
                                        <td class="align-middle" style="padding-bottom: 9px;">
                                                <button type="submit" class="btn btn-info"
                                                        th:disabled="${(compras.estado eq 'Cancelado') || (compras.estado eq 'Vigente')}">
                                                    Calificar
                                                </button>
                                        </td>
                                        <td class="align-middle" style="padding-bottom: 9px;">
                                            <a class="btn btn-link" style="color: #FFFFFF">
                                                <!--cambiar el collapse por collapse${i.index+1}}-->
                                                <i style="font-size: 20px;" class="bi bi-three-dots"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="hiddenRow"
                                            style="padding-left: 0px;padding-right: 0px;padding-top: 0px; padding-bottom: 0px;">
                                            <div class="accordian-body collapse"
                                                 th:id="'demo'+${i.index+1}+${compras.id}">
                                                <table class="table table-striped table-dark">
                                                    <thead>
                                                        <tr>
                                                            <th style="padding-bottom: 9px;">Duración</th>
                                                            <th style="padding-bottom: 9px;">Restricción de Edad</th>
                                                            <th style="padding-bottom: 9px;">Géneros</th>
                                                            <th style="padding-bottom: 9px;">Calificación</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="align-middle" style="padding-bottom: 9px;" th:each="duracion : ${duracionFuncioncompra}" th:if="${duracion.key.id eq compras.id}" th:text="${duracion.value}">01:00h
                                                            </td>
                                                            <td class="align-middle" style="padding-bottom: 9px;">
                                                                <ul class="card__list">
                                                                    <li th:text="${compras.funcion.idobra.restriccionedad == 1 ? '16+': 'Todo Público'}">
                                                                        Todo Público
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td class="align-middle" style="padding-bottom: 9px;">
                                                            <span class="card__category"
                                                                  th:each="obragenero : ${generosDeObras}">
                                                                <a href="#" th:each="generos : ${obragenero.getValue()}"
                                                                   th:if="${compras.id eq obragenero.key.id}"
                                                                   th:text="${generos.nombre}"></a>
                                                            </span>
                                                                <!--                                                            Tragedia,-->
                                                                <!--                                                            Drama-->
                                                            </td>
                                                            <td class="align-middle" style="padding-bottom: 9px;"><span
                                                                    class="card__rate"><i
                                                                    class="icon ion-ios-star"></i>8.4</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    </div>
                                    <!--A repetir-->

                                    <!--cambiar el collapse y el heading por collapse${i.index+1}} y heading${i.index+1}}-->
                            </tbody>

                        </table>


                    </div>
                </div>
            </div>
        </div>
        <br>
        <!--                <div th:replace="fragments/paginacion :: paginacion(${pagActual},${pagTotal},'/admin/actores?busqueda='+${busqueda}+'&')"></div>-->
        <div th:replace="fragments/footer :: js(~{::script})">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
        </div>
    </body>
</html>