<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(${actor.id == null ? 'Nuevo Actor' : 'Editar Actor'},~{::style})">
        <style>
            label{
                color: rgba(255,255,255,0.5);
            }

            div.card__cover img {
                margin-inline: auto;
                max-height: 150px;
                max-width: fit-content;
            }
            #images{
                width: 90%;
                position: relative;
                margin: auto;
                display: flex;
            }
            .owl-dots{
                height: 0;
            }
        </style>
    </head>

    <body class="body">
        <!-- header -->
        <header th:replace="fragments/navbar :: admin('actores')"></header>
        <!-- end header -->

        <div class="content" style="padding: 0">

            <div class="sign">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="sign__content" style="margin-top: 70px">

                                <!-- authorization form -->
                                <form class="sign__form" method="post" th:object="${actor}" th:action="@{/admin/actores/subir}" enctype="multipart/form-data">
                                    <h3 style="text-align: center; color: #FFFFFF; font-size: 3rem; font-family: 'Open Sans', sans-serif;"
                                    th:text="${actor.id == null ? 'Nuevo Actor' : 'Editar Actor'}"></h3>

                                    <div class="row">
                                        <div class="col-12" style="width: fit-content">
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${err != null}">
                                                <i class="bi bi-exclamation-triangle-fill"></i>
                                                <strong th:text="${err}"></strong>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-8">

                                            <select id="fotos-para-eliminar" name="eliminar" hidden multiple>

                                                <!--Aqui cada opcion tendria el id de una imagen del actor almacenada en DB-->
                                                <option th:each="imagen : ${imagenes}"
                                                        th:id="|img-${imagen.id}|"
                                                        th:value="${imagen.id}"></option>
                                            </select>

                                            <div class="sign__group">
                                                <input hidden th:field="*{id}">
                                            </div>

                                            <div class="sign__group">
                                                <label for="nombres">Nombre</label>
                                                <input class="sign__input"  style="width: auto"
                                                       th:field="*{nombres}"
                                                       th:classappend="${#fields.hasErrors('nombres')? 'is-invalid':''}"
                                                       placeholder="Nombre" required>
                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('nombres')}"
                                                     th:errors="*{nombres}"></div>
                                            </div>

                                            <div class="sign__group">
                                                <label for="apellidos">Apellido</label>
                                                <input class="sign__input" style="width: auto"
                                                       th:field="*{apellidos}"
                                                       th:classappend="${#fields.hasErrors('apellidos')? 'is-invalid':''}"
                                                       placeholder="Apellido" required>
                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('apellidos')}"
                                                     th:errors="*{apellidos}"></div>
                                            </div>
                                        </div>

                                        <!--Selector Imagenes-->
                                        <div class="col-md-6 col-12" style="padding-left: 10px">

                                            <!--Encabezado-->
                                            <section class="section section--first" style="margin: 0; padding:10px">
                                                <div class="row">
                                                    <div class="col-md-9 col-10">
                                                        <h1 class="details__title" style="font-size: 1.5rem; margin-bottom: 5px">Imágenes</h1>
                                                    </div>
                                                    <div class="col-md-3 col-2">
                                                        <button class="home__nav home__nav--prev" type="button" style="margin-right: 2px">
                                                            <i class="icon ion-ios-arrow-round-back"></i>
                                                        </button>
                                                        <button class="home__nav home__nav--next" type="button" style="margin-right: 2px">
                                                            <i class="icon ion-ios-arrow-round-forward"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </section>

                                            <div>
                                                <div class="row align-items-center">
                                                    <div class="col-12 col-sm-12">

                                                        <!--Visor de Imagenes-->
                                                        <div class="owl-carousel photo__carousel" id="img_container">

                                                            <div class="item old" th:each="foto : ${imagenes}">
                                                                <div class="card__cover">

                                                                    <img th:src="${foto.ruta}" style="margin-inline: auto;max-height: 150px;max-width: fit-content;">

                                                                    <a class="card__play" style="cursor: pointer" th:onclick="|eliminarEnDB(${foto.id})|">
                                                                        <i class="bi bi-x" style="color: white"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Boton para agregar imagenes -->
                                                        <div class="card__wrap">
                                                            <label class="input__btn" for="file-input" style="margin: auto;margin-top: 5px;">
                                                                Nueva Foto
                                                            </label>
                                                            <input name="imagenes" type="file" id="file-input" accept="image/png, image/jpeg"
                                                                   style="display: none" onchange="preview()" multiple>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-6" style="justify-content: center">
                                            <a th:href="@{/admin/actores}" class="sign__btn">Cancelar</a>
                                        </div>

                                        <div class="col-6" style="justify-content: center">
                                            <button class="sign__btn" type="submit">Registrar
                                            </button>
                                        </div>

                                    </div>
                                </form>
                                <!-- end authorization form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: js(~{::script})">
            <script>
                // El input donde se agregan las imágenes
                let fileInput = document.getElementById("file-input");
                // Donde se muestran las vistas previas
                let imgContainer = document.getElementById("img_container");

                // Se conservan las fotos almacenadas en DB y las nuevas fotos
                // se reemplazan cada vez que se sube un grupo de fotos
                let itemsAntiguos = imgContainer.getElementsByClassName("old");
                let contenido = "";

                for(jj=0; jj<itemsAntiguos.length; jj++){
                    if(!itemsAntiguos[jj].parentElement.classList.contains("cloned")){
                        contenido += itemsAntiguos[jj].innerHTML;
                    }
                }

                // Agrega y quita imagenes de la vista previa e input
                function preview(){

                    // Deja solo las imágenes de la DB, para posteriormente agregar las nuevas
                    imgContainer.innerHTML = contenido

                    for(i of fileInput.files){

                        let reader = new FileReader();

                        // Contenedor de la imagen + botones
                        let item = document.createElement("div");
                        item.className="item";

                        // Overlay para eliminar
                        let cover = document.createElement("div");
                        cover.className="card__cover";

                        // Botón de eliminar
                        let button = document.createElement("a");
                        button.className = "card__play new";
                        button.setAttribute("style","cursor: pointer")
                        cover.appendChild(button)

                        // Activar la opción de borrar imagen
                        button.onclick = function (){

                            const dt = new DataTransfer()

                            //lista con todas las fotos NUEVAS (Agregadas al editar) en el imgContainer
                            let items = document.querySelectorAll('div.owl-item:not( .cloned) > div > div > a.new');

                            // console.log("Antes", fileInput.files)

                            // Se quita del input la imagen mostrada
                            for (let i = 0; i < items.length; i++) {
                                let item = items[i].parentElement.parentElement.parentElement;

                                if (item.className !== "owl-item active") {
                                    let file = fileInput.files[i];
                                    // console.log(file, item.className)
                                    dt.items.add(file);
                                }
                            }
                            // Se actualiza el input
                            fileInput.files = dt.files;
                            // console.log("Despues",fileInput.files)

                            // Se elimina la imagen en la vista previa
                            cover.parentElement.parentElement.remove();
                            refresh()
                        };

                        // Icono de la cruz
                        let close = document.createElement("i");
                        close.className = "bi bi-x";
                        close.setAttribute("style","color: white")

                        button.appendChild(close)

                        // Crea las imágenes de la vista previa
                        reader.onload=()=>{
                            let img = document.createElement("img");
                            img.setAttribute("src",reader.result);

                            cover.appendChild(img);
                        }
                        item.appendChild(cover)

                        imgContainer.appendChild(item);
                        reader.readAsDataURL(i);
                    }

                    // Vuelve a cargar el deslizador
                    refresh()
                }

                // Actualiza la vista previa, despues de agregar o quitar imágenes
                function refresh() {
                    $('.owl-carousel').trigger('destroy.owl.carousel');
                    var $owl = $('.owl-carousel').owlCarousel({
                        loop: true,
                        smartSpeed: 600,
                        margin: 60,
                        items: 1
                    });
                    $owl.trigger('refresh.owl.carousel');
                }

                // Marca una de las imágenes ya en la DB para ser eliminada
                function eliminarEnDB(id){

                    // Se busca en un select la opción correspondiente a la imagen clickeada
                    let opcion = document.getElementById("img-"+id);
                    opcion.selected = "selected";

                    // Se busca la imagen en la vista previa y se elimina
                    let item = imgContainer.getElementsByClassName("active").item(0);
                    //console.log(item)
                    item.remove();

                    refresh()
                }

            </script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
        </div>
    </body>
</html>