<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/header :: head('Lista Salas',~{::style})">
        <style>
            label{
                color: rgba(255,255,255,0.5);
            }
            input:read-only{
                opacity: 50%;
            }
        </style>
    </head>

    <body class="body">

        <header th:replace="fragments/navbar :: admin('sedes','Alonso Rosales')"></header>

        <div class="sign">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="sign__content" style="margin-top: 70px">


                            <!-- authorization form -->
                            <form class="sign__form" method="post" th:action="@{'/sala/guardar'}" th:object="${sala}">

                                <h3 style="text-align: center; color: #FFFFFF; font-size: 3rem; font-family: 'Open Sans', sans-serif;"
                                    th:text="${sala.id == 0 ? 'Nueva Sala' : 'Editar Sala'}">
                                </h3>

                                <div class="sign__group">
                                    <input hidden th:field="*{id}" readonly>
                                </div>

                                <div class="sign__group">
                                    <input hidden name="idsede" th:value="${sede.getId()}">
                                </div>

                                <div class="sign__group">
                                    <label  th:if="${sala.id != 0}" for="identificador">Id Sala</label>
                                    <input class="sign__input" th:hidden="${sala.id == 0}" th:field="*{identificador}" readonly>
                                </div>

                                <div class="sign__group">
                                    <label th:if="${sala.id != 0}" for="numero">Sala #</label>
                                    <input class="sign__input" th:hidden="${sala.id == 0}" th:field="*{numero}" readonly>
                                </div>

                                <div class="sign__group">
                                    <label for="aforo">Aforo</label>
                                    <input class="sign__input" th:field="*{aforo}"
                                           th:classappend="${#fields.hasErrors('aforo')? 'is-invalid':''}"
                                           placeholder="Aforo" required>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('aforo')}"
                                         th:errors="*{aforo}"></div>
                                </div>

                                <div th:if="${sala.id == 0}" class="sign__group sign__group--checkbox" style="text-align: center">
                                    <input class="form-check-input" type="checkbox" value="1"
                                           id="disponibilidad" name="estado">
                                    <label for="disponibilidad">
                                        La sala se mostrará en estado disponible una vez sea creada
                                    </label>
                                </div>

                                <div th:unless="${sala.id == 0}" class="sign__group sign__group--checkbox" style="text-align: center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="estado" value="1"
                                               id="disponible" th:checked="${sala.estado == 1}">
                                        <label class="form-check-label text-light" for="disponible">
                                            Sala disponible
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input text-light" type="radio" name="estado" value="0"
                                               id="nodisponible" th:checked="${sala.estado == 0}">
                                        <label class="form-check-label text-light" for="nodisponible">
                                            Sala no disponible
                                        </label>
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-6" style="justify-content: center">
                                        <a th:href="@{/sala}" class="sign__btn">Cancelar</a>
                                    </div>

                                    <div class="col-6" style="justify-content: center">
                                        <button class="sign__btn" type="submit"
                                                th:text="${sala.id == 0? 'Registrar': 'Actualizar'}">Registrar
                                        </button>
                                    </div>

                                </div>
                            </form>
                            <!-- end authorization form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: js(_)"></div>
    </body>
</html>