<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/header :: head('Lista Salas',_)"></head>

    <body class="body">
        <div th:replace="fragments/navbar :: admin('sedes')"></div>

        <div class="content" style="margin-top: 15px">
            <div  class="container" style="margin-bottom: 30px">

                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${(msg != null) && (msg == '0')}">
                            <i class="bi bi-check-circle-fill"></i>
                            <strong th:text="|Sala con identificador ${identificador} creada exitosamente|"></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${(msg != null) && (msg == '1')}">
                            <i class="bi bi-check-circle-fill"></i>
                            <strong th:text="|Sala con identificador ${identificador} actualizada exitosamente|"></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${(msg != null) && (msg == '-1')}">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            <strong>Ocurrio un error al momento de querer editar</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${(msg != null) && (msg == '2')}">
                            <i class="bi bi-info-circle-fill"></i>
                            <strong th:text="|Se ha cambiado el estado de la sala con identificador ${identificador}|"></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${(msg != null) && (msg == '-2')}">
                            <i class="bi bi-info-circle-fill"></i>
                            <strong th:text="|No puede crear mas salas debido a que alcanzó la cantidad máxima|"></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${(msg != null) && (msg == '3')}">
                            <i class="bi bi-info-circle-fill"></i>
                            <strong th:text="|No se puede deshabilitar una sala con funciones programadas|"></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-md-10 col-12" style="margin-top: 30px;">
                        <h1 class="details__title" style="text-align: center;margin-bottom: 30px;margin-top: 10px;font-size: 3.5rem"
                            th:text="|Sede ${sede.nombre} - Salas|">Sede: Gran Teatro Nacional
                        </h1>
                    </div>

                    <div class="col-md-2 col-12 d-flex justify-content-center">
                        <button style="cursor: pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Nueva sala">
                            <a th:href="@{'/admin/salas/nuevaSala?idsede=' + ${sede.id}}">
                                <img style="height: 55px;margin-top:6px;" th:src="@{/img/iconAdd.png}">
                            </a>
                        </button>
                    </div>
                </div>

                <form method="post" th:action="@{'/admin/salas/filtrar?idsede='+ ${idsede}}">
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-12 sign__group">
                            <input type="number" class="search_input" name="parametro" placeholder="Buscar por # sala" min="0"
                                   th:value="${parametro == null ? 'Busca por # sala' : parametro}">
                        </div>
                        <div class="col-md-3 col-6 sign__group">
                            <select class="search_input" name="buscador">
                                <option value="">Disponibilidad</option>
                                <option th:selected="${buscador eq 'disponible'}" value="disponible">Disponible</option>
                                <option th:selected="${buscador eq 'nodisponible'}" value="nodisponible">No Disponible</option>
                            </select>
                        </div>

                        <div class="col-md-3 col-6 sign__group">
                            <select class="search_input" name="ord">
                                <option value="">Ordenar</option>
                                <option th:selected="${ord eq 'mayor'}" value="mayor">Mayor a Menor</option>
                                <option th:selected="${ord eq 'menor'}" value="menor">Menor a Mayor</option>
                            </select>
                        </div>

                        <div class="col-md-2 col-6 d-flex justify-content-center" style="margin: 0; padding: 0">
                            <button type="submit" class="form__btn" style="width: 80%; margin: 0; font-size: 1.1rem">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-12 col-12" style="margin-top: 50px; overflow-x: auto">
                        <table class="accordion__list" style="text-align: center;display: inline-table;">
                            <thead>
                                <tr>
                                    <th>Sala</th>
                                    <th>Aforo</th>
                                    <th>Estado</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="sala : ${listSalas}">
                                    <td th:text="${sala.identificador+'-'+'Sala'+ ' '+sala.numero}">Sala 1</td>

                                    <td th:text="${sala.aforo +' '+'personas'}">12 personas</td>

                                    <td th:text="${sala.estado == 1 ? 'Disponible' : 'No Disponible' }">Disponible</td>

                                    <td><a class="circulo_botones" th:href="@{'/admin/salas/editarSalas?id=' + ${sala.id}}" style="margin-inline: auto">
                                        <img style="height: 33px;margin-left: 9px;margin-top: 9px;" th:src="@{/img/iconEdit2.png}"></a></td>

                                    <td><a class="circulo_visibilidad" th:title="${sala.estado == 1 ? 'Inhabilitar Sala':'Habilitar Sala'}"
                                           th:onclick="|advertencia(${sala.id},${sala.estado},${idsede})|" th:id="${sala.id}">
                                        <i style="font-size: 2rem; color: #e64166; padding-left: 9px;padding-top: 2px;" class="bi" th:classappend="${sala.estado == 1 ? 'bi-eye-slash-fill' : 'bi-eye-fill'}"></i></a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div th:replace="fragments/paginacion :: paginacion(${pagActual},${pagTotal},'/admin/salas?parametro='+${parametro}+'&idsede='+${idsede}+'&buscador='+${buscador}+'&ord='+${ord}+'&')"></div>
            </div>
        </div>


        <div id="popup" class="overlay">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <form action="#" class="sign__form">
                            <a class="sign__logo">
                                <img th:src="@{/img/tele.png}" alt="logo">
                            </a>
                            <div class="sign__group">
                                <h5 style="color: white;font-size: 5rem;font-size: 25px;font-family: 'Open Sans';font-weight: 900;">
                                    ¿Estás seguro de querer deshabilitar esta Sala?</h5>
                            </div>
                            <a style="color: white;cursor: pointer" onclick="document.getElementById('popup').style.display = 'none'" class="sign__btn">Cancelar</a>
                            <a id="borrar" class="sign__btn">Deshabilitar Sala</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: js(~{::script})">
            <script th:inline="javascript">
                function advertencia(idsala,estado,idsede) {
                    let popup = document.getElementById('popup');

                    let opcion = estado == 0 ? 'Habilitar' : 'Deshabilitar';

                    popup.getElementsByTagName("h5").item(0).innerText = '¿Estás Seguro de Querer ' +opcion+ ' esta Sala?'
                    popup.getElementsByTagName("a").item(2).href = [[@{'/admin/salas/disponibilidad?id='}]] + idsala+'&idsede='+idsede;
                    popup.getElementsByTagName("a").item(2).text = opcion + ' Sala';
                    popup.style.display = 'block';
                }
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous">
            </script>
        </div>
    </body>
</html>